<!-- <app-spinner *ngIf="isVisibleSpinner"></app-spinner> -->
<div class="specialize-component animate" [dir]=" 'dir' | translate " [lang]="lang">
  <!--  =======================================================( landing )======================================================= -->

  <section class=" position-relative justify-content-center align-content-center" #firstSection>
    <div class="roadmap d-flex  align-items-center justify-content-center">
      <div class=" mx-5 p-3 text-center ">
        <h1 class=" fw-bolder mb-3 text-center header title" [class.arabic-font]="rtlDir">
          {{rtlDir?'خدمات التخصصات':'Specialties Services'}}</h1>
        <img class="img-fluid lines-img" src="../../../assets/images/roadmap/lines.png" alt="">
        <div class="mt-2">
          <a routerLink="/home" class="fw-bolder text-success text-decoration-none fs-5">{{'RoadMap.MainTitle' |
            translate}} <i class="fa-solid mx-2 fs-6" [ngClass]="rtlDir? 'fa-angles-left' : 'fa-angles-right'"></i>
          </a>
          <span class=" mx-2 fw-bolder text-capitalize">{{rtlDir?'التخصصات':'Specialties'}}</span>
        </div>
        <form  [formGroup]="searchForm" (ngSubmit)="submitSearch()">
          <div class=" main-search-section d-flex justify-content-center my-4">
            <div
              class=" main-search-filter bg-white  d-flex justify-content-center align-items-center text-white"
              [ngClass]="rtlDir? 'main-search-filter-arabic' : 'main-search-filter-english'">

              <label for="searchSpecialization1" class="h-100 d-flex justify-content-around align-items-center specialize-search">
                <i class="fa-solid fa-tags mx-2" *ngIf="searchForm.controls['name'].value == ''"></i>
                <i class="fa-solid fa-rotate mx-2" *ngIf="searchForm.controls['name'].value != ''" (click)="resetSearch()"></i>
                <input #nameInput id="searchSpecialization1" type="text" class="form-control" name="specialization1-search1"
                  placeholder="{{'specializationPage.SearchName' | translate}}" formControlName="name">
              </label>


              <div class="search-btn-container d-flex justify-content-center w-100">
                <button type="submit" class="search-btn btn px-4 py-2 border-0"><i
                    class="fa-solid fa-magnifying-glass mx-1"></i>{{'SharedData.MainSearchFilterBtn' | translate}}</button>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- <app-roadmap [roadMapLinks]="roadMapLinks"></app-roadmap> -->

  </section>
  <!--  =======================================================( specialization )=======================================================  -->
  <section class="py-5 specialization-section">
    <div class=" container">


    <div class="title text-center" #firstSection>
      <p class=" fw-bold">_ {{"specializationPage.title" | translate}} _</p>
      <h1 [class.arabic-font]="rtlDir">{{"specializationPage.mainTitle" | translate}}</h1>
      <p class="text-muted text-center px-lg-5">{{"specializationPage.description" | translate}}.</p>
    </div>
    <div class="mt-3 p-3"  *ngIf="!noData;else error">
      <div class="row" *ngIf="specializations.length > 0">
        <app-specialize class="col-md-4 rounded mt-3 Specialties_service animation" *ngFor="let specialize of specializations | paginate :{id:'listing-pagination',
        itemsPerPage:numSepicaistPerPage,
        currentPage:page,
        totalItems:totalRecords } ;  let index = index" [specialize]="specialize" [index]="index" (specializeDetail)="handleSpecialize($event)"></app-specialize>
      </div>
      <div class="row" *ngIf="specializations.length == 0">
        <div class="col-lg-4 col-md-6 py-3" *ngFor="let item of [0,0,0,0,0,0]">
          <ngx-skeleton-loader class="rounded-0 rounded-top" appearance="line" [theme]="{height: '220px', background: '#dbd9d9', marginBottom: '-5px'}"></ngx-skeleton-loader>
          <div class="p-3 bg-white rounded-bottom">
            <ngx-skeleton-loader appearance="line" [theme]="{background: '#dbd9d9', width: '60%'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader appearance="line" [theme]="{background: '#dbd9d9', width: '50%'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader appearance="line" [theme]="{background: '#dbd9d9', width: '80%'}"></ngx-skeleton-loader>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center" *ngIf="totalRecords != specializations.length">
        <pagination-controls id="listing-pagination" class="specialization-pagination" (pageChange)="changePage($event)" previousLabel="" nextLabel="" [ngClass]="rtlDir? 'pagination-arabic' : 'pagination-english'">

        </pagination-controls>
      </div>
    </div>

    <ng-template #error>

      <div class=" search-empty text-center p-5 bg-white rounded">
          <div class="my-4">
            <i class="fa-solid fa-tags search-icon"></i>
          </div>
          <div class="search-empty-content">
              <div class="my-3">
                  <h2 class="fw-bold">{{"specializationPage.EmptySpecializations.Title" | translate}}</h2>
              </div>
              <p class="text-muted">{{"specializationPage.EmptySpecializations.paragraph" | translate}}</p>
          </div>
      </div>

  </ng-template>
    <!-- <ng-template #error>
      <div class="alert alert-danger text-center my-3" role="alert">
        <div class=" d-flex align-items-center justify-content-center">
          <i class="fa-solid fa-triangle-exclamation mx-2"></i>
          <div *ngIf="noDataError?.name != null;else noData">
            {{noDataError?.name}}
          </div>
          <ng-template #noData>
            {{"SharedData.NoDataError" | translate}}
          </ng-template>
        </div>
        <h3 class="my-2">{{'SharedData.ErrorMessage' | translate}}</h3>
      </div>
    </ng-template> -->
  </div>
  </section>
</div>
<!-- Modal -->
<div class="modal fade" id="specializeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{specializeDetails.name}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <section class="specialize-details-section py-5">
          <div class="container">
              <a (click)="filterDoctors(specializeDetails.id, specializeDetails.name)" data-bs-dismiss="modal">
                  <section class="py-5 bg-white rounded row">
                      <div class="col-md-6 d-flex align-items-center justify-content-center">
                          <div class="specialize-details-img">
                              <img class="img-fluid rounded default-img" [src]="specializeDetails.photo || defaultSpecializationImg" alt="Medicine image"/>
                          </div>
                      </div>
                      <div class="p-4 col-md-6 specialize-details-content d-flex align-items-center">
                          <div>
                              <p class="text-muted">{{specializeDetails.description}}</p>
                          </div>
                      </div>
                  </section>
              </a>
          </div>
      </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <!-- Modal -->
  <!-- <div class="modal fade" id="specializeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


        </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
  </div> -->
