@import '../../../../../colors.scss';


.accordion-item {
    background-color: $lightGreyColor;
    padding: 5px 15px;
    margin-bottom: 20px;
    border-radius: 10px !important;
    // padding-bottom: 10px;

    .accordion-header {
        .accordion-button {
            font-weight: 900;
            background-color: transparent !important;
            outline: none !important;
            box-shadow: none !important;
            color: $mainColor ;

            &.collapsed {
                color: black !important;
            }            
        }
    }

    .accordion-body {
        background-color: white;
        border-radius: 5px;
        margin: 15px;
        white-space: pre-line !important;
    }
}



