<div class="animate" [dir]=" 'dir' | translate " [lang]="lang">
  <!--  =======================================================( landing )======================================================= -->

  <section class=" position-relative justify-content-center align-content-center" #firstSection>
    <!-- <div class="roadmap d-flex  align-items-center justify-content-center">
      <div class=" mx-5 p-3 text-center ">
        <h1 class=" fw-bolder mb-3 text-center header title" [class.arabic-font]="rtlDir">{{'navbar.navlink2' | translate}}</h1>
        <img class="img-fluid lines-img" src="../../../assets/images/roadmap/lines.png" alt="">
        <div class="mt-2">
          <a routerLink="/home" class="fw-bolder text-success text-decoration-none fs-5">{{'RoadMap.MainTitle' |
            translate}} <i class="fa-solid mx-2 fs-6" [ngClass]="rtlDir? 'fa-angles-left' : 'fa-angles-right'"></i>
          </a>
          <span class=" mx-2 fw-bolder text-capitalize">{{'navbar.navlink2' | translate}}</span>
        </div>
      </div>
    </div> -->

    <app-roadmap [roadMapLinks]="roadMapLinks"></app-roadmap>

  </section>
  <!--  =======================================================( articles )=======================================================  -->
  <section class="  articles">
    <div class="container py-5">
      <div *ngIf="!noData;else error">
        <div class="title text-center">
          <p class=" fw-bold">_ {{'navbar.navlink2' | translate}} _</p>
          <h1 [class.arabic-font]="rtlDir">{{"SharedData.articales-mainTitle" | translate}}</h1>
          <p class="text-muted text-center px-lg-5">{{"SharedData.articalesp" | translate}}.</p>
        </div>
        <div class="row mt-3 " *ngIf="articles.length > 0">
          <app-article class="col-lg-4 col-md-6 py-2" [article]="articale" *ngFor="let articale of articles | paginate :{id:'listing-pagination',
          itemsPerPage:numArticlesPerPage,
          currentPage:page,
          totalItems:totalRecords }"></app-article>
        </div>
        <div class="row" *ngIf="articles.length == 0">
          <div class="col-lg-4 col-md-6 py-2" *ngFor="let item of [0,0,0,0,0,0]">
            <div class="skeleton-article-card rounded card">
              <div class="p-2">
                <ngx-skeleton-loader appearance="line" [theme]="{height: '220px', background: '#dbd9d9', marginBottom: '0px'}"></ngx-skeleton-loader>

              </div>
              <div class="p-3  rounded-bottom">
                <div class="row">
                  <div class="col-6">
                    <ngx-skeleton-loader appearance="line" [theme]="{background: '#dbd9d9'}"></ngx-skeleton-loader>
                  </div>
                  <div class="col-6">
                    <ngx-skeleton-loader appearance="line" [theme]="{background: '#dbd9d9'}"></ngx-skeleton-loader>
                  </div>
                </div>
                <div class="row">
                  <div class="col-9">
                    <ngx-skeleton-loader appearance="line" [theme]="{background: '#dbd9d9', marginTop: '5px'}"></ngx-skeleton-loader>
                  </div>
                </div>
            </div>
            </div>
          </div>
      </div>
        <div class="d-flex justify-content-center align-items-center" *ngIf="totalRecords != articles.length">
          <pagination-controls id="listing-pagination" class="doctors-pagination" (pageChange)="changePage($event)" previousLabel="" nextLabel="" [ngClass]="rtlDir? 'pagination-arabic' : 'pagination-english'">
  
          </pagination-controls>
        </div>
      </div>
      
      
    </div>

    <ng-template #error>

      <div class=" search-empty text-center p-5 rounded bg-white">
          <div class="my-4">
            <i class="fa-solid fa-newspaper search-icon"></i>
          </div>
          <div class="search-empty-content">
              <div class="my-3">
                  <h2 class="fw-bold">{{"errors.no-articales" | translate}}</h2>
              </div>
              <p class="text-muted">{{"errors.no-articalesp" | translate}}</p>
          </div>
      </div>

    </ng-template>
  </section>
</div>
