<div class="animate" [dir]=" 'dir' | translate " [lang]="lang">
  <!--  =======================================================( landing )======================================================= -->

  <section class=" position-relative justify-content-center align-content-center" #firstSection>
    <!-- <div class="roadmap d-flex  align-items-center justify-content-center">
      <div class=" ms-5 p-3 text-center ">
        <h1 class=" fw-bolder mb-3 text-center header title" [class.arabic-font]="rtlDir">{{'navbar.navlink2' | translate}}</h1>
        <img class="img-fluid lines-img" src="../../../assets/images/roadmap/lines.png" alt="">
        <div class="mt-2">
          <a routerLink="/home" class="fw-bolder text-success text-decoration-none fs-5">{{'RoadMap.MainTitle' |
            translate}} <i class="fa-solid ms-2 fs-6" [ngClass]="rtlDir? 'fa-angles-left' : 'fa-angles-right'"></i>
          </a>
          <span class=" ms-2 fw-bolder text-capitalize">{{'navbar.navlink2' | translate}}</span>
        </div>
      </div>
    </div> -->
    
    <app-roadmap [roadMapLinks]="roadMapLinks"></app-roadmap>

  </section>
  <!--  =======================================================( articles )=======================================================  -->
  <section class=" mt-5 container">
    <div class="title text-center">
      <p class=" fw-bold">_ {{'navbar.navlink2' | translate}} _</p>
      <h1 [class.arabic-font]="rtlDir">{{"SharedData.articales-mainTitle" | translate}}</h1>
      <p class="text-muted text-center ps-lg-5">{{"SharedData.articalesp" | translate}}.</p>
    </div>
    <div class="row mt-3 p-3 justify-content-center row"  *ngIf="!noData;else error">
      <app-article class="col-md-4" [article]="articale" *ngFor="let articale of articles"></app-article>
    </div>
    <ng-template #error>

      <div class=" search-empty text-center p-5 rounded mb-5">
          <div class="my-4">
            <i class="fa-solid fa-newspaper search-icon"></i>
          </div>
          <div class="search-empty-content">
              <div class="my-3">
                  <h2 class="fw-bold">{{"errors.no-articales" | translate}}</h2>
              </div>
              <p class="text-muted">{{"errors.no-articalesp" | translate}}</p>
          </div>
      </div>

  </ng-template>
  </section>
</div>
