@import "../../../../../colors.scss";


.created-fixed-width {
  max-width: 400px;
  height: auto;
  max-height: 400px;
}


.article-details {
  width: 80%
}

.article-details-container {
  background-color: $lightGreyColor;
}

.article-details-content {
  display: flex;
  justify-content: space-between;
}

@media (width <=768px) {
  .article-details-content {
    display: block;
    div {
      margin-top: 5px;
      font-size: 1rem;
    }
  }
}