@import '../../../../../pagination.scss';
@import '../../../../../filters.scss';

  
/* =======================================================( First Section )======================================================= */

// Roadmap Design
.roadmap {
    background-image: url(../../../../../assets/images/roadmap/AI-and-Medicine.jpg);
    height: 50vh;
    background-size: cover;
    overflow: hidden;
  
    >div {
      background: rgba(255, 255, 255, 0.8);
      // opacity: 0.8;
      width: 88%;
      max-height: 100%;
      
      .header {
        color: #003367;
      }
  
      .lines-img {
        transform: translateY(-50%);
      }
    }
  }
  
  
// Main Search
.roadmap {
    .filter-count {
        color: #003367;
        font-weight: bold;
    }
    
    /* first search filter method */
    .main-search-section {

        .main-search-title {
            font-family: 'Roboto Condensed', sans-serif;
        }
        
        h1 {
            font-size: 19px;
        }

        h3 {
            font-size: 16px;
            i {
                color: #c4c3c3;
            }
        }
        
        .doctors-img {
            img {
                height: 240px;
            }
        }
        
        ul {
            list-style: none;
            i {
                color: #c4c3c3;
                font-size: 8px;
            }
        }
        
        // Main-Search-Filter (select2)
        .main-search-filter {
            box-shadow: rgb(204, 204, 204) 0px 0px 10px;
            height: 60px;
            // border-radius: 15px;
            border-radius: 50px;
            border: 2px solid white;
            z-index: 50;
            
            .medicine-search {
                cursor: pointer;
                padding-left: 10px;
                padding-right: 10px;
                
                i {
                    color: $mainColor;
                }
                
                input {
                    border: 0;
                    box-shadow: none !important;
                    color: $mainColor;
                    width: 180px ;
                    padding: 0;
                    &::placeholder {
                        color: $mainColor;
                        opacity: 1; /* Firefox */
                    }
                    
                    &::-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: $mainColor;
                    }
                    
                    &::-ms-input-placeholder { /* Microsoft Edge */
                        color: $mainColor;
                    }
                }
            }
            
            /* search filter button */
            .search-btn-container {
                height: 100%;
                
                .search-btn {
                    width: 125px;
                    height: 100%;
                    background-color: rgb(64, 193, 255);
                    color: white;
                    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px;
                    border-radius: 50px;
                    
                    &:hover {
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                    }
                }
            }
        }

    }
}
/* =======================================================( Second Section )======================================================= */

.medicines-list-section {
    background-color: #E2E6EA;
    
    // 1. link to home
    .medicines-roadmap {
        a {
            color: $mainColor6;
        }
    }



    /* =======================================================( Aside Style )======================================================= */

    // 2. Aside Filter in General
    .aside-filter {
        display: block;
        position: relative;
        height: 100%; /* to make it's allignment equals to doctor-list allignment put calc(100% - 50px - 1.5rem) */

        #accordionExample {
            position: sticky;
            top: 50px;
        }
    }

    /* =======================================================( filtered-content )======================================================= */
    
    // 3. filtered medicines
    .filtered-content {

        #small-filter-btn {
            .accordion-title{
                cursor: pointer !important;
                color: white;
                box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
                width: 100%;
                padding: 1rem 1.25rem;
                font-size: 1rem;
                text-align: left;
                background: $mainColor2;
    
                h4 {
                    font-size: 18px;
                }
    
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
            }
        }

        .filtered-content-title {
            p {
                font-size: 15px;
            }
        
            h2 {
                font-size: 20px;
            }
        
            .filtered-title {
                font-family: "Roboto Condensed", sans-serif;
        
                span {
                    &::after {
                        content: " ,";
                        // color: black;
                    }
            
                    &:last-child {
                        &::after {
                            content: "";
                        }
                    }
                }
            }
        }
    }
}


/* =======================================================( small-filter Section )======================================================= */


#small-filter {
    .small-filter-content {
        .small-filter-item {
            .small-filter-body {
                .fa-arrows-left-right {
                    font-size: 2rem;
                }
            
                label {
                    &:hover {
                        cursor: pointer;
                    }
                }
            
                .accordion-body-item {
                    &:last-child {
                        border-bottom: 0 !important;
                    }
                }
            }
        }
    }
}


// shared style
.small-filter-body,
.accordion-body {
    .price-filter {
        .price-value {
            background-color: #f0f0f0;
        }

        .price-search {
            button {
                background-color: $mainColor6;
                color: white;
            }
        }
    }
    
}

.ngx-slider::ng-deep {
    .ngx-slider-pointer {
        width: 20px;
        height: 20px;
        top: -10px;

        &::after {
            top: 6px;
            left: 6px;
        }
    }
}


/* =======================================================( Media Query )======================================================= */

@media (width <=1200px) {
    .accordion {
        width: 100% !important;
    }
}

@media (width <=992px) {

    .filtered-content-title {
        justify-content: center;
    }

    .medicines-roadmap {
        text-align: center;
    }

    .accordion {
        display: none;
    }

    #small-filter-btn {
        display: flex !important;
    }

    .aside-filter {
        display: none !important;
    }
}


@media (width <=768px) {
    .medicine-search {
        input {
            width: 160px !important;
            font-size: 0.9rem;
        }
    }
    .search-btn {
        width: 110px !important;
        font-size: 0.8rem;
    }
}
