<!-- <app-spinner *ngIf="isVisibleSpinner"></app-spinner> -->

<div class="medicine-details-component animate" [dir]=" 'dir' | translate "  [lang]="lang">
    <!--  =======================================================( landing )======================================================= -->

    <section class=" position-relative justify-content-center align-content-center" #firstSection>
        <!-- <div class="roadmap d-flex  align-items-center justify-content-center">
            <div class=" ms-5 p-3 text-center ">
                <h1 class=" fw-bolder mb-3 text-center header title" [class.arabic-font]="rtlDir">{{rtlDir?'تفاصيل القسم':'specialize Details'}}</h1>
                <img class="img-fluid lines-img" src="../../../assets/images/roadmap/lines.png" alt="">
                <div class="mt-2">
                    <a routerLink="/home" class="fw-bolder text-success text-decoration-none fs-5">
                        {{'RoadMap.MainTitle' | translate}} 
                        <i class="fa-solid ms-2 fs-6" [ngClass]="rtlDir? 'fa-angles-left' : 'fa-angles-right'"></i>
                    </a>
                    <a routerLink="/specializations" class="fw-bolder text-success text-decoration-none fs-5">
                        {{rtlDir?'الاقسام':'Specialities'}} 
                        <i class="fa-solid ms-2 fs-6" [ngClass]="rtlDir? 'fa-angles-left' : 'fa-angles-right'"></i>
                    </a>
                <span class=" ms-2 fw-bolder text-capitalize">{{rtlDir?'تفاصيل القسم':'specialize Details'}}</span>
                </div>
            </div>
        </div> -->

        <app-roadmap [roadMapLinks]="roadMapLinks"></app-roadmap>

    </section>    
    
    <!-- =============================================================================================================== -->

    <section class="specialize-details-section py-5">
        <div class="container">
            <a (click)="filterDoctors(specializeDetails.id, specializeDetails.name)">
                <section class="py-5 bg-white rounded row">
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <div class="specialize-details-img">
                            <img class="img-fluid rounded default-img" [src]="specializeDetails.photo || defaultMedicineImg" alt="Medicine image"/>
                        </div>
                    </div>
                    <div class="p-4 col-md-6 specialize-details-content d-flex align-items-center">
                        <div>
                            <h2 class="title fw-bold">{{specializeDetails.name}}</h2>
                            <p class="text-muted">{{specializeDetails.description}}</p>
                        </div>
                    </div>
                </section>

            </a>
        </div>
    </section>
    
</div>
