<app-spinner *ngIf="isVisibleSpinner"></app-spinner>

<div class="medicine-details-component" [dir]=" 'dir' | translate "  [lang]="lang">
    <!--  =======================================================( landing )======================================================= -->

    <section class=" position-relative justify-content-center align-content-center" #firstSection>
        <div class="roadmap d-flex  align-items-center justify-content-center">
            <div class=" ms-5 p-3 text-center ">
                <h1 class=" fw-bolder mb-3 text-center header title" [class.arabic-font]="rtlDir">{{rtlDir?'تفاصيل الدواء':'Medicine Details'}}</h1>
                <img class="img-fluid lines-img" src="../../../assets/images/roadmap/lines.png" alt="">
                <div class="mt-2">
                    <a routerLink="/home" class="fw-bolder text-success text-decoration-none fs-5">
                        {{'RoadMap.MainTitle' | translate}} 
                        <i class="fa-solid ms-2 fs-6" [ngClass]="rtlDir? 'fa-angles-left' : 'fa-angles-right'"></i>
                    </a>
                    <a routerLink="/pharmacy" class="fw-bolder text-success text-decoration-none fs-5">
                        {{rtlDir?'الصيدلية':'Pharmacy'}} 
                        <i class="fa-solid ms-2 fs-6" [ngClass]="rtlDir? 'fa-angles-left' : 'fa-angles-right'"></i>
                    </a>
                <span class=" ms-2 fw-bolder text-capitalize">{{rtlDir?'تفاصيل الدواء':'Medicine Details'}}</span>
                </div>
            </div>
        </div>
    </section>    
    
    <!-- =============================================================================================================== -->

    <section class="medicine-details-section py-5">
        <div class="container">
            <section class="py-5 bg-white rounded row">
                <div class="col-md-6 d-flex align-items-center justify-content-center">
                    <div class="medicine-details-img">
                        <img class="img-fluid rounded default-img" [src]="medicineDetails.photo || defaultMedicineImg" alt="Medicine image"/>
                    </div>
                </div>
                <div class="p-4 col-md-6 medicine-details-content d-flex align-items-center">
                    <div>
                        <h2 class="title fw-bold">{{medicineDetails.name}}</h2>
                        <p class="lead price">{{medicineDetails.price}} {{"SharedData.Currency" | translate}}</p>
                        <p class="text-muted">{{medicineDetails.description}}</p>
                        <div class="d-flex flex-wrap align-items-center border p-4 rounded my-4 add-to-cart-block">
                            <span class="fw-bold me-2">{{"MedicineDetails.Quantity" | translate}} </span>
                            <!-- <div class="quantity-counter">
                                <button class="btn btn-minus py-2" (click)="decrease()">-</button>
                                <span class="fw-light fs-6 mx-1">{{medicineQuantity}}</span>
                                <button class="btn btn-plus py-2" (click)="increase()">+</button>
                            </div> -->
                            <span>{{medicineQuantity}}</span>
                            <button (click)="addCart(medicineDetails.id)" class="btn cart-btn ms-2 me-3 my-2" type="button" [disabled]="medicineQuantity>=5"><i class="fa-solid fa-cart-shopping me-2"></i>{{"SharedData.AddToCartBtn" | translate}}</button>
                            <div class="d-flex align-items-center favorite-btn" *ngIf="isLogedIn">
                                <button (click)="addFavorite($event)" class="btn d-flex align-items-center" [ngClass]="favoriteAdded? 'btn-active' : 'btn-not-active'"><i class="fa-solid favorite-icon fs-5" [ngClass]="favoriteAdded? ['fa-heart-circle-check','favorite-container-active'] : ['fa-heart-circle-plus','favorite-container-not-active']" ></i>{{favoriteAdded? ('SharedData.RemoveFromFavoriteBtn' | translate) :('SharedData.AddToFavoriteBtn' | translate)}}</button>
                                
                            </div>
                        </div>
                        
                        <ul class="additional-details list-group">
                            <li><span class="fw-bold">{{"MedicineDetails.Factory" | translate}} </span>{{medicineDetails.manufactured_by}}</li>
                            <li><span class="fw-bold">{{"MedicineDetails.Category" | translate}} </span>{{medicineDetails.category.name}}</li>
                            <!-- <li><span class="fw-bold">{{"MedicineDetails.Specialization" | translate}} </span>{{medicineDetails.section.name}}</li> -->
                        </ul>
                    </div>
                </div>
            </section>

            <section class="related-section py-5 bg-white rounded my-5 row"  *ngIf="categoryMedicines?.length > 1 && categoriesLoaded">
                <div class="related-title mb-5">
                    <h2>Related Medicines</h2>
                </div>
                <app-carousel [carouselClass]="'related-section'" [carouselType]="relatedCarousel" [carouselItems]="categoryMedicines"></app-carousel>

<!-- 
                <owl-carousel-o [options]="specializationCarousel" class="specialization-carousel" [ngClass]="rtlDir? 'specialization-carousel-arabic' : 'specialization-carousel-english'">
                    <ng-template carouselSlide>
                            <div class="specialization">
                              <app-medicine [medicine]="medicineDetails" ></app-medicine>
                            </div> 
                    </ng-template>  
                    <ng-template carouselSlide>
                        
                            <div class="specialization">
                                <app-medicine [medicine]="medicineDetails" ></app-medicine>
                            </div> 
                          
                    </ng-template>  
                    <ng-template carouselSlide>
                            <div class="specialization">
                                <app-medicine [medicine]="medicineDetails" ></app-medicine>
                            </div> 
                    </ng-template>  
                    <ng-template carouselSlide>
                            <div class="specialization">
                                <app-medicine [medicine]="medicineDetails" ></app-medicine>
                            </div> 
                    </ng-template>
                    <ng-template carouselSlide>
                            <div class="specialization">
                                <app-medicine [medicine]="medicineDetails" ></app-medicine>
                            </div> 
                    </ng-template>
                  </owl-carousel-o> -->
            </section>
        </div>
    </section>
    
</div>