
<div class="medicine-details-component animate" [dir]=" 'dir' | translate "  [lang]="lang">
    <!--  =======================================================( landing )======================================================= -->

    <section class=" position-relative justify-content-center align-content-center" #firstSection>
        <!-- <div class="roadmap d-flex  align-items-center justify-content-center">
            <div class=" mx-5 p-3 text-center ">
                <h1 class=" fw-bolder mb-3 text-center header title" [class.arabic-font]="rtlDir">{{rtlDir?'تفاصيل الدواء':'Medicine Details'}}</h1>
                <img class="img-fluid lines-img" src="../../../assets/images/roadmap/lines.png" alt="">
                <div class="mt-2">
                    <a routerLink="/home" class="fw-bolder text-success text-decoration-none fs-5">
                        {{'RoadMap.MainTitle' | translate}} 
                        <i class="fa-solid mx-2 fs-6" [ngClass]="rtlDir? 'fa-angles-left' : 'fa-angles-right'"></i>
                    </a>
                    <a routerLink="/pharmacy" class="fw-bolder text-success text-decoration-none fs-5">
                        {{rtlDir?'الصيدلية':'Pharmacy'}} 
                        <i class="fa-solid mx-2 fs-6" [ngClass]="rtlDir? 'fa-angles-left' : 'fa-angles-right'"></i>
                    </a>
                <span class=" mx-2 fw-bolder text-capitalize">{{rtlDir?'تفاصيل الدواء':'Medicine Details'}}</span>
                </div>
            </div>
        </div> -->

        <app-roadmap [roadMapLinks]="roadMapLinks"></app-roadmap>

    </section>    
    
    <!-- =============================================================================================================== -->

    <section class="medicine-details-section py-5">
        <div class="container">
            <section class="py-5 bg-white rounded row">
                <div class="col-md-6 d-flex align-items-center justify-content-center">
                    <div class="medicine-details-img">
                        <img class="img-fluid rounded default-img" [src]="medicineDetails.photo || defaultMedicineImg" alt="Medicine image"/>
                    </div>
                </div>
                <div class="p-4 col-md-6 medicine-details-content d-flex align-items-center">
                    <div>
                        <h2 class="title fw-bold">{{medicineDetails.name}}</h2>
                        <p class="lead price">{{medicineDetails.price}} {{"SharedData.Currency" | translate}}</p>
                        <p class="text-muted">{{medicineDetails.description}}</p>
                        <div class=" add-to-cart-block">
                            <!-- <span class="fw-bold me-2">{{"MedicineDetails.Quantity" | translate}} </span> -->
                            <!-- <div class="quantity-counter">
                                <button class="btn btn-minus py-2" (click)="decrease()">-</button>
                                <span class="fw-light fs-6 mx-1">{{medicineQuantity}}</span>
                                <button class="btn btn-plus py-2" (click)="increase()">+</button>
                            </div> -->
                            <!-- <span>{{medicineQuantity}}</span> -->
                            <button (click)="addCart(medicineDetails.id)" class="btn cart-btn my-2 rounded d-flex align-items-center" type="button" [disabled]="isDisableBtn || isVisibleAddSpinner">
                                <i class="fa-solid fa-cart-shopping mx-2" *ngIf="!isVisibleAddSpinner"></i>
                                <div class="cart-spinner mx-1" *ngIf="isVisibleAddSpinner"></div>

                                {{"SharedData.AddToCartBtn" | translate}}
                            </button>
                            <div class=" favorite-btn border-0 my-2" *ngIf="isLogedIn">
                                <button (click)="addFavorite($event)" class="btn p-0 border-0 text-uppercase fw-bold" [ngClass]="favoriteAdded? 'btn-active' : 'btn-not-active'"><i class="fa-solid favorite-icon fs-5" [ngClass]="favoriteAdded? ['fa-heart-circle-check','favorite-container-active'] : ['fa-heart-circle-plus','favorite-container-not-active']" ></i>{{favoriteAdded? ('SharedData.RemoveFromFavoriteBtn' | translate) :('SharedData.AddToFavoriteBtn' | translate)}}</button>
                                
                            </div>
                        </div>
                        
                        <ul class="additional-details list-group p-1">
                            <li><span class="fw-bold">{{"MedicineDetails.Factory" | translate}} </span>{{medicineDetails.manufactured_by}}</li>
                            <li><span class="fw-bold">{{"MedicineDetails.Category" | translate}} </span>{{medicineDetails.category.name}}</li>
                            <!-- <li><span class="fw-bold">{{"MedicineDetails.Specialization" | translate}} </span>{{medicineDetails.section.name}}</li> -->
                        </ul>
                    </div>
                </div>
            </section>

            <section class="related-section py-5 bg-white rounded my-5 row" [class.d-none]="categoryMedicines.length <= 2"> <!--  *ngIf="categoryMedicines.length > 1 && categoriesLoaded"-->
                <div class="related-title mb-5">
                    <h2>Related Medicines</h2>
                </div>
                <app-carousel [carouselClass]="'related-section'" [carouselType]="relatedCarousel" [carouselItems]="categoryMedicines"></app-carousel>



  <!-- <owl-carousel class="related-carousel" [options]="relatedCarousel" [items]="categoryMedicines" [carouselClasses]="['owl-theme', 'sliding']" [ngClass]="rtlDir? 'related-carousel-arabic' : 'related-carousel-english'" >
    <div *ngFor="let medicine of categoryMedicines">
      <div class="related">
        <app-medicine class="col-xl-4 col-sm-6 py-3" [medicine]="medicine"></app-medicine>
      </div>
    </div>
  </owl-carousel> -->
                <!-- 
                <owl-carousel-o [options]="specializationCarousel" class="specialization-carousel" [ngClass]="rtlDir? 'specialization-carousel-arabic' : 'specialization-carousel-english'">
                    <ng-template carouselSlide>
                            <div class="specialization">
                              <app-medicine [medicine]="medicineDetails" ></app-medicine>
                            </div> 
                    </ng-template>  
                    <ng-template carouselSlide>
                        
                            <div class="specialization">
                                <app-medicine [medicine]="medicineDetails" ></app-medicine>
                            </div> 
                          
                    </ng-template>  
                    <ng-template carouselSlide>
                            <div class="specialization">
                                <app-medicine [medicine]="medicineDetails" ></app-medicine>
                            </div> 
                    </ng-template>  
                    <ng-template carouselSlide>
                            <div class="specialization">
                                <app-medicine [medicine]="medicineDetails" ></app-medicine>
                            </div> 
                    </ng-template>
                    <ng-template carouselSlide>
                            <div class="specialization">
                                <app-medicine [medicine]="medicineDetails" ></app-medicine>
                            </div> 
                    </ng-template>
                  </owl-carousel-o> -->
            </section>
        </div>
    </section>
    
</div>