@import '../../../../../styles.scss';




.medicine-details-section {
    background-color: $lightGreyColor;

    .medicine-details-img {
      img {
        max-height: 550px;
      }
    }

    .medicine-details-content {
        h2 {
            font-size: 1.75rem;
            margin-bottom: 1.5rem;
            // font-weight: 600;
        }

        .price {
            font-size: 1.5rem;
            font-weight: 900;
            color: #eb3a7b;
        }

        .add-to-cart-block {
          .quantity-counter {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            border-radius: 30px;
            border: 1px solid #e6e6e6;

            .form-control {
              text-align: center;
              width: 50px;
              margin: 0 10px;
              outline: none !important;
              box-shadow: none !important;
              border: 0;
            }

            .btn {
              font-size: 1.5rem;
              line-height: 1;
              padding: 0.25rem 0.5rem;
              outline: none !important;
              box-shadow: none !important;
              border: 0 !important;
              padding: 15px;
              font-size: 1.5rem;

              &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-top-left-radius: inherit;
                border-bottom-left-radius: inherit;
              }

              &:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-top-right-radius: inherit;
                border-bottom-right-radius: inherit;
              }
            }
          }

          .cart-btn {
            // padding: 10px 20px;
            // border-radius: 30px;
            background-color: $mainColor6 ;
            font-size: 1.2rem;
            padding: 10px 25px;
            color: white;
            &:hover{
                background-color: $mainColor;
            }
          }

          .favorite-btn {
            button {
              border-radius: 25px;
              transition: all .2s ease-in-out;

              &.btn-active {
                // background-color: red;
                // border: none;

                color: rgb(198, 2, 2);
              }

              &.btn-not-active {
                // background-color: white;
                // border: 1px solid red;
                // color: red;
                color: #636363;
              }

              .favorite-icon {
                transition: all .2s ease-in-out;
                cursor: pointer;
                padding: 5px;
                // border-radius: 50%;
                pointer-events: none;
                // width: 40px;
                // height: 40px;
                // display: flex;
                // justify-content: center;
                // align-items: center;

                &.favorite-container-active {
                  // background-color: rgba(255, 0, 0, 0.8);
                  // color: white;
                  color: rgb(198, 2, 2);
                }
            
                &.favorite-container-not-active {
                  // color: red;
                  color: #636363;
                }

                &:hover {
                  
                  &.btn-not-active {
                    color: #999 !important;
                  }

                }
              }
    
              
            }
          }
        }

        .list-group {
            li {
                list-style-type: none;
            }
        }
    }
}



.related-section {
  .related-title {
    h2 {
      // font-family: sans-serif;
      // color: #228B22;
      // text-align: center;
      // font-size: 30px;
      // max-width: 600px;
      // position: relative;

// color: #2c2c2c;
color: $mainColor6;
font-size: 32px;
font-weight: 700;

display: flex;

justify-content: center;
align-items: center;

    }
    h2:before {
      // content: "";
      // display: block;
      // width: 130px;
      // height: 5px;
      // background: #191970;
      // left: 0;
      // top: 50%;
      // position: absolute;

      content: '';
      height: 6px;
      background-color: #afafaf;
      flex: 1 0 0;
      margin-right: 15px;
    }
    h2:after {
      // content: "";
      // display: block;
      // width: 130px;
      // height: 5px;
      // background: #191970;
      // right: 0;
      // top: 50%;
      // position: absolute;

      content: '';
      height: 6px;
      background-color: #afafaf;
      flex: 1 0 0;
      margin-left: 15px;
    }
  }
}




































/* =======================================================( Specialization )======================================================= */

  
/*
@mixin CarouselSection {
  width: 95%;
  margin: auto;
}

@mixin CarouselSectionItem {
  margin: auto !important;
  cursor: pointer;
}

@mixin CarouselSectionsImg {
  transition: all .4s ease-in-out;
}

@mixin CarouselSectionImgHover {
  transform: scale(1.1);
}

@mixin CarouselSectionTitleHover {
  transition: all .2s ease-in-out;
  color: $mainColor;
}

@mixin SpecializationCarouselOwlNextPrev {
  position: absolute !important;
  top: 50% !important;
  transform: translate(0,-50%) !important;
  font-size: 35px !important;
  transition: all .2s ease-in-out !important;
  z-index: 3 !important;
  margin: 0 !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  outline: none !important;
  color: $mainColor !important;
  border: 1px solid $mainColor !important;

  &:hover {
    background: $mainColor2 !important;
    color: $whiteColor !important;
  }    position: absolute !important;
  top: 50% !important;
  transform: translate(0,-50%) !important;
  font-size: 35px !important;
  transition: all .2s ease-in-out !important;
  z-index: 3 !important;
  margin: 0 !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  outline: none !important;
  color: $mainColor !important;
  border: 1px solid $mainColor !important;

  &:hover {
    background: $mainColor2 !important;
    color: $whiteColor !important;
  }
}

@mixin MediaQueryCarouselSection {
  width: 90% !important;
  margin: auto !important;
}


*/


















/*------------------------------------------------( 2.specialization Carousel )------------------------------------------------  */

/* Carousel Arrows */
/*
  .specialization-carousel::ng-deep {

    .owl-carousel {
      @include CarouselSection();

      .specialization {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        @include CarouselSectionItem();
    
        > div {
          background-color: $whiteColor;
        }
    
        img {
          height: 220px;
          @include CarouselSectionsImg();
        }
    
        &:hover {
          img {
            @include CarouselSectionImgHover();
          }
    
          h4 {
            @include CarouselSectionTitleHover();
          }
        }
      }


      .owl-prev {
        @include SpecializationCarouselOwlNextPrev();
      }
    
      .owl-next {
        @include SpecializationCarouselOwlNextPrev();
      }
    }
  

  };
  
  // English Style
  .specialization-carousel-english::ng-deep {
    .owl-prev {
      left: -60px !important;
  
      &:hover {
        .carousel-left{
          position: relative !important;
          animation: carousel-left 1s infinite !important;
        }
      }
    }
  
    .owl-next {
      right: -60px !important;
  
      &:hover {
        .carousel-right {
          position: relative !important;
          animation: carousel-right 1s infinite !important;
        }
      }
    }
  };
  
  // Arabic Style
  .specialization-carousel-arabic::ng-deep {
    .owl-prev {
      right: -60px !important;
  
      &:hover {
        .carousel-left{
          position: relative !important;
          animation: carousel-right 1s infinite !important;
        }
      }
    }
    .owl-next {
      left: -60px !important;
  
      &:hover {
        .carousel-right {
          position: relative !important;
          animation: carousel-left 1s infinite !important;
        }
      }
    }
  }
*/

/* Carousel Arrows Animation */
/*
@keyframes carousel-left {
  0%, 100% {right: 0;}
  50% {right: 4px;}
}


@keyframes carousel-right {
  0%, 100% {left: 0;}
  50% {left: 4px;}
}
*/



/* =======================================================( Media Query )======================================================= */

/*


@media (width <=600px) {



  // .offers-section,
  
    .specialization-carousel::ng-deep {

      .owl-carousel {
        @include MediaQueryCarouselSection();
  
        // Carousel Dots in Mobiles 
        .owl-dots {
          margin-top: 2rem;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
  
          .owl-dot {
            margin-top: 5px;
            margin-bottom: 5px;
            outline: none !important;
  
            span {
              width: 18px;
              height: 18px;
              margin: 0 5px;
              border-radius: 50%;
              background-color: #999;
              transition: all .2s ease;
              display: flex;
              justify-content: center;
              align-items: center;
            }
  
            &:hover {
              span {
                background: $mainColor;
              }
            }
  
            &.active {
              span {
                background: $mainColor2;
                color: white;
              }
            }
          }
  
  
        }
      }
    }
    


  
    .specialization-carousel::ng-deep {
      .owl-carousel {
        .owl-next,
        .owl-prev {
          display: none !important;
        }
      }

    } 
  
}


@media (width >600px) {
  
    .specialization-carousel::ng-deep {
      .owl-dots {
        display: none !important;
      }
    }
  
}
*/