<div class="m-4 p-3 bg-white rounded animate">
  <h2 class="fw-bold text-center">{{'patientProfile.sidenav3' | translate}}</h2>
  <div *ngIf="!insuranceExist; else showInsurance">
    <div class="py-3"><img class="insurance-img" src="../../../assets/images/Patient_Profile/Insurance.png"/></div>
    <p>{{'patientProfile.tap3h' | translate}}</p>
    <form [formGroup]="addInsuranceForm" (ngSubmit)="addInsuranceFun()">
        <div class="row">
          <div class="pb-2 col-md-6 px-2">
            <label>{{'patientProfile.tap3input1' | translate}}</label>
            <select formControlName="company_id" class="form-select bg-light-gray" aria-label="Default select example">
              <option *ngFor="let item of allInsurance" [value]="item.id">{{item.name}}</option>
            </select>
          </div>
          <div class="pb-2 col-md-6 px-2">
            <label>{{'patientProfile.tap3input2' | translate}}</label>
            <input formControlName="insurance_number" type="text" class="form-control bg-light-gray" />
          </div>
          <div class="pb-2 col-md-6 px-2">
            <label>{{'patientProfile.tap3input3' | translate}}</label>
            <input formControlName="expiry_date" type="date" class="form-control bg-light-gray" />
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <input type="submit" class="btn btn-main border-0" [disabled]="addInsuranceForm.invalid">
        </div >
    </form>
  </div>

  <ng-template #showInsurance>
    <div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="py-3 d-flex align-items-center"><img class="insurance-img" src="../../../assets/images/Patient_Profile/Insurance.png"/><span class="insurance-name fw-bold">{{patientInsurance.name}}</span></div>
        <h5>Insurance Number:- <span class="fw-bold">{{insurance_number}}</span></h5>

      </div>
      
    <div class="row my-4 mx-2">
      <div class="col-md-6 my-2">
        <div class="inurance-discount">
          <!-- <h2>{{patientInsurance.discount_percentage}}</h2> -->
          <!-- <div class="progress" role="progressbar" aria-label="Info example"  aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-info" style="width: 50%"></div>
          </div> -->

          <span>Insurance Discount:- </span>
          <div class="progress w-100 mt-2">
            <div class="progress-bar" role="progressbar" aria-label="Info example" style="width: {{patientInsurance.company_rate}}%" aria-valuemin="0" aria-valuemax="100">{{patientInsurance.company_rate}}%</div>
          </div>
          
        </div>
      </div>
      <div class="col-md-6 my-2">
        <div class="hospital-discount">
          <!-- <h2>{{patientInsurance.company_rate}}</h2> -->
          <span>Hospital Discount:- </span>

          <div class="progress w-100 mt-2">
            <div class="progress-bar" role="progressbar" aria-label="Info example" style="width: {{patientInsurance.discount_percentage}}%"  aria-valuemin="0" aria-valuemax="100">{{patientInsurance.discount_percentage}}%</div>
          </div>
        </div>
      </div>
    </div>

    <div>
    </div>
    <div class="d-flex justify-content-between align-items-center my-4">
      <h2 class="d-flex align-items-center">Total Discount:-  <span class="total-discount text-success fw-bold mx-1">{{totalDiscount}}%</span></h2>
      <h5>Your Insurance will expire at:- <span class="fw-bold">{{insurance_date}}</span></h5>
    </div>
    </div>
  </ng-template>

  <div>

  </div>
</div>
