<app-spinner *ngIf="isVisibleSpinner"></app-spinner>

<div class="cart-component animate" [dir]=" 'dir' | translate "  [lang]="lang">
        <!--  =======================================================( landing )======================================================= -->

        <section class="position-relative justify-content-center align-content-center" #firstSection>
            <!-- <div class="roadmap d-flex  align-items-center justify-content-center">
                <div class=" mx-5 p-3 text-center ">
                    <h1 class=" fw-bolder mb-3 text-center header title" [class.arabic-font]="rtlDir">{{rtlDir?'عربة الشراء':'Cart'}}</h1>
                    <img class="img-fluid lines-img" src="../../../assets/images/roadmap/lines.png" alt="">
                    <div class="mt-2">
                        <a routerLink="/home" class="fw-bolder text-success text-decoration-none fs-5">
                            {{'RoadMap.MainTitle' | translate}} 
                            <i class="fa-solid mx-2 fs-6" [ngClass]="rtlDir? 'fa-angles-left' : 'fa-angles-right'"></i>
                        </a>
                    <span class=" mx-2 fw-bolder text-capitalize">{{rtlDir?'عربة الشراء':'Cart'}}</span>
                    </div>
                </div>
            </div> -->
            <app-roadmap [roadMapLinks]="roadMapLinks"></app-roadmap>

        </section>    
        
        <!-- =============================================================================================================== -->
        
        <section class="cart-section py-5">
            <div class="container" *ngIf="!noData;else error">
                <table class="table">
                    <thead class="text-muted text-uppercase">
                        <tr>
                            <th scope="col"><i *ngIf="allMedicinesPurchased.length>0" (click)="deleteAllCart()" [title]="('CartPage.TableRemoveAll' | translate)" class="fa-solid fa-trash-can text-danger delete-all"></i></th>
                            <th scope="col"></th>
                            <th scope="col">{{"CartPage.TableTitle1" | translate}}</th>
                            <th scope="col">{{"CartPage.TableTitle2" | translate}}</th>
                            <th scope="col">{{"CartPage.TableTitle3" | translate}}</th>
                            <th scope="col">{{"CartPage.TableTitle4" | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="allMedicinesPurchased.length>0">
                            <tr *ngFor="let medicine of allMedicinesPurchased">
                                <th>
                                    <i (click)="removeCart(medicine.id)" class="fa-solid fa-xmark fs-4 text-danger remove-icon" [ngClass]="rtlDir? 'remove-icon-arabic' : 'remove-icon-english'" *ngIf="selectedDeleteMedicine!=medicine.id"></i>
                                    <div class="cart-spinner" *ngIf="isVisibleDeleteSpinner && selectedDeleteMedicine==medicine.id"></div>
                                </th>
                                <td class="text-center product-img">
                                    <img [routerLink]="['/pharmacy/medicineDetails' , medicine.id]" class="img-fluid default-img" [src]="medicine.photo || defaultMedicineImg" alt="Medicine Image">
                                </td>
                                <td class="product-name"><span [routerLink]="['/pharmacy/medicineDetails' , medicine.id]">{{medicine.medicine_name}}</span></td>
                                <td>
                                    <div class="d-flex">
                                        <span>{{medicine.price}}
                                        {{"SharedData.Currency" | translate}}</span>
                                    </div>
                                </td>
                                
                                <td>
                                    <div class="d-flex flex-wrap align-items-center add-to-cart-block">
                                        <div class="quantity-counter">
                                            <button class="btn btn-minus py-2" [disabled]="medicine.qty<=1 || isVisibleAddRemoveSpinner || isVisibleDeleteSpinner" (click)="decrease(medicine.id , medicine.qty)">-</button> <!-- || isVisibleAddRemoveSpinner -->
                                            <!-- <input class="form-control rounded-0  bg-transparent py-2 m-0" type="text" maxlength="5" (keypress)="numberOnly($event)" accept="number" [value]="medicine.qty" name="quantity"> [(ngModel)]="medicine.qty" -->
                                            <div class="d-flex justify-content-center align-items-center">
                                                <span class="fw-light fs-6 mx-2" *ngIf="selectedAddRemoveMedicine!=medicine.id">{{medicine.qty}}</span>
                                                <div class="cart-spinner" *ngIf="isVisibleAddRemoveSpinner && selectedAddRemoveMedicine==medicine.id"></div>
                                            </div>
                                            <!-- <span class="fw-light fs-6 mx-1">{{medicine.qty}}</span> -->
    
                                            <button class="btn btn-plus py-2" [disabled]="medicine.qty>=5 || isVisibleAddRemoveSpinner || isVisibleDeleteSpinner" (click)="increase(medicine.id , medicine.qty)">+</button> <!-- || isVisibleAddRemoveSpinner -->
                                        </div>
                                    </div>
                                </td>
                                <td>{{medicine.price*medicine.qty}} {{"SharedData.Currency" | translate}}</td>
                            </tr>
                        </ng-container>

                        <ng-container *ngIf="allMedicinesPurchased.length==0" class="skeleton-cart">
                            <tr *ngFor="let medicine of [0,0]">
                                <th>
                                    <ngx-skeleton-loader appearance="line" [theme]="{height: '20px', width: '20px', background: '#dbd9d9'}"></ngx-skeleton-loader>
                                </th>
                                <td class="px-0 mx-0">
                                    <ngx-skeleton-loader appearance="line" [theme]="{height: '80px', width: '100%', background: '#dbd9d9', padding: '5px 15px'}"></ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader appearance="line" [theme]="{width: '50%', background: '#dbd9d9'}"></ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader appearance="line" [theme]="{width: '50%', background: '#dbd9d9'}"></ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader appearance="line" [theme]="{width: '50%', background: '#dbd9d9'}"></ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader appearance="line" [theme]="{width: '50%', background: '#dbd9d9'}"></ngx-skeleton-loader>
                                </td>
                            </tr>
                        </ng-container>


                        <tr>
                            <td colspan="6">
                                <div class="other-options d-flex justify-content-between align-items-center p-4">
                                    <button routerLink="/pharmacy" class="btn">{{"CartPage.ShoppingBtn" | translate}}</button>
                                    <span class="total-price text-danger"  *ngIf="totalPrice!=0"><span class="mx-1">{{"CartPage.TotalPrice" | translate}}</span>{{totalPrice}} {{"SharedData.Currency" | translate}}</span>
                                    <div class="col-2" *ngIf="totalPrice==0">
                                        <ngx-skeleton-loader appearance="line" [theme]="{background: '#dbd9d9', marginBottom: '0'}"></ngx-skeleton-loader>
                                    </div>
                                    <button routerLink="/cart/checkout" class="btn">{{"CartPage.CheckOutBtn" | translate}}</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- small cart -->
                <div class="product-card-list d-none">
                    <span *ngIf="allMedicinesPurchased.length>0" (click)="deleteAllCart()" class="text-danger delete-all"><i class="fa-solid fa-trash-can mx-1"></i><span>{{'CartPage.TableRemoveAll' | translate}}</span></span>
                    <ng-container *ngIf="allMedicinesPurchased.length>0">
                    <div *ngFor="let medicine of allMedicinesPurchased" class="card product-card my-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-4 product-img-details position-relative">
                                <img [src]="medicine.photo || defaultMedicineImg" class="img-fluid h-100 rounded-start shadow default-img" alt="Medicine Image">
                                <div class="delete-product"  [ngClass]="rtlDir? 'delete-product-arabic' : 'delete-product-english'">
                                    <i (click)="removeCart(medicine.id)" class="fa-solid fa-xmark fs-4 text-danger" *ngIf="selectedDeleteMedicine!=medicine.id"></i>
                                    <div class="cart-spinner" *ngIf="isVisibleDeleteSpinner && selectedDeleteMedicine==medicine.id"></div>
                                </div>
                                <a [routerLink]="['/pharmacy/medicineDetails' , medicine.id]"></a>
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                <h5 class="card-title"><span [routerLink]="['/pharmacy/medicineDetails' , medicine.id]">{{medicine.medicine_name}}</span></h5>
                                <p class="card-text">{{"CartPage.product-card-list.Price" | translate}} <span class="fw-light">{{medicine.price}} {{"SharedData.Currency" | translate}}</span></p>
                                <div class="d-flex flex-wrap align-items-center add-to-cart-block my-3">
                                    <span class="fw-bold">{{"CartPage.product-card-list.Quantity" | translate}} </span>
                                    <div class="quantity-counter mx-2">
                                        <button class="btn btn-minus py-2" [disabled]="medicine.qty<=1" (click)="decrease(medicine.id , medicine.qty)">-</button> <!-- || isVisibleAddRemoveSpinner -->
                                        <div class="d-flex justify-content-center align-items-center">
                                            <span class="fw-light fs-6 mx-2" *ngIf="selectedAddRemoveMedicine!=medicine.id">{{medicine.qty}}</span>
                                            <div class="cart-spinner" *ngIf="isVisibleAddRemoveSpinner && selectedAddRemoveMedicine==medicine.id"></div>
                                        </div>
                                        <!-- <span class="fw-light fs-6 mx-1">{{medicine.qty}}</span> -->

                                        <button class="btn btn-plus py-2" [disabled]="medicine.qty>=5" (click)="increase(medicine.id , medicine.qty)">+</button> <!-- || isVisibleAddRemoveSpinner -->
                                    </div>
                                </div>
                                <p class="card-text">{{"CartPage.product-card-list.SubTotal" | translate}} <span class="fw-light">{{medicine.price*medicine.qty}} {{"SharedData.Currency" | translate}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <!-- skeleton small cart-->
                    <ng-container *ngIf="allMedicinesPurchased.length==0" class="skeleton-small-cart">
                    <div *ngFor="let item of [0,0]" class="card product-card my-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-4 product-img-details">
                                <ngx-skeleton-loader appearance="line" [theme]="{height: '100%', background: '#dbd9d9'}"></ngx-skeleton-loader>

                                <!-- <img src="../../../../../assets/images/medicines/Main-prod11.jpg" class="img-fluid h-100 rounded-start shadow default-img" alt="..."> -->
                            </div>
                            <div class="col-8">
                                <div class="card-body py-4">
                                    <div>
                                        <ngx-skeleton-loader appearance="line" [theme]="{width: '50%', background: '#dbd9d9', marginBottom: '15px'}"></ngx-skeleton-loader>
                                    </div>
                                    <div>
                                        <ngx-skeleton-loader appearance="line" [theme]="{width: '50%', background: '#dbd9d9', marginBottom: '15px'}"></ngx-skeleton-loader>
                                    </div>
                                    <div>
                                        <ngx-skeleton-loader appearance="line" [theme]="{height: '30px', width: '70%', background: '#dbd9d9', margin: '15px 0'}"></ngx-skeleton-loader>
                                    </div>
                                    <div>
                                        <ngx-skeleton-loader appearance="line" [theme]="{width: '50%', background: '#dbd9d9', marginTop: '15px'}"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                    <div class="other-options d-flex justify-content-between align-items-center">
                        <button routerLink="/pharmacy" class="btn">{{"CartPage.ShoppingBtn" | translate}}</button>
                        <span  *ngIf="totalPrice!=0" class="total-price text-danger fw-bold"><span class="mx-1">{{"CartPage.TotalPrice" | translate}}</span>{{totalPrice}}{{"SharedData.Currency" | translate}}</span>
                        <div class="col-2" *ngIf="totalPrice==0">
                            <ngx-skeleton-loader appearance="line" [theme]="{background: '#dbd9d9', marginBottom: '0'}"></ngx-skeleton-loader>
                        </div>
                        <button routerLink="/cart/checkout" class="btn">{{"CartPage.CheckOutBtn" | translate}}</button>
                    </div>
                </div>
            </div>
            <ng-template #error>
                <div class="container">
                    <div class=" cart-empty text-center p-5 rounded">
                        <div class="my-4">
                            <i class="fa-solid fa-cart-arrow-down cart-icon"></i>
                        </div>
                        <div class="cart-empty-content">
                            <div class="my-3">
                                <h2 class="fw-bold">{{"CartPage.EmptyCart.Title" | translate}}</h2>
                            </div>
                            <p class="text-muted">{{"CartPage.EmptyCart.paragraph1" | translate}}</p>
                            <p class="text-muted">{{"CartPage.EmptyCart.paragraph2" | translate}}</p>
                        </div>
                        <div class="other-options d-flex justify-content-center align-items-center mt-5">
                            <button routerLink="/pharmacy" class="btn">{{"CartPage.ShoppingBtn" | translate}}</button>
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger text-center container my-3" role="alert" *ngIf="noDataError != null">
                  <div class=" d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-triangle-exclamation mx-2"></i>
                    <div>
                      {{noDataError}}
                    </div>
                  </div>
                  <h3 class="my-2">{{'SharedData.ErrorMessage' | translate}}</h3>
                  
                </div>
                <!-- <div class="container" *ngIf="noDataError == null">
                    <div class="other-options d-flex justify-content-center align-items-center ">
                        <button routerLink="/pharmacy" class="btn">{{"CartPage.ShoppingBtn" | translate}}</button>
                    </div>
    
                </div> -->
              </ng-template>
        </section>

        
</div>

