<app-spinner *ngIf="isVisibleSpinner"></app-spinner>
<div class="specialize-component animate" [dir]=" 'dir' | translate " [lang]="lang">
  <section class="wrapper">
      <!-- Sign-In-Sign-up section starts -->
    <div class="container main d-flex justify-content-center align-items-center min-vh-100">
      <div class="row login my-5">
        <div class="col-md-6 right d-flex justify-content-center align-items-center position-relative">
          <div class="input-box w-100">
            <form  [formGroup]="loginForm">
              <header class=" fw-bolder text-center fs-1 text-secondary my-5">{{ 'loginPage.title' | translate }}</header>
              <!-- ////////////////////////////////////user name/////////////////////////////// -->
              <div>
                <!-- ///////////////////////////////email//////////////////////////////////// -->

                <div class="input-field d-flex flex-column position-relative px-3 ">
                    <input type="text" class="input w-100 bg-transparent mb-4" id="email" required autocomplete="off" formControlName="email">

                    <label for="email" class=" position-absolute"><i class="fa-solid fa-envelope px-2 fs-6"></i>{{ 'loginPage.email' | translate }}</label>
                    <div
                    *ngIf="loginForm.controls['email']?.invalid && loginForm.controls['email']?.touched && loginForm.controls['email']?.dirty">
                    <p id="EmailLoginError" class="text-danger">
                      {{'loginPage.error4'| translate}}
                    </p>
                  </div>
                </div>
                <!-- ///////////////////////////////password//////////////////////////////////// -->
                <div class="input-field d-flex flex-column position-relative px-3 ">
                    <input type="{{passwordType}}" class="input w-100 bg-transparent mb-4" id="PasswordRegister" required autocomplete="off" formControlName="Password">

                    <label for="PasswordRegister" class=" position-absolute"><i class="fas fa-lock  px-2 fs-6"></i>{{ 'loginPage.password' | translate }}</label>
                    <i class="fa-solid {{passwordType ? 'fa-eye' : 'fa-eye-slash' }} text-center p-3 fs-6 position-absolute" [ngClass]="direction === 'ltr' ? 'end-0' : 'start-0'"  (click)="togglePassword()"></i>
                    <div *ngIf="loginForm.controls['Password']?.invalid && loginForm.controls['Password']?.touched && loginForm.controls['Password']?.dirty">
                        <p id="PasswordRegisterError" class="text-danger" *ngIf="loginForm.controls['Password']?.errors?.['pattern']">
                          {{'loginPage.error7'| translate}}
                        </p>

                    </div>
                </div>

              <!-- /////////////////////////////////////////////////////////////////// -->
              <div class="row mb-3">

                  <div class="input-field d-flex  position-relative justify-content-between align-items-center px-3">
                    <input type="submit" class="submit w-50 border-circle " value="{{ 'loginPage.login' | translate }}"  [disabled]="loginForm.invalid" (click)="login()" id="submitBtn">
                    <a routerLink="/auth/forgetPassword" class="fs-made text-decoration-none text-success forgotPassword fw-bolder">{{ 'loginPage.forgotPass' | translate }}</a>

                  </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 side-image " [ngClass]="{'d-none': isSmallScreen}">
        <!-------Image-------->
        <!-- <img src="images/white.png" alt=""> -->
        <div class="text position-absolute top-50 " >
          <h2 class=" fw-bolder text-light">{{ 'loginPage.New here' | translate }}</h2>
          <span class="fst-italic text-info fs-5  fw-bolder">{{ 'loginPage.title_Patient' | translate }} </span>
          <i class=" fw-bolder fs-6 "><a routerLink="/auth/Register" class="text-light w-50 text-decoration-none  fs-6 fw-bolder">{{ 'loginPage.register' | translate }}</a></i>
        </div>
        <div class="layer"></div>
      </div>

    </div>
  </div>
</section>

</div>


