/* =======================================================( Common )======================================================= */
@import '../../../../../colors.scss';


body{
  color: #003367;
  /* direction: rtl; */
}

.wrapper{
  background: #ececec;
  padding: 0 20px 0 20px;
}
.login{
  width: 900px;
  /* height: 550px; */
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}
.side-image{
  background-image: url("../../../../../assets/images/Sign_In_Up/20230327_compassionate_care-1200x800.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px 0 0 10px;
  /* opacity: 0.5; */
}
.layer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
img{
  width: 35px;
}
[type="email"], [type="number"], [type="tel"], [type="url"] {
  direction: inherit !important;
}
.text{
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 5;
}
.size{
  font-size: 15px;
}
.input-box{
  /* width: 330px; */
  box-sizing: border-box;
}

.input{
  height: 45px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  outline: none;
  color: #40414a;
}
.input-box .input-field label{
  top: 10px;
  // left: 10px;
  pointer-events: none;
  transition: .5s;
}
.input-field .input:focus ~ label{
  top: -10px;
  font-size: 13px;
}
.input-field .input:valid ~ label{
  top: -10px;
  font-size: 13px;
  color: #5d5076;
}
.input-field .input:focus, .input-field .input:valid{
  border-bottom: 1px solid #743ae1;
}
.submit{
  border: none;
  outline: none;
  height: 45px;
  background: $mainColor;
  color: #fff;
  border-radius: 5px;
  transition: .4s;
}
.submit:hover{
  background: rgba(37, 95, 156,0.9);
  color: #fff;
}
.forgotPassword{
  border-bottom: 2px solid #FF8686;
  // color: #40414a;
  font-size: 16px;
}
.forgotPassword:hover,
.forgotPassword:active,
.forgotPassword:focus{
  text-decoration: none !important;
  outline: none !important;
  color: inherit !important;
  transition: 0.5s;
}
select:focus{
  border: none;
  outline: none !important;
  box-shadow: none !important;
}
.transparent{
  background: none;
  border: 2px solid #fff;
}
.signin{
  font-size: small;
}
span a{
  text-decoration: none;
  font-weight: 700;
  color: #000;
  transition: .5s;
}
span a:hover{
  text-decoration: underline;
  color: #000;
}
.terms-conditions-btn {
  cursor: pointer;
}
.terms-conditions-item * {
  font-size: 16px;
}
.terms-conditions-btn:hover {
  color: var(--main);
}
@media only screen and (max-width: 340px){
  .text{
    h2,span,i{
      font-size: 1rem !important;
    }
  }
}
@media only screen and (max-width: 768px){
  .side-image{
      border-radius: 10px 10px 0 0;
  }
  .side-image{
    height: 200px;
  }
  img{
      width: 35px;
      position: absolute;
      top: 20px;
      left: 47%;
  }
  .text{
      position: absolute;
      top: 70%;
      text-align: center;
  }
  .text p,i{
      font-size: 17px;
  }
  .row{
      max-width: 420px;
      width: 100%;
  }
}

.fs-made {
  font-size: 0.9rem;
 }
