@import '../../../../../pagination.scss';
// @import '../../../../../styles.scss';
@import '../../../../../filters.scss';



/* =======================================================( Main-Search )======================================================= */

/*======================================================( select2 )======================================================*/


/* first search filter method */

.main-search-section {
    background-color: rgb(236, 236, 236);
    position: relative;

    .main-search-title {
        font-family: 'Roboto Condensed', sans-serif;
    }

    h1 {
        font-size: 19px;
    }

    h3 {
        font-size: 16px;
        i {
            color: $mainColor;
        }
    }

    .doctors-img {
        img {
            height: 240px;
        }
    }

    ul {
        list-style: none;
        i {
            color: $mainColor;
            font-size: 8px;
        }
    }

    // Main-Search-Filter (select2)
    .main-search-filter {
        box-shadow: rgb(204, 204, 204) 0px 0px 10px;
        height: 60px;
        border-radius: 15px;
        z-index: 50;
        bottom: 20px;
        right: 50%;
        transform: translate(50%);
        /*
        .doctor-specialization-select2-container {
  
            ::ng-deep .select2-container {
                height: 100%;
                width: 250px !important;
        
                .select2-selection {
                    background-color: transparent;
                    border-radius: 0;
                    height: 100% !important;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    border-top: none;
                    border-bottom: none;
        
                    .select2-selection__arrow {
                        height: 100% !important;
            
                        b {
                            border-width: 8px 6px 0 6px;
                        }
                    }
        
                    .select2-selection__rendered {
                        color: $mainColor;
            
                        &::before {
                            font-family: "Font Awesome 5 Free"; 
                            font-weight: 900;
                            content: "\f0fa";
                        }
            
                        .select2-selection__placeholder {
                            color: $mainColor;
                        }
                    }
                }
        
                &.select2-container--open {
                    .select2-selection--single {
                        .select2-selection__arrow {
                            b {
                                border-width: 0px 6px 8px 6px !important;
                                border-color: transparent transparent #888 transparent !important;
                            }
                        }
                    }
                }
            } 
        }  


        // change select2 placeholder in arabic and english
        // English Style
        .doctor-specialization-select2-container-english{
            ::ng-deep  .select2-selection {
                border-left: none;
                border-right: 1px solid #34b1de8f;
                border-bottom-left-radius: 15px !important;
                border-top-left-radius: 15px !important;
                padding-left: 10px;
        
                .select2-selection__arrow {
                    right: 15px !important;
                }
    
                .select2-selection__rendered {
                    &::before {
                    margin-right: 10px !important;
                    }
                }
            }
        }
        
        // Arabic Style
        .doctor-specialization-select2-container-arabic {
            ::ng-deep  .select2-selection {
                border-right: none;
                border-left: 1px solid #34b1de8f;
                border-bottom-right-radius: 15px !important;
                border-top-right-radius: 15px !important;
                padding-right: 10px;
            
                .select2-selection__arrow {
                    left: 15px !important;
                }
            
                .select2-selection__rendered {
                    &::before {
                    margin-left: 10px;
                    }
                }
            }
        }
*/
        /* second search filter method */
        .doctor-search {
            cursor: pointer;

            i {
                color: $mainColor;
            }

            input {
                border: 0;
                box-shadow: none !important;
                color: $mainColor;
                width: 250px ;

                &::placeholder {
                    color: $mainColor;
                    opacity: 1; /* Firefox */
                }

                &::-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: $mainColor;
                }

                &::-ms-input-placeholder { /* Microsoft Edge */
                    color: $mainColor;
                }
            }
        }

        /* search filter button */
        .search-btn-container {
            height: 100%;

            .search-btn {
                border-radius: 0;
                width: 120px;
                height: 100%;
                background-color: rgb(13, 260, 300);
                color: white;
                box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px;
            
                &:hover {
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                }
            }
        }
    }

    .main-search-filter-english {
        .doctor-search {
            padding-left: 15px;
            padding-right: 10px;

            &:first-child {
                border-right: 1px solid $mainColor;
            }
        }
    
        .search-btn-container {
            border-left: 1px solid $mainColor;
    
            .search-btn {
                border-top-right-radius: 15px !important;
                border-bottom-right-radius: 15px !important;
            }
        }
    }
    
    .main-search-filter-arabic {
        .doctor-search {
            padding-right: 15px;
            padding-left: 10px;
            &:first-child {
                border-left: 1px solid $mainColor;
            }
        }
    
        .search-btn-container {
            border-right: 1px solid $mainColor;
    
            .search-btn {
                border-top-left-radius: 15px !important;
                border-bottom-left-radius: 15px !important;
            }
        }
    }
}
  
/*
// Select2 Dropdown Style
::ng-deep .select2-dropdown--below {
    top: 4px !important;
    border-top: 1px solid #aaa !important;
}
  
::ng-deep .select2-dropdown--above {
    top: -4px !important;
    border-bottom: 1px solid #aaa !important;
}
*/


/* =======================================================( aside filter )======================================================= */


.doctor-list-section {
    background-color: #E2E6EA;

    .doctors-roadmap {
        a {
            color: $mainColor6;
        }
    }

    // // Filter General
    // .accordion {
    //     // width: 225px;
    //     width: 90%;

    //     // Filter Button
    //     .accordion-button {
    //         color: $mainColor;
    //         box-shadow: none !important;
    
    //         /* removing accordion arrow to put our arrow */
    //         &::after {
    //             background-image: none;
    //             font-family: "Font Awesome 5 Free"; 
    //             font-weight: 900;
    //             content: "\f078";
    //             display: flex;
    //             justify-content: center;
    //         }
    
    //         &:not(.collapsed) {
    //             &::after {
    //                 background-image: none;
    //             }
    //         }
    //     }

    //     // Filter Item
    //     .accordion-item {

    //         // Filter Title
    //         .accordion-title {
    //             cursor: default !important;
    //             color: white;
    //             box-shadow: inset 0 -1px 0 rgba(0,0,0,.125); 
    //             width: 100%;
    //             padding: 1rem 1.25rem;
    //             font-size: 1rem;
    //             text-align: left;
    //             background: $mainColor2;
    
    //             h4 {
    //                 font-size: 18px;
    //             }

    //             border-top-left-radius: 1rem;
    //             border-top-right-radius: 1rem;
    //         }

    //         /* accordion top */
    //         &:first-of-type {
    //             border-top-left-radius: 1rem;
    //             border-top-right-radius: 1rem;
    //         }

    //         /* accordion bottom */
    //         &:last-of-type {
    //             border-bottom-right-radius: 1rem;
    //             border-bottom-left-radius: 1rem;

    //             .accordion-button {
    //                 &.collapsed {
    //                     border-bottom-right-radius: 1rem;
    //                     border-bottom-left-radius: 1rem;
    //                 }
    //             }
    //         }

    //         // Filter Body
    //         .accordion-body {
    //             label {
    //                 cursor: pointer;
    //             }

    //             // .accordion-body-item {
    //             //     margin-bottom: 5px;
    //             //     .specialization-label {
    //             //         font-size: 0.85rem;
    //             //     }
    //             // }
    //         }

    //     }

    // }

    // // Filter English
    // .accordion-english {

    //     .accordion-body {
    //         input[type="checkbox"] {
    //             margin-right: 10px;
    //         }
    //     }

    //     .accordion-body {
    //         input[type="radio"] {
    //             margin-right: 10px;
    //         }
    //     }

    //     .accordion-button {
    //         &::after {
    //             margin-right: inherit;
    //             margin-left: auto;
    //         }
    //     }

    // }

    // // Filter Arabic
    // .accordion-arabic {
    //     .accordion-body {
    //         input[type="checkbox"] {
    //             margin-left: 10px;
    //         }
    //     }

    //     .accordion-body {
    //         input[type="radio"] {
    //             margin-left: 10px;
    //         }
    //     }

    //     .accordion-button {
    //         &::after {
    //             margin-right: auto;
    //             margin-left: inherit;
    //         }
    //     }
    // }

    // Aside Filter in General
    .aside-filter {
        display: block;
        position: relative;
        height: 100%; /* to make it's allignment equals to doctor-list allignment put calc(100% - 50px - 1.5rem) */
    }

    #accordionExample {
        position: sticky;
        top: 50px;
    }
    
    #small-filter-btn {
        .accordion-title{
            cursor: pointer !important;
            color: white;
            box-shadow: inset 0 -1px 0 rgba(0,0,0,.125); 
            width: 100%;
            padding: 1rem 1.25rem;
            font-size: 1rem;
            text-align: left;
            background: $mainColor2;

            h4 {
                font-size: 18px;
            }

            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }
    } 

}
  

/* =======================================================( small-filter )======================================================= */
  

// #small-filter {
//     background-color: $lightGreyColor;
//     z-index: 999999;
//     top: 0;

//     input {
//         margin: 4px;
//     }

//     h2 {
//         background-color: $mainColor;
//     }

//     #filter-close-icon {
//         cursor: pointer;
//         position: absolute;
//         top: 50%;
//         transform: translateY(-50%);
//     }

//     .filter-close-english {
//         left: 20px;
//     }

//     .filter-close-arabic {
//         right: 20px;
//     }

//     .small-filter-item {
//         border-radius: 15px;
//         box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

//         .small-filter-head {
//             color: $mainColor;
//         }

        
//         .small-filter-body {
//             label {
//                 &:hover {
//                     cursor: pointer;
//                 }
//             }

//             .accordion-body-item {
//                 &:last-child {
//                     border-bottom: 0 !important;
//                 }
//             }
//         }
//     }

//     .small-filter-buttons {
//         button {
//             font-size: 1.25rem;
//             border-radius: 10px;
//             width: 155px;
//             height: 45px;
//         }
//     }
    
// }


/* =======================================================( filtered-content )======================================================= */


.filtered-content-title {
    p {
        font-size: 15px;
    }

    h2 {
        font-size: 20px;
    }    

    .filtered-title {
        font-family: "Roboto Condensed", sans-serif;

        span {
            &::after {
                content: " ,";
                // color: black;
            }
    
            &:last-child {
                &::after {
                    content: "";
                }
            }
        }
    }
}


/*------------------------------------*/
.fa-rotate {
    transition: all .3s ease;
    &:hover {
        color: #777 !important;
        transform: scale(1.1);
    }
}


.specific-doctor {
    border-radius: 15px;
}



/*-----------------toastr arabic-------------------------*/
::ng-deep.overlay-container-arabic{
.toast-top-right {
    top: 40px;
    right: 12px;
    .ngx-toastr {
        text-align: right;
        padding: 15px 45px 15px 50px;
        background-position: 95% center;
      }
    }
}


/* =======================================================( Media Query )======================================================= */


@media (width <=1200px) {
    .accordion {
        width: 100% !important;
    }
}


@media (width <=992px) {

    .filtered-content-title {
        justify-content: center;
    }

    .doctors-roadmap {
        text-align: center;
    }
    
    .accordion {
        display: none;
    }

    #small-filter-btn {
        display: flex !important;
    }

    .aside-filter {
        display: none !important;
    }
}


@media (width <=700px) {



    
    // to customize select2 in mobile
    .main-search-section {
        .main-search-filter {
            background-color: transparent !important;
            flex-wrap: wrap;
            bottom: 45% !important;
            box-shadow: none !important;
/*
            // select2
            .doctor-specialization-select2-container {
                width: 100% !important;

                ::ng-deep .select2-container {
                    width: 100% !important;
                }

                ::ng-deep .select2-selection {
                    border: none !important;
                    border-radius: 15px;
                }
            }
*/
            // search input
            .doctor-search {
                background-color: white;
                border: none !important;
                box-shadow: rgb(204, 204, 204) 0px 0px 10px;
                border-radius: 15px;
                margin: 10px 0;
                width: auto;
            }

            // search btn
            .search-btn-container {
                border: 0 !important;

                .search-btn {
                    border-radius: 15px !important;
                }
            }
        }
    }
}
  