<app-spinner *ngIf="isVisibleSpinner"></app-spinner>

<div class="doctors-component animate" [dir]=" 'dir' | translate " [lang]="lang">

  <!-- =============================================================================================================== -->

  <!-- First Section Main-Search -->
  <section class="pt-3 main-search-section" #firstSection>
    <div class="container">
      <div class="row">
        <div class="col-md-6 py-3">
          <h1 class="main-search-title">{{'DoctorsPage.MainSearchSection' | translate}}</h1>
          <h3>{{'DoctorsPage.MainSearchSectionTitle' | translate}} <a [href]="'tel:+2'+hospitalPhone" target="_blank" class="fw-bold text-black"><i
                class="fa-solid fa-phone mx-2"></i>{{hospitalPhone}}</a></h3>
          <ul class="px-0">
            <li><i class="fa-solid fa-circle me-2"></i>{{numOfDoctors}} {{'DoctorsPage.MainSearchSectionList1' | translate}}</li>
            <li><i class="fa-solid fa-circle me-2"></i>{{'DoctorsPage.MainSearchSectionList3.1' | translate}} {{numOfSpecializations}}
              {{'DoctorsPage.MainSearchSectionList3.2' | translate}}</li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="doctors-img d-flex justify-content-center">
            <img class="img-fluid" src="../../../assets/images/doctors-list/PngItem_1115508.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <form [formGroup]="filterForm" (ngSubmit)="submitSearchForm()">
      <div
        class=" main-search-filter bg-white position-absolute  d-flex justify-content-center align-items-center text-white"
        [ngClass]="rtlDir? 'main-search-filter-arabic' : 'main-search-filter-english'">

        <label for="searchDoctor1" class="h-100 d-flex justify-content-around align-items-center doctor-search">
          <i class="fa-solid fa-user-doctor me-2" *ngIf="nameInput.value == ''"></i>
          <i class="fa-solid fa-rotate me-2" *ngIf="nameInput.value != ''" (click)="resetSearch(nameInput)"></i>
          <input #nameInput id="searchDoctor1" type="text" class="form-control" name="doctor-search1"
            placeholder="{{'DoctorsPage.SearchName' | translate}}" formControlName="name">
        </label>
        <label for="searchDoctor2" class="h-100 d-flex justify-content-around align-items-center doctor-search">
          <i class="fa-solid fa-user-doctor me-2" *ngIf="specializationInput.value == ''"></i>
          <i class="fa-solid fa-rotate me-2" *ngIf="specializationInput.value != ''" (click)="resetSearch(specializationInput)"></i>
          <input #specializationInput id="searchDoctor2" type="text" class="form-control" name="doctor-search2"
            placeholder="{{'DoctorsPage.SearchSpecialize' | translate}}" formControlName="specialization">
        </label>

        <div class="search-btn-container d-flex justify-content-center w-100">
          <button type="submit" class="search-btn btn px-4 py-2 border-0"><i
              class="fa-solid fa-magnifying-glass me-2"></i>{{'SharedData.MainSearchFilterBtn' | translate}}</button>
        </div>

      </div>
    </form>

  </section>

  <!-- End First Section -->

  <!-- =============================================================================================================== -->

  <!-- Second Section Doctor List -->

  <section class="py-1 doctor-list-section">


    <div class="container">
      <div class="row py-3">
        <div id="offset-height" class="col-lg-3 mb-lg-5">
          <div class="mb-3 doctors-roadmap ps-2">
            <a routerLink="/home" class="fw-bolder text-decoration-none fs-5">{{'RoadMap.MainTitle' | translate}} <i
              class="fa-solid ms-2 fs-6" [ngClass]="rtlDir? 'fa-angles-left' : 'fa-angles-right'"></i>
            </a>
            <span class=" ms-2 fw-bolder text-capitalize">{{rtlDir?'الأطباء':'Doctors'}}</span>
          
          </div>
          <aside id="aside-filter" class="aside-filter position-relative pb-3" *ngIf="noDataError == ''">

            <div class="accordion" [ngClass]="rtlDir? 'accordion-arabic' : 'accordion-english'" id="accordionExample">
              <form  [formGroup]="filterForm"> <!--[formGroup]="ggForm"-->
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <div class="accordion-title d-flex align-items-center">
                    <i class="fa-solid fa-filter me-2"></i>
                    <h4 class="my-0">{{'SharedData.FiltersWord' | translate}}</h4>
                  </div>
                </h2>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" [class.collapsed]="titleArrayChecked.length==0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <i class="fa-solid fa-graduation-cap me-2"></i>
                    {{'DoctorsPage.Filters.Title' | translate}}
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample" [class.show]="titleArrayChecked.length>0">
                  <div class="accordion-body">

                    <div class="accordion-body-item" *ngFor="let title of titlesArray">
                      <input type="checkbox" id="title{{title.id}}" name="title{{title.id}}" [value]="title.id" (change)="GetTitleStats($event)" [checked]="titleArrayChecked[title.id]">
                      <label for="title{{title.id}}">{{rtlDir?title.name_ar:title.name}}</label>
                    </div>

                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button" [class.collapsed]="genderArrayChecked.length==0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="fa-solid fa-venus-mars me-2"></i>
                    {{'DoctorsPage.Filters.Gender' | translate}}
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample" [class.show]="genderArrayChecked.length>0">
                  <div class="accordion-body">
                    

                      <div class="accordion-body-item" *ngFor="let gender of gendersArray">
                        <input type="checkbox" id="gender{{gender.id}}" name="gender{{gender.id}}" [value]="gender.id" (change)="GetGenderStats($event)" [checked]="genderArrayChecked[gender.id]"> 
                        <label for="gender{{gender.id}}">{{rtlDir?gender.name_ar:gender.name}}</label>
                      </div>
                    
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button " [class.collapsed]="sectionArrayChecked.length==0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="fa-solid fa-suitcase-medical me-2"></i>
                    {{'DoctorsPage.Filters.Specialization' | translate}}
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample" [class.show]="sectionArrayChecked.length>0">
                  <div class="accordion-body">

                      <div class="accordion-body-item" *ngFor="let specialization of allSpecializations;let i = index">
                        <input type="checkbox" id="specialization{{specialization.id}}" name="specialization{{specialization.id}}" [value]="specialization.id" (change)="GetSpecializationStats($event)" [checked]="sectionArrayChecked[specialization.id]"> <!-- formControlName="formControl4"-->
                        <label for="specialization{{specialization.id}}" class="specialization-label">{{specialization.name}}</label>
                      </div>

                  </div>
                </div>
              </div>
              
            </form>
            </div>
          </aside>
        </div>
        <div class="col-lg-9 ">

          <div class="filtered-content" *ngIf="noDataError == ''">
            <div id="small-filter-btn"
              class="text-center justify-content-center d-none mb-3">
              <div class="accordion-item" (click)="showSmallFilter()">
                <h2 class="accordion-header">
                  <div class="accordion-title rounded d-flex align-items-center">
                    <i class="fa-solid fa-filter me-2"></i>
                    <h4 class="my-0">{{'SharedData.FiltersWord' | translate}}</h4>
                  </div>
                </h2>
              </div>
            </div>


            <div   *ngIf="!noData;else error">
              <div class="filtered-content-title d-flex text-muted ">
                <h2 class="filtered-title mb-0 fw-bold" [class.arabic-font]="rtlDir" *ngIf="filteredContent.length != 0">{{"DoctorsPage.ResultTitle1" | translate}} <span class="me-1" *ngFor="let specializationName of filteredContent">{{specializationName}}</span></h2>
                <h2 class="filtered-title mb-0 fw-bold" [class.arabic-font]="rtlDir" *ngIf="filteredContent.length == 0">{{"DoctorsPage.ResultTitle2" | translate}}</h2> 
                <!-- <h2 class="filtered-title mb-0" *ngIf="filteredContent.length != 0">Search By <span class="me-1" *ngFor="let name of filteredContent">{{name}}</span></h2> -->
                <p class="ms-2 mb-0"><span class="doctors-num">{{totalRecords}}</span> {{'DoctorsPage.MainSearchSectionList1' | translate}}</p>
              </div>
  
              <div class="doctors-list">
                <app-doctor *ngFor="let doctor of allDoctors| paginate :{id:'listing-pagination',
                      itemsPerPage:numDoctorsPerPage,
                      currentPage:page,
                      totalItems:totalRecords }" [doctor]="doctor"></app-doctor>
              </div>
  
              <div class="d-flex justify-content-center align-items-center">
                <pagination-controls id="listing-pagination" class="doctors-pagination" (pageChange)="changePage($event)" previousLabel="" nextLabel="" [ngClass]="rtlDir? 'pagination-arabic' : 'pagination-english'">
  
                </pagination-controls>
              </div>
            </div>
            

          </div>
        </div>
      </div>
      <ng-template #error>

          <div class=" search-empty text-center bg-white p-5 rounded mb-5">
              <div class="my-4">
                <i class="fa-solid fa-user-doctor search-icon"></i>
              </div>
              <div class="search-empty-content">
                  <div class="my-3">
                      <h2 class="fw-bold">{{"DoctorsPage.EmptyDoctors.Title" | translate}}</h2>
                  </div>
                  <p class="text-muted">{{"DoctorsPage.EmptyDoctors.paragraph" | translate}}</p>
              </div>
          </div>

      </ng-template>
    </div>
  </section>

  <!-- End Second Section -->

  <!-- =============================================================================================================== -->

  <!-- Filters in small screens -->

  <div id="small-filter" class="w-100 vh-100 position-fixed overflow-auto"
    [ngClass]="smallFilterVisible? 'd-block' : 'd-none'"  *ngIf="noDataError == ''">
    <form [formGroup]="filterForm">
      <div class="text-center position-relative">
        <h2 class="py-2 text-white">{{'SharedData.FiltersWord' | translate}}</h2>
        <div id="filter-close-icon" [ngClass]="rtlDir? 'filter-close-arabic' : 'filter-close-english'"
          (click)="hideSmallFilter()">
          <i class="fa-solid fa-xmark text-white fs-4"></i>
        </div>
      </div>
      <div class="small-filter-content p-3">
        <div class="small-filter-item bg-white py-3 my-3">
          <div class="small-filter-head d-flex align-items-baseline px-3">
            <i class="fa-solid fa-graduation-cap me-2 fs-5"></i>
            <h4>{{'DoctorsPage.Filters.Title' | translate}}</h4>
          </div>
          <div class="small-filter-body">


            <div class="accordion-body-item p-3 border-bottom" *ngFor="let title of titlesArray">
              <input type="checkbox" id="small-title{{title.id}}" name="title{{title.id}}" [value]="title.id" (change)="GetTitleStats($event)" [checked]="titleArrayChecked[title.id]">
              <label for="small-title{{title.id}}">{{rtlDir?title.name_ar:title.name}}</label>
            </div>

          </div>
        </div>

        <div class="small-filter-item bg-white py-3 my-3">
          <div class="small-filter-head d-flex align-items-baseline px-3">
            <i class="fa-solid fa-venus-mars me-2 fs-5"></i>
            <h4>{{'DoctorsPage.Filters.Gender' | translate}}</h4>
          </div>
          <div class="small-filter-body">

            <div class="accordion-body-item p-3 border-bottom" *ngFor="let gender of gendersArray">
              <input type="checkbox" id="small-gender{{gender.id}}" name="gender{{gender.id}}" [value]="gender.id" (change)="GetGenderStats($event)" [checked]="genderArrayChecked[gender.id]"> 
              <label for="small-gender{{gender.id}}">{{rtlDir?gender.name_ar:gender.name}}</label>
            </div>

          </div>
        </div>


        <div class="small-filter-item bg-white py-3 my-3">
          <div class="small-filter-head d-flex align-items-baseline px-3">
            <i class="fa-solid fa-venus-mars me-2 fs-5"></i>
            <h4>{{'DoctorsPage.Filters.Specialization' | translate}}</h4>
          </div>
          <div class="small-filter-body">

            <div class="accordion-body-item p-3 border-bottom" *ngFor="let specialization of allSpecializations;let i = index">
              <input type="checkbox" id="small-specialization{{specialization.id}}" name="specialization{{specialization.id}}" [value]="specialization.id" (change)="GetSpecializationStats($event)" [checked]="sectionArrayChecked[specialization.id]"> <!-- formControlName="formControl4"-->
              <label for="small-specialization{{specialization.id}}">{{specialization.name}}</label>
            </div>

          </div>
        </div>

      </div>

      <div class="small-filter-buttons d-flex justify-content-around align-items-center mb-4">
        <!-- <button type="submit" class="btn btn-success">{{'DoctorsPage.Filters.ShowResultBtn' | translate}}</button> -->
        <button id="filter-close-icon2" class="btn btn-danger" (click)="hideSmallFilter()">{{'SharedData.CloseBtn' | translate}}</button>
      </div>
    </form>
  </div>

  <!-- =============================================================================================================== -->

</div>