<!-- <app-spinner *ngIf="isVisibleSpinner"></app-spinner> -->

<div class="home-component animate" [dir]=" 'dir' | translate " [lang]="lang">

  <!-- =============================================================================================================== -->

  <!-- First Section Main -->
  <ngx-skeleton-loader *ngIf="sliderImages.length == 0" appearance="line" [theme]="{height: '70vh', background: '#dbd9d9', marginBottom: '-6px'}"></ngx-skeleton-loader>

  <section class=" main-section position-relative " #mainSection>
    <form (ngSubmit)="bookDoctor(doctors)" [class.d-none]="sliderImages.length == 0"> <!--  -->
      <div class="big-rounded main-search position-absolute p-2 d-flex justify-content-between align-items-center text-white">

        <div class="mx-3 my-2 m d-flex align-items-center w-100 d-flex justify-content-center">
          <!-- <i class="fa-solid fa-suitcase-medical mx-2"></i> -->
          <i class="fa-solid fa-tags mx-2"></i>

          <select class="p-2 text-white specialization-main-select2 w-50" name="specializations">
            <option [selected]="this.filterForm.value['sections'].length == 0" disabled ></option>
            <!-- <option value="all" [selected]="this.filterForm.value['sections'].length == 0">{{rtlDir?"كل التخصصات":"All Specializations"}}</option> -->
            <option *ngFor="let specialization of allSpecializations" [value]="specialization.id" [selected]="this.filterForm.value['sections'].includes(''+specialization.id+'')">{{specialization.name}}</option>

            <!-- <option required value="Neurology">Neurology</option>
            <option required value="Cardiology">Cardiology</option>
            <option required value="Dentistry">Dentistry</option>
            <option required value="Ophthalmology">Ophthalmology</option> -->
          </select>

        </div>
        <div class="mx-3 my-2 d-flex align-items-center w-100 d-flex justify-content-center">
          <i class="fa-solid fa-user-doctor mx-2"></i>

          <select #doctors class="p-2 text-white doctors-main-select2" name="doctors">
            <option [selected]="selectedDoctor == ''" disabled ></option>
            <option *ngFor="let doctor of allDoctors" [value]="doctor.id" [selected]="selectedDoctor == doctor.id">{{doctor.name}}</option>
            <!-- <option required value="Doctor1">Doctor1</option>
            <option required value="Doctor2">Doctor2</option>
            <option required value="Doctor3">Doctor3</option>
            <option required value="Doctor4">Doctor4</option> -->


            <!-- <option [selected]="name == ''" disabled></option>
            <option *ngFor="let specialization of allSpecializations" [selected]="name.toLowerCase() == specialization.name.toLowerCase()" [value]="specialization.name.toLowerCase()">{{specialization.name}}</option> -->
          </select>

        </div>
        <div class="mx-3 my-2 w-100 d-flex justify-content-center">
          <button type="submit" class="main-btn btn px-4 py-2 border-0">{{'SharedData.searchBtn' | translate}}</button>
        </div>

      </div>
    </form>

    <div class="position-relative">
      <app-carousel [carouselClass]="'main-section'" [carouselType]="mainCarousel" [carouselItems]="sliderImages"></app-carousel>


      <!-- <owl-carousel-o *ngIf="carouselClass=='main-section'" [options]="carouselType" class="main-carousel" [ngClass]="rtlDir? 'main-carousel-arabic' : 'main-carousel-english'">
        <ng-template carouselSlide *ngFor="let image of carouselItems">
          <div class="item">
            <div class="position-relative h-100">
              <img class="img-fluid h-100 w-100 default-img" [src]="image.photo || defaultImg" alt="">
              <div class="main-carousle-layer"></div>
              <div class="main-carousle-title">
                <h2>{{image.title}}</h2>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o> -->
<!-- 
      <owl-carousel class="main-carousel" [options]="mainCarousel" [items]="sliderImages" [carouselClasses]="['owl-theme', 'sliding']" [ngClass]="rtlDir? 'main-carousel-arabic' : 'main-carousel-english'" >
        <div class="item" *ngFor="let image of sliderImages;let i = index">
          <div class="item">
            <div class="position-relative h-100">
              <img class="img-fluid h-100 w-100 default-img" [src]="image.photo">
              <div class="main-carousle-layer"></div>
              <div class="main-carousle-title">
                <h2>{{image.title}}</h2>
              </div>
            </div>
          </div>
        </div>
        </owl-carousel> -->
    </div>

  </section>

  <!-- End First Section -->

  <!-- =============================================================================================================== -->

  <!-- Second Section Specialization -->

  <section class="py-5 specialization-section">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center title">
        <h2  [class.arabic-font] = "rtlDir" class="fw-bold">{{'HomePage.SpecialitiesSection' | translate}}</h2>
        <a routerLink="/specializations" class="text-decoration-none">
          <h5 class="fw-bold" [class.arabic-font] = "rtlDir" [ngClass]="rtlDir? 'show-all-arrow-arabic' : 'show-all-arrow-english'">{{'HomePage.ShowAll' | translate}}</h5>
        </a>
      </div>

      <app-carousel [class.d-none]="latestSpecializations.length == 0" [carouselClass]="'specialization-section'" [carouselType]="specializationCarousel" [carouselItems]="latestSpecializations"></app-carousel>

      <div class="row container skeleton-specialization" *ngIf="latestSpecializations.length == 0">
        <div class="col-lg-4 col-md-6" *ngFor="let item of screenWidth">
          <ngx-skeleton-loader class="rounded-0 rounded-top" appearance="line" [theme]="{height: '220px', background: '#dbd9d9', marginBottom: '-5px'}"></ngx-skeleton-loader>
          <div class="p-3 bg-white rounded-bottom">
            <ngx-skeleton-loader appearance="line" [theme]="{background: '#dbd9d9', width: '50%'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader appearance="line" [theme]="{background: '#dbd9d9', marginBottom: '4px'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader appearance="line" [theme]="{background: '#dbd9d9'}"></ngx-skeleton-loader>
        </div>
        </div>

      </div>




        <!-- <ng-template carouselSlide>

                <div class="specialization">
                  <div class=" h-100 rounded">
                    <div class="overflow-hidden">
                      <img class="img-fluid rounded" src="../../../assets/images/home/Cardiology.jpg" alt="">
                    </div>
                    <div class="specialization-info p-3">
                      <h4 class="my-2 fw-bold">Cardiology</h4>
                      <p class="card-text text-muted">Introduction. Cardiology is the study heart conditions. The Consultant with whom you have an appointment is a specialist.</p>
                    </div>
                  </div>
                </div>

        </ng-template>
        <ng-template carouselSlide>
                <div class="specialization">
                  <div class=" h-100 rounded">
                    <div class="overflow-hidden">
                      <img class="img-fluid rounded" src="../../../assets/images/home/Dentistry.jpg" alt="">
                    </div>
                    <div class="specialization-info p-3">
                      <h4 class="my-2 fw-bold">Dentistry</h4>
                      <p class="card-text text-muted">Dentistry, also known as dental medicine is the branch of medicine focused on the teeth, gums, and mouth.</p>
                    </div>
                  </div>
                </div>
        </ng-template>
        <ng-template carouselSlide>
                <div class="specialization">
                  <div class=" h-100 rounded">
                    <div class="overflow-hidden">
                      <img class="img-fluid rounded" src="../../../assets/images/home/Ophthalmology.jpg" alt="">
                    </div>
                    <div class="specialization-info p-3">
                      <h4 class="my-2 fw-bold">Ophthalmology</h4>
                      <p class="card-text text-muted">Ophthalmology is a surgical subspecialty within medicine that deals with the diagnosis and treatment of eye disorders.</p>
                    </div>
                  </div>
                </div>
        </ng-template>
        <ng-template carouselSlide>
                <div class="specialization">
                  <div class=" h-100 rounded">
                    <div class="overflow-hidden">
                      <img class="img-fluid rounded" src="../../../assets/images/home/Orthopedics.jpg" alt="">
                    </div>
                    <div class="specialization-info p-3">
                      <h4 class="my-2 fw-bold">Orthopedics</h4>
                      <p class="card-text text-muted">Orthopedics is a medical specialty that focuses on the diagnosis and treatment of patients with skeletal deformities</p>
                    </div>
                  </div>
                </div>
        </ng-template> -->
      <!-- </owl-carousel-o> -->



    </div>
  </section>

  <!-- End Second Section -->

  <!-- =============================================================================================================== -->

  <!-- Third Section why-medibooki -->

  <section class="py-5 why-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 why-content d-flex align-items-center text-white my-2">
          <div>
            <h2 class="why-title mb-5">{{'HomePage.WhySection' | translate}}</h2>
            <h3 class="px-3"><i class="fa-solid fa-lungs-virus" [ngClass]="rtlDir? 'ps-2' : 'pe-2'"></i>{{'HomePage.why1Title' | translate}}</h3>
            <h3 class="px-3"><i class="fa-solid fa-list-check" [ngClass]="rtlDir? 'ps-2' : 'pe-2'"></i>{{'HomePage.why2Title' | translate}}</h3>
            <h3 class="px-3"><i class="fa-solid fa-ticket" [ngClass]="rtlDir? 'ps-2' : 'pe-2'"></i>{{'HomePage.why3Title' | translate}}</h3>
            <h3 class="px-3"><i class="fa-brands fa-bots" [ngClass]="rtlDir? 'ps-2' : 'pe-2'"></i>{{'HomePage.why4Title' | translate}}</h3>
          </div>

        </div>
        <div class="col-md-6 why-img d-flex justify-content-end">
          <img class="img-fluid" src="../../../assets/images/home/doctor_consultation_02.png" alt="Doctor Consultant image">
        </div>

      </div>
    </div>
  </section>

  <!-- End Third Section -->

  <!-- =============================================================================================================== -->

  <!-- Fourth Section Doctors -->

  <section class="py-5 doctors-section"> <!-- *ngIf="distinguishedDoctors.length > 0"-->
    <div class="container">
      <div class="d-flex justify-content-between align-items-center title">
        <h2 class="fw-bold" [class.arabic-font] = "rtlDir">{{'HomePage.DoctorsSection' | translate}}</h2>
        <a routerLink="/doctors" class="text-decoration-none">
          <h5 class="fw-bold" [class.arabic-font] = "rtlDir" [ngClass]="rtlDir? 'show-all-arrow-arabic' : 'show-all-arrow-english'">{{'HomePage.ShowAll' | translate}}</h5>
        </a>
      </div>

      <app-carousel [class.d-none]="distinguishedDoctors.length == 0" [carouselClass]="'doctors-section'" [carouselType]="doctorsCarousel" [carouselItems]="distinguishedDoctors"></app-carousel>

      
      <!-- <div class="row container">
        <div class="col-md-4" *ngFor="let item of [0,0,0]">
          <div class="p-3 bg-white rounded">
            <div class="d-flex justify-content-center bg-danger">
              <ngx-skeleton-loader class="border-2" appearance="circle" [theme]="{width: '160px', height: '160px', background: '#dbd9d9', border: '3px solid white', transform: 'translateY(-50%)'}"></ngx-skeleton-loader>
            </div>
            <ngx-skeleton-loader appearance="line" [theme]="{background: '#dbd9d9', width: '50%'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader appearance="line" [theme]="{background: '#dbd9d9', marginBottom: '4px'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader appearance="line" [theme]="{background: '#dbd9d9'}"></ngx-skeleton-loader>
        </div>
        </div>

      </div> -->
      <div class="row pt-5" *ngIf="distinguishedDoctors.length == 0">
        <div class="col-lg-4 col-md-6" *ngFor="let item of screenWidth">
      <div class="skeleton-doctor pt-0 mb-3 mt-0 bg-white">
        <div class="d-flex justify-content-center">
          <div class="skeleton-doctor-img position-relative">
              <ngx-skeleton-loader appearance="circle" [theme]="{width: '160px', height: '160px', background: '#dbd9d9', border: '3px solid white'}"></ngx-skeleton-loader>
          </div>
        </div>
         
          <div class=" pb-3 pt-4 px-1">
            <span class="d-flex justify-content-center mb-4 mt-5">
              <div class="skeleton-doctor-name">
                <ngx-skeleton-loader appearance="line" [theme]="{background: '#dbd9d9', marginTop: '1.5rem'}"></ngx-skeleton-loader>
              </div>
            <!-- <h3 class="mt-3 text-center">ewgwgw</h3> -->
            </span>

            <div>

              <ngx-skeleton-loader class="mx-3" appearance="line" [theme]="{background: '#dbd9d9', width: '35%', marginBottom: '4px'}"></ngx-skeleton-loader>
            </div>
            <div>
              <ngx-skeleton-loader class="mx-3" appearance="line" [theme]="{background: '#dbd9d9', width: '40%'}"></ngx-skeleton-loader>

            </div>
          

            <div class="row my-4 px-5">
              <div class="col-4 offset-1"> <!--doctor-ratings text-muted my-3 d-flex justify-content-around align-items-center py-2-->
                <ngx-skeleton-loader appearance="line" [theme]="{background: '#dbd9d9', width: '100%'}"></ngx-skeleton-loader>

              </div>
              <div class="col-4 offset-2">
                <ngx-skeleton-loader appearance="line" [theme]="{background: '#dbd9d9', width: '100%'}"></ngx-skeleton-loader>

              </div>
            </div>

            <div class="row px-5">
              <div class="col-6"> <!--doctor-ratings text-muted my-3 d-flex justify-content-around align-items-center py-2-->
                <ngx-skeleton-loader appearance="line" [theme]="{background: '#dbd9d9', width: '100%', height: '135px'}"></ngx-skeleton-loader>

              </div>
              <div class="col-6">
                <ngx-skeleton-loader appearance="line" [theme]="{background: '#dbd9d9', width: '100%', height: '135px'}"></ngx-skeleton-loader>

              </div>
            </div>
            <!-- <div class="doctor-job-info px-3">
              <span>
                <h5 class="fw-bold"><i class="fa-solid fa-square-h mx-1 fs-6"></i>Misr Eldawly Hospital</h5>
              </span>
              <p class="text-muted"><i class="fa-solid fa-location-dot mx-1 fs-6"></i>hospital location</p>
            </div> -->

            <!-- <div class="doctor-booking-info my-3 d-flex justify-content-around align-items-center py-2 text-center">
              <div>
                <i class="fa-solid fa-phone fs-4 mb-2"></i>
                <p class="text-muted mb-1">{{"HomePage.BookedBy" | translate}}</p>
                <p>gggg {{"HomePage.Person" | translate}}</p>
              </div>
              <div>
                <i class="fa-solid fa-dollar-sign fs-3 mb-2 fw-bold"></i>
                <p class="text-muted mb-1">{{"HomePage.BookingPrice" | translate}}</p>
                <p>5555 {{"SharedData.Currency" | translate}}</p>
              </div>
            </div> -->

          </div>
      </div>
        </div>
      </div>
      <!-- <owl-carousel-o [options]="doctorsCarousel" class="doctors-carousel">
        <ng-template carouselSlide>
          <div class="doctor pt-0 mb-3 mt-0">
            <div class="h-100 rounded">
              <div class="doctor-info ">
                <div class="d-flex justify-content-center">
                  <div class="doctor-img">
                    <span>
                      <img class="img-fluid" src="../../../assets/images/home/Doctor1.jpg" alt="">
                    </span>
                  </div>
                </div>
              </div>
              <div class="doctor-layer pb-3">
                <span class="d-flex justify-content-center my-3">
                  <h3 class="mt-3 text-center">Doctor Name </h3>
                </span>
                <h5 class=" px-3"><i class="fa-solid fa-suitcase-medical mx-1 fs-6"></i>Doctor Specialization</h5>
                <h6 class="text-muted  px-3"><i class="fa-solid fa-notes-medical mx-1 fs-6"></i>Doctor Description</h6>


                <div class="doctor-ratings text-muted my-3 d-flex justify-content-around align-items-center py-2">
                  <p><i class="fa-solid fa-eye mx-1"></i>15151</p>
                  <p><i class="fa-solid fa-star text-warning mx-1"></i>5</p>
                </div>

                <div class="doctor-job-info px-3">
                  <span>
                    <h5 class="fw-bold"><i class="fa-solid fa-square-h mx-1 fs-6"></i>Misr Eldawly Hospital</h5>
                  </span>
                  <p class="text-muted"><i class="fa-solid fa-location-dot mx-1 fs-6"></i>hospital location</p>
                </div>

                <div class="doctor-booking-info my-3 d-flex justify-content-around align-items-center py-2 text-center">
                  <div>
                    <i class="fa-solid fa-phone fs-4 mb-2"></i>
                    <p class="text-muted">Book by Phone</p>
                    <p>01234567899</p>
                  </div>
                  <div>
                    <i class="fa-solid fa-dollar-sign fs-3 mb-2 fw-bold"></i>
                    <p class="text-muted">Booking Price</p>
                    <p>500 Dollar</p>
                  </div>
                </div>
                <div class="text-center">
                  <button class="btn px-5 book-btn big-rounded fs-5"> Book Now</button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="doctor pt-0 mb-3 mt-0">
            <div class="h-100 rounded">
              <div class="doctor-info ">
                <div class="d-flex justify-content-center">
                  <div class="doctor-img">
                    <span>
                      <img class="img-fluid" src="../../../assets/images/home/Doctor1.jpg" alt="">
                    </span>
                  </div>
                </div>
              </div>
              <div class="doctor-layer pb-3">
                <span class="d-flex justify-content-center my-3">
                  <h3 class="mt-3 text-center">Doctor Name </h3>
                </span>
                <h5 class=" px-3"><i class="fa-solid fa-suitcase-medical mx-1 fs-6"></i>Doctor Specialization</h5>
                <h6 class="text-muted  px-3"><i class="fa-solid fa-notes-medical mx-1 fs-6"></i>Doctor Description</h6>


                <div class="doctor-ratings text-muted my-3 d-flex justify-content-around align-items-center py-2">
                  <p><i class="fa-solid fa-eye mx-1"></i>15151</p>
                  <p><i class="fa-solid fa-star text-warning mx-1"></i>5</p>
                </div>

                <div class="doctor-job-info px-3">
                  <span>
                    <h5 class="fw-bold"><i class="fa-solid fa-square-h mx-1 fs-6"></i>Misr Eldawly Hospital</h5>
                  </span>
                  <p class="text-muted"><i class="fa-solid fa-location-dot mx-1 fs-6"></i>hospital location</p>
                </div>

                <div class="doctor-booking-info my-3 d-flex justify-content-around align-items-center py-2 text-center">
                  <div>
                    <i class="fa-solid fa-phone fs-4 mb-2"></i>
                    <p class="text-muted">Book by Phone</p>
                    <p>01234567899</p>
                  </div>
                  <div>
                    <i class="fa-solid fa-dollar-sign fs-3 mb-2 fw-bold"></i>
                    <p class="text-muted">Booking Price</p>
                    <p>500 Dollar</p>
                  </div>
                </div>
                <div class="text-center">
                  <button class="btn px-5 book-btn big-rounded fs-5"> Book Now</button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="doctor pt-0 mb-3 mt-0">
            <div class="h-100 rounded">
              <div class="doctor-info ">
                <div class="d-flex justify-content-center">
                  <div class="doctor-img">
                    <span>
                      <img class="img-fluid" src="../../../assets/images/home/Doctor1.jpg" alt="">
                    </span>
                  </div>
                </div>
              </div>
              <div class="doctor-layer pb-3">
                <span class="d-flex justify-content-center my-3">
                  <h3 class="mt-3 text-center">Doctor Name </h3>
                </span>
                <h5 class=" px-3"><i class="fa-solid fa-suitcase-medical mx-1 fs-6"></i>Doctor Specialization</h5>
                <h6 class="text-muted  px-3"><i class="fa-solid fa-notes-medical mx-1 fs-6"></i>Doctor Description</h6>


                <div class="doctor-ratings text-muted my-3 d-flex justify-content-around align-items-center py-2">
                  <p><i class="fa-solid fa-eye mx-1"></i>15151</p>
                  <p><i class="fa-solid fa-star text-warning mx-1"></i>5</p>
                </div>

                <div class="doctor-job-info px-3">
                  <span>
                    <h5 class="fw-bold"><i class="fa-solid fa-square-h mx-1 fs-6"></i>Misr Eldawly Hospital</h5>
                  </span>
                  <p class="text-muted"><i class="fa-solid fa-location-dot mx-1 fs-6"></i>hospital location</p>
                </div>

                <div class="doctor-booking-info my-3 d-flex justify-content-around align-items-center py-2 text-center">
                  <div>
                    <i class="fa-solid fa-phone fs-4 mb-2"></i>
                    <p class="text-muted">Book by Phone</p>
                    <p>01234567899</p>
                  </div>
                  <div>
                    <i class="fa-solid fa-dollar-sign fs-3 mb-2 fw-bold"></i>
                    <p class="text-muted">Booking Price</p>
                    <p>500 Dollar</p>
                  </div>
                </div>
                <div class="text-center">
                  <button class="btn px-5 book-btn big-rounded fs-5"> Book Now</button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="doctor pt-0 mb-3 mt-0">
            <div class="h-100 rounded">
              <div class="doctor-info ">
                <div class="d-flex justify-content-center">
                  <div class="doctor-img">
                    <span>
                      <img class="img-fluid" src="../../../assets/images/home/Doctor1.jpg" alt="">
                    </span>
                  </div>
                </div>
              </div>
              <div class="doctor-layer pb-3">
                <span class="d-flex justify-content-center my-3">
                  <h3 class="mt-3 text-center">Doctor Name </h3>
                </span>
                <h5 class=" px-3"><i class="fa-solid fa-suitcase-medical mx-1 fs-6"></i>Doctor Specialization</h5>
                <h6 class="text-muted  px-3"><i class="fa-solid fa-notes-medical mx-1 fs-6"></i>Doctor Description</h6>


                <div class="doctor-ratings text-muted my-3 d-flex justify-content-around align-items-center py-2">
                  <p><i class="fa-solid fa-eye mx-1"></i>15151</p>
                  <p><i class="fa-solid fa-star text-warning mx-1"></i>5</p>
                </div>

                <div class="doctor-job-info px-3">
                  <span>
                    <h5 class="fw-bold"><i class="fa-solid fa-square-h mx-1 fs-6"></i>Misr Eldawly Hospital</h5>
                  </span>
                  <p class="text-muted"><i class="fa-solid fa-location-dot mx-1 fs-6"></i>hospital location</p>
                </div>

                <div class="doctor-booking-info my-3 d-flex justify-content-around align-items-center py-2 text-center">
                  <div>
                    <i class="fa-solid fa-phone fs-4 mb-2"></i>
                    <p class="text-muted">Book by Phone</p>
                    <p>01234567899</p>
                  </div>
                  <div>
                    <i class="fa-solid fa-dollar-sign fs-3 mb-2 fw-bold"></i>
                    <p class="text-muted">Booking Price</p>
                    <p>500 Dollar</p>
                  </div>
                </div>
                <div class="text-center">
                  <button class="btn px-5 book-btn big-rounded fs-5"> Book Now</button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="doctor pt-0 mb-3 mt-0">
            <div class="h-100 rounded">
              <div class="doctor-info ">
                <div class="d-flex justify-content-center">
                  <div class="doctor-img">
                    <span>
                      <img class="img-fluid" src="../../../assets/images/home/Doctor1.jpg" alt="">
                    </span>
                  </div>
                </div>
              </div>
              <div class="doctor-layer pb-3">
                <span class="d-flex justify-content-center my-3">
                  <h3 class="mt-3 text-center">Doctor Name </h3>
                </span>
                <h5 class=" px-3"><i class="fa-solid fa-suitcase-medical mx-1 fs-6"></i>Doctor Specialization</h5>
                <h6 class="text-muted  px-3"><i class="fa-solid fa-notes-medical mx-1 fs-6"></i>Doctor Description</h6>


                <div class="doctor-ratings text-muted my-3 d-flex justify-content-around align-items-center py-2">
                  <p><i class="fa-solid fa-eye mx-1"></i>15151</p>
                  <p><i class="fa-solid fa-star text-warning mx-1"></i>5</p>
                </div>

                <div class="doctor-job-info px-3">
                  <span>
                    <h5 class="fw-bold"><i class="fa-solid fa-square-h mx-1 fs-6"></i>Misr Eldawly Hospital</h5>
                  </span>
                  <p class="text-muted"><i class="fa-solid fa-location-dot mx-1 fs-6"></i>hospital location</p>
                </div>

                <div class="doctor-booking-info my-3 d-flex justify-content-around align-items-center py-2 text-center">
                  <div>
                    <i class="fa-solid fa-phone fs-4 mb-2"></i>
                    <p class="text-muted">Book by Phone</p>
                    <p>01234567899</p>
                  </div>
                  <div>
                    <i class="fa-solid fa-dollar-sign fs-3 mb-2 fw-bold"></i>
                    <p class="text-muted">Booking Price</p>
                    <p>500 Dollar</p>
                  </div>
                </div>
                <div class="text-center">
                  <button class="btn px-5 book-btn big-rounded fs-5"> Book Now</button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o> -->

    </div>
  </section>

  <!-- End Fourth Section -->

  <!-- =============================================================================================================== -->

  <!-- Fifth Section Offers -->

  <!--
  <section class="py-5 offers-section">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center title">
        <h2 class="fw-bold">Latest Offers</h2>
        <a href="#" class="text-decoration-none">
          <h5 class="show-all-arrow">{{'HomePage.ShowAll' | translate}}</h5>
        </a>
      </div>

      <div class="owl-carousel offers-list">

        <a href="#" class="text-decoration-none">
          <div class="offer">
              <div class=" h-100 rounded">
                  <div class="overflow-hidden position-relative">
                      <img class="rounded offer-img" src="../../../assets/images/offers/Scaling-and-Polishing.jpeg" alt="">
                      <div class="img-layer rounded">
                          <div class="position-relative w-100 h-100">
                              <div class="offer-doctor d-flex">
                                  <img class="offer-doctor-img rounded-circle" src="../../../assets/images/doctors-list/Doctor-list.jpg" alt="">
                                  <div class="offer-doctor-info mx-2 text-white">
                                      <p class="fw-bold my-0">Doctor Name</p>
                                      <p class="my-0">Doctor Address</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="discount bg-danger p-1 rounded">
                          <span class="discounted-value"></span>% discount
                        </div>
                  </div>
                  <div class="p-2">
                      <h4 class="mt-2 mb-0">Scaling and Polishing</h4>
                      <div class="offer-stars">

                      </div>
                      <h6 class="text-muted">Overall Rating From <span class="num-persons-rating">999</span> Persons</h6>
                      <h5 class="text-success ">
                          <span class="text-muted text-decoration-line-through fw-bold"><span class="old-price"></span> EGP</span>
                          <span class="mx-2"> Save <span class="saving-amount"></span> EGP</span>
                      </h5>
                      <div class="d-flex justify-content-between align-items-center">
                          <h5 class="text-primary fw-bold my-0"><span class="new-price"></span> EGP</h5>
                          <div class="">
                              <button href="#" class="btn px-3 py-0 book-btn fs-5 mx-3"> Book</button>
                          </div>
                      </div>

                  </div>

              </div>
          </div>
        </a>
        <a href="#" class="text-decoration-none">
          <div class="offer">
              <div class=" h-100 rounded">
                  <div class="overflow-hidden position-relative">
                      <img class="rounded offer-img" src="../../../assets/images/offers/Scaling-and-Polishing.jpeg" alt="">
                      <div class="img-layer rounded">
                          <div class="position-relative w-100 h-100">
                              <div class="offer-doctor d-flex">
                                  <img class="offer-doctor-img rounded-circle" src="../../../assets/images/doctors-list/Doctor-list.jpg" alt="">
                                  <div class="offer-doctor-info mx-2 text-white">
                                      <p class="fw-bold my-0">Doctor Name</p>
                                      <p class="my-0">Doctor Address</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="discount bg-danger p-1 rounded">
                          <span class="discounted-value"></span>% discount
                        </div>
                  </div>
                  <div class="p-2">
                      <h4 class="mt-2 mb-0">Scaling and Polishing</h4>
                      <div class="offer-stars">

                      </div>
                      <h6 class="text-muted">Overall Rating From <span class="num-persons-rating">999</span> Persons</h6>
                      <h5 class="text-success ">
                          <span class="text-muted text-decoration-line-through fw-bold"><span class="old-price"></span> EGP</span>
                          <span class="mx-2"> Save <span class="saving-amount"></span> EGP</span>
                      </h5>
                      <div class="d-flex justify-content-between align-items-center">
                          <h5 class="text-primary fw-bold my-0"><span class="new-price"></span> EGP</h5>
                          <div class="">
                              <button href="#" class="btn px-3 py-0 book-btn fs-5 mx-3"> Book</button>
                          </div>
                      </div>

                  </div>

              </div>
          </div>
        </a>
        <a href="#" class="text-decoration-none">
          <div class="offer">
              <div class=" h-100 rounded">
                  <div class="overflow-hidden position-relative">
                      <img class="rounded offer-img" src="../../../assets/images/offers/Scaling-and-Polishing.jpeg" alt="">
                      <div class="img-layer rounded">
                          <div class="position-relative w-100 h-100">
                              <div class="offer-doctor d-flex">
                                  <img class="offer-doctor-img rounded-circle" src="../../../assets/images/doctors-list/Doctor-list.jpg" alt="">
                                  <div class="offer-doctor-info mx-2 text-white">
                                      <p class="fw-bold my-0">Doctor Name</p>
                                      <p class="my-0">Doctor Address</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="discount bg-danger p-1 rounded">
                          <span class="discounted-value"></span>% discount
                        </div>
                  </div>
                  <div class="p-2">
                      <h4 class="mt-2 mb-0">Scaling and Polishing</h4>
                      <div class="offer-stars">

                      </div>
                      <h6 class="text-muted">Overall Rating From <span class="num-persons-rating">999</span> Persons</h6>
                      <h5 class="text-success ">
                          <span class="text-muted text-decoration-line-through fw-bold"><span class="old-price"></span> EGP</span>
                          <span class="mx-2"> Save <span class="saving-amount"></span> EGP</span>
                      </h5>
                      <div class="d-flex justify-content-between align-items-center">
                          <h5 class="text-primary fw-bold my-0"><span class="new-price"></span> EGP</h5>
                          <div class="">
                              <button href="#" class="btn px-3 py-0 book-btn fs-5 mx-3"> Book</button>
                          </div>
                      </div>

                  </div>

              </div>
          </div>
        </a>
        <a href="#" class="text-decoration-none">
          <div class="offer">
              <div class=" h-100 rounded">
                  <div class="overflow-hidden position-relative">
                      <img class="rounded offer-img" src="../../../assets/images/offers/Scaling-and-Polishing.jpeg" alt="">
                      <div class="img-layer rounded">
                          <div class="position-relative w-100 h-100">
                              <div class="offer-doctor d-flex">
                                  <img class="offer-doctor-img rounded-circle" src="../../../assets/images/doctors-list/Doctor-list.jpg" alt="">
                                  <div class="offer-doctor-info mx-2 text-white">
                                      <p class="fw-bold my-0">Doctor Name</p>
                                      <p class="my-0">Doctor Address</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="discount bg-danger p-1 rounded">
                          <span class="discounted-value"></span>% discount
                        </div>
                  </div>
                  <div class="p-2">
                      <h4 class="mt-2 mb-0">Scaling and Polishing</h4>
                      <div class="offer-stars">

                      </div>
                      <h6 class="text-muted">Overall Rating From <span class="num-persons-rating">999</span> Persons</h6>
                      <h5 class="text-success ">
                          <span class="text-muted text-decoration-line-through fw-bold"><span class="old-price"></span> EGP</span>
                          <span class="mx-2"> Save <span class="saving-amount"></span> EGP</span>
                      </h5>
                      <div class="d-flex justify-content-between align-items-center">
                          <h5 class="text-primary fw-bold my-0"><span class="new-price"></span> EGP</h5>
                          <div class="">
                              <button href="#" class="btn px-3 py-0 book-btn fs-5 mx-3"> Book</button>
                          </div>
                      </div>

                  </div>

              </div>
          </div>
        </a>
        <a href="#" class="text-decoration-none">
          <div class="offer">
              <div class=" h-100 rounded">
                  <div class="overflow-hidden position-relative">
                      <img class="rounded offer-img" src="../../../assets/images/offers/Scaling-and-Polishing.jpeg" alt="">
                      <div class="img-layer rounded">
                          <div class="position-relative w-100 h-100">
                              <div class="offer-doctor d-flex">
                                  <img class="offer-doctor-img rounded-circle" src="../../../assets/images/doctors-list/Doctor-list.jpg" alt="">
                                  <div class="offer-doctor-info mx-2 text-white">
                                      <p class="fw-bold my-0">Doctor Name</p>
                                      <p class="my-0">Doctor Address</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="discount bg-danger p-1 rounded">
                          <span class="discounted-value"></span>% discount
                        </div>
                  </div>
                  <div class="p-2">
                      <h4 class="mt-2 mb-0">Scaling and Polishing</h4>
                      <div class="offer-stars">

                      </div>
                      <h6 class="text-muted">Overall Rating From <span class="num-persons-rating">999</span> Persons</h6>
                      <h5 class="text-success ">
                          <span class="text-muted text-decoration-line-through fw-bold"><span class="old-price"></span> EGP</span>
                          <span class="mx-2"> Save <span class="saving-amount"></span> EGP</span>
                      </h5>
                      <div class="d-flex justify-content-between align-items-center">
                          <h5 class="text-primary fw-bold my-0"><span class="new-price"></span> EGP</h5>
                          <div class="">
                              <button href="#" class="btn px-3 py-0 book-btn fs-5 mx-3"> Book</button>
                          </div>
                      </div>

                  </div>

              </div>
          </div>
        </a>
      </div>
    </div>

  </section>

  -->


  <!-- End Fifth Section -->

  <!-- =============================================================================================================== -->

  <!-- Sixth Section Counter -->

  <section class="counters-section text-center text-white" #countersSection>
    <div class="counters-layer py-5">
      <div class="container">
        <div class="row py-5">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-3 mx-auto">
            <div class="counters-icons rounded-circle mx-auto d-flex justify-content-center align-items-center mb-3">
              <i class="fa-solid fa-user-doctor fs-1"></i>
            </div>
            <div id="num-doctors-patients">
              <h3 class="counter-num">{{doctorsCounter}}</h3>
            </div>
            <h3>{{'HomePage.Counter1Title' | translate}}</h3>
          </div>

          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-3 mx-auto">
            <div class="counters-icons rounded-circle mx-auto d-flex justify-content-center align-items-center mb-3">
              <i class="fa-solid fa-users fs-1"></i>
            </div>
            <div id="num-users">
              <h3 class="counter-num">{{usersCounter}}</h3>
            </div>
            <h3>{{'HomePage.Counter2Title' | translate}}</h3>
          </div>

          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-3 mx-auto">
            <div class="counters-icons rounded-circle mx-auto d-flex justify-content-center align-items-center mb-3">
              <i class="fa-solid fa-hand-holding-medical fs-1"></i>
            </div>
            <div id="num-specialization">
              <h3 class="counter-num">{{specializationCounter}}</h3>
            </div>
            <h3>{{'HomePage.Counter3Title' | translate}}</h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- End Sixth Section -->

  <!-- =============================================================================================================== -->

  <!-- Seventh Section Articles -->

  <section class="py-5 articles-section"> <!-- *ngIf="articles.length > 0"-->
    <div class="container">
      <div class="d-flex justify-content-between align-items-center title">
        <h2  [class.arabic-font] = "rtlDir" class="fw-bold">{{'HomePage.ArticlesSection' | translate}}</h2>
        <!-- <a href="#" class="text-decoration-none">
          <h5 class="fw-bold" [class.arabic-font] = "rtlDir" [ngClass]="rtlDir? 'show-all-arrow-arabic' : 'show-all-arrow-english'">{{'HomePage.ShowAll' | translate}}</h5>
        </a> -->
      </div>

      <div class="cards row" *ngIf="articles.length > 0">

        <div class="col-lg-4 col-md-6 my-3" *ngFor="let article of articles">
          <app-article [article]="article"></app-article>
        </div>

      </div>

      <!-- Skeleton Articles -->

      <div class="row" *ngIf="articles.length == 0">
        
          <div class="col-lg-4 col-md-6 py-2" *ngFor="let item of [0,0,0]">
            <div class="skeleton-article-card rounded card">
              <div class="p-2">
                <ngx-skeleton-loader appearance="line" [theme]="{height: '220px', background: '#dbd9d9', marginBottom: '0px'}"></ngx-skeleton-loader>

              </div>
              <div class="p-3  rounded-bottom">
                <div class="row">
                  <div class="col-6">
                    <ngx-skeleton-loader appearance="line" [theme]="{background: '#dbd9d9'}"></ngx-skeleton-loader>
                  </div>
                  <div class="col-6">
                    <ngx-skeleton-loader appearance="line" [theme]="{background: '#dbd9d9'}"></ngx-skeleton-loader>
                  </div>
                </div>
                <div class="row">
                  <div class="col-9">
                    <ngx-skeleton-loader appearance="line" [theme]="{background: '#dbd9d9', marginTop: '5px'}"></ngx-skeleton-loader>
                  </div>
                </div>
            </div>
            </div>
          </div>
      </div>
               
      
      <div class="text-center">
        <button routerLink="/articles" class="articles-btn btn px-4 fs-4 my-3 text-white big-rounded">{{'HomePage.ArticlesBtnTitle' | translate}}</button>
      </div>
    </div>
  </section>

  <!-- End Seventh Section -->

  <!-- =============================================================================================================== -->
</div>
