<div class="article-component animate" [dir]=" 'dir' | translate "  [lang]="lang">
  <div class="p-1">
    <div class="card p-2 " [routerLink]="['/article', article.id]">
      <div class="card-img-link overflow-hidden">
        <img [src]="article.photo || defaultImg" class="w-100 rounded w-100 h-100 default-img" alt="...">
      </div>

      <div class="card-body">
        <div class="d-flex justify-content-between">
          <span routerLink="/specialize/{{article.section.id}}" class="card-title"><i class="fa-solid fa-tags mx-1"></i>{{article.section.name}}</span>
          <p><i class="far fa-clock mx-1"></i>{{article.created_at}}</p>
        </div>

        <span class="fw-bold"><i class="fa-solid fa-pen mx-1"></i>{{article.title}}</span>
      </div>
    </div>
  </div>
</div>
