@import "../../../colors.scss";





@mixin CarouselSection {
    width: 95%;
    margin: auto;
  }
  
  @mixin CarouselSectionItem {
    // margin: auto !important;
    cursor: pointer;
  }
  
  @mixin CarouselSectionsImg {
    transition: all .4s ease-in-out;
  }
  
  @mixin CarouselSectionImgHover {
    transform: scale(1.1);
  }
  
  @mixin CarouselSectionTitleHover {
    transition: all .2s ease-in-out;
    color: $mainColor;
  }
  
  @mixin SpecializationCarouselOwlNextPrev {
    position: absolute !important;
    top: 50% !important;
    transform: translate(0,-50%) !important;
    font-size: 35px !important;
    transition: all .2s ease-in-out !important;
    z-index: 3 !important;
    margin: 0 !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    outline: none !important;
    color: $mainColor !important;
    border: 1px solid $mainColor !important;
    background: #D6D6D6;
    &:hover {
      background: $mainColor2 !important;
      color: $whiteColor !important;
    }
  }
  
  @mixin MediaQueryCarouselSection {
    width: 90% !important;
    margin: auto !important;
  }
  
  


/* =======================================================( Specialization )======================================================= */


/* =======================================================( Main )======================================================= */




.main-section {
  background-color: $whiteColor;





  /*----------------------------------( Main Carousel )----------------------------------*/
  /* carousel dots */
  .main-carousel::ng-deep {

    .item {
      height: 70vh;
  
      .main-carousle-layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
      }

      img {
        max-height: 120% !important;
        min-height: 100%;
      }
    
      .main-carousle-title {
        position: absolute;
        top: 20%;
        width: 500px;
        color: rgba(255,255,255,0.8);
        // text-align: center;
    
        h2 {
          font-weight: 900;
          font-size: 4rem;
        }
      }

      .main-carousle-title-english {
        left: 7.5%;
      }

      .main-carousle-title-arabic {
        right: 7.5%;
      }
    }
    
    .owl-carousel {
      counter-reset: dots; // to change dots content to counter numbers
      .owl-dots {
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        display: flex;
        flex-direction: column;
        align-content: flex-start;
  
        .owl-dot {
          outline: none !important;

          span {
            width: 35px;
            height: 35px;
            background-color: #999;
            transition: all .2s ease;
            display: flex;
            justify-content: center;
            align-items: center;

            &::after {
              counter-increment: dots;
              content: counter(dots) ;
            }
          }

          &:hover {
            span {
              background-color: $whiteColor;
            }
          }

          &.active {
            span {
              background: $mainColor2;
              color: white;
            }
          }
        }
      }
    }
  }

  // English Style
  .main-carousel-english::ng-deep {
    .owl-dots {
      left: 1.5rem;
    }
  }

  // Arabic Style
  .main-carousel-arabic::ng-deep {
    .owl-dots {
      right: 1.5rem;
    }
  }
};


  
/*------------------------------------------------( 2.specialization Carousel )------------------------------------------------  */

/* Carousel Arrows */
.specialization-section,
.related-section {
    // background-color: $lightGreyColor;
  
    .specialization-carousel::ng-deep {
  
      .owl-carousel {
        @include CarouselSection();
  
        .specialization {
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          margin: 5px 15px !important;
          border-radius: 10px;
          @include CarouselSectionItem();
      
          > div {
            background-color: $whiteColor;
          }
      
          img {
            height: 220px;
            @include CarouselSectionsImg();
          }
      
          &:hover {
            img {
              @include CarouselSectionImgHover();
            }
      
            h4 {
              @include CarouselSectionTitleHover();
            }
          }
        }
  
  
        .owl-prev {
          @include SpecializationCarouselOwlNextPrev();
        }
      
        .owl-next {
          @include SpecializationCarouselOwlNextPrev();
        }
      }
    
  
    };
    
    // English Style
    .specialization-carousel-english::ng-deep,
    .related-carousel-english::ng-deep {
      .owl-prev {
        left: -60px !important;
    
        &:hover {
          .carousel-left{
            position: relative !important;
            animation: carousel-left 1s infinite !important;
          }
        }
      }
    
      .owl-next {
        right: -60px !important;
    
        &:hover {
          .carousel-right {
            position: relative !important;
            animation: carousel-right 1s infinite !important;
          }
        }
      }
    };
    
    // Arabic Style
    .specialization-carousel-arabic::ng-deep,
    .related-carousel-arabic::ng-deep {
      .owl-prev {
        right: -60px !important;
    
        &:hover {
          .carousel-left{
            position: relative !important;
            animation: carousel-right 1s infinite !important;
          }
        }
      }
      .owl-next {
        left: -60px !important;
    
        &:hover {
          .carousel-right {
            position: relative !important;
            animation: carousel-left 1s infinite !important;
          }
        }
      }
    }
  
  };
  
  /* Carousel Arrows Animation */
  @keyframes carousel-left {
    0%, 100% {right: 0;}
    50% {right: 4px;}
  }
  
  
  @keyframes carousel-right {
    0%, 100% {left: 0;}
    50% {left: 4px;}
  }
  
  
/*------------------------------------------------( 3.docrors Carousel )------------------------------------------------  */



/* =======================================================( Doctors )======================================================= */


/*------------------------------------------------( 3.doctors Carousel )------------------------------------------------  */

/* Doctors Carousel Dots */
.doctors-section {

  h3 {
    transition: color 0.5s ease;
  }

  span {
    h3 {
      cursor: pointer;
      display: inline-block;
    }

    h5 {
      @extend h3;
    }
  }

  .doctors-carousel::ng-deep {
    .owl-carousel {
      .doctor {
        img {
          height: 100%;
          border-radius: 50%;
          cursor: pointer;
          object-fit: cover;
          @include CarouselSectionsImg();
        }
    
        .book-btn {
          color: $mainColor !important;
          border: 2px solid $mainColor;
    
          &:hover {
            background-color: $mainColor;
            color: $whiteColor !important;
          }
        }
    
    
        .doctor-img {
          overflow: hidden;
          width: 160px;
          height: 160px;
          border-radius: 50%;
          // border: 1px solid rgba(90, 132, 235, .6);
          border: 3px solid rgba(255, 255, 255, 1);
          transform: translateY(50%);
    
          &:hover {
            img {
              @include CarouselSectionImgHover();
            }
          }
        }
    
        .doctor-layer {
          background-color: white;
          border-radius: 15px;
          padding-top: 3.5rem;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
          .doctor-ratings {
            background-color: #eef0f27c;
    
            p {
              padding: 0;
              margin: 0;
            }
          }
    
          .doctor-job-info {
            h5 {
              transition: color 0.5s ease;
            }
          }
    
          .doctor-booking-info {
            p {
              font-size: .8rem;
            }
    
            i {
              color: $mainColor;
            }
          }
          
        }
    
        span {
          
          h3 {
            &:hover {
            @include CarouselSectionTitleHover();
            }
          }
    
          h5 {
            &:hover {
            @include CarouselSectionTitleHover();
            }
          }
        }
      }

      .owl-dots {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
  
        .owl-dot {
          outline: none !important;
  
          &:hover {
            span {
              background-color: $mainColor;
            }
          }
  
          span {
            width: 28px;
            height: 28px;
            margin: 0 5px;
            border-radius: 50%;
            background-color: #999;
            transition: all .2s ease;
            display: flex;
            justify-content: center;
            align-items: center;
          }
  
          &.active {
            span {
              background: $mainColor2;
              color: white;
            }
          }
        }
      }
    }
  }
  
}

  
/*------------------------------------------------( 4.related medicines Carousel )------------------------------------------------  */


  .related-section {

    .related-carousel::ng-deep {
  
        .owl-carousel {
            @include CarouselSection();
            width: 88%;
    
            .owl-stage-outer {
              overflow-x: hidden;
            }

            .related {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            margin: 5px 15px !important;
            border-radius: 10px;
            @include CarouselSectionItem();
        
            > div {
                background-color: $whiteColor;
            }
        
            img {
                height: 220px;
                @include CarouselSectionsImg();
            }
        
            &:hover {
                img {
                @include CarouselSectionImgHover();
                }
        
                h4 {
                @include CarouselSectionTitleHover();
                }
            }
            }

            .owl-prev,
            .owl-next {
              @include SpecializationCarouselOwlNextPrev();
            }

        }
    
  
    };

  };





/* =======================================================( Media Query )======================================================= */

@media (width <=768px) {

    .related-section {
        .related-carousel::ng-deep {
  
            .owl-carousel {
              @include MediaQueryCarouselSection();
        
              /* Carousel Dots in Mobiles */
              .owl-dots {
                margin-top: 2rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
        
                .owl-dot {
                  margin-top: 5px;
                  margin-bottom: 5px;
                  outline: none !important;
        
                  span {
                    width: 18px;
                    height: 18px;
                    margin: 0 5px;
                    border-radius: 50%;
                    background-color: #999;
                    transition: all .2s ease;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
        
                  &:hover {
                    span {
                      background: $mainColor;
                    }
                  }
        
                  &.active {
                    span {
                      background: $mainColor2;
                      color: white;
                    }
                  }
                }
        
        
              }
            }
          }
    }

    .related-section {
        .related-carousel::ng-deep {
          .owl-carousel {
            .owl-next,
            .owl-prev {
              display: none !important;
            }
          }
    
        } 
      }

      .main-carousle-title {
        position: absolute;
        top: 12% !important;
        left: 5% !important;
        width: 250px !important;
        color: rgba(255,255,255,0.8);
        text-align: center;
    
        h2 {
          font-weight: 900;
          font-size: 2rem !important;
        }
      }
}

@media (width >768px) {
    .related-section {
        .related-carousel::ng-deep {
            .owl-dots {
              display: none !important;
            }
          }
    }
    
}





  @media (width <=600px) {
  
  
    // .offers-section,
    
    .specialization-section {
      .specialization-carousel::ng-deep {
  
        .owl-carousel {
          @include MediaQueryCarouselSection();
    
          /* Carousel Dots in Mobiles */
          .owl-dots {
            margin-top: 2rem;
            // display: flex;
            flex-wrap: wrap;
            justify-content: center;
    
            .owl-dot {
              margin-top: 5px;
              margin-bottom: 5px;
              outline: none !important;
    
              span {
                width: 18px;
                height: 18px;
                margin: 0 5px;
                border-radius: 50%;
                background-color: #999;
                transition: all .2s ease;
                display: flex;
                justify-content: center;
                align-items: center;
              }
    
              &:hover {
                span {
                  background: $mainColor;
                }
              }
    
              &.active {
                span {
                  background: $mainColor2;
                  color: white;
                }
              }
            }
    
    
          }
        }
      }
      
    } 
  
    .specialization-section {
      .specialization-carousel::ng-deep {
        .owl-carousel {
          .owl-next,
          .owl-prev {
            display: none !important;
          }
        }
  
      } 
    }
  }
  
  
  @media (width >600px) {
    .specialization-section {
      .specialization-carousel::ng-deep {
        .owl-dots {
          display: none !important;
        }
      }
    }
  }
  