@import '../../../../../styles.scss';
/* common */
.row {
  --bs-gutter-x:0;
}

.bg-light-gray {
  background-color: $lightGreyColor;
}

.bg-icon {
  background:$mainColor2;
}
/* profile details */
.cam-icon-position {
  top: 80%;
  cursor: pointer;
}

.btn-main{
  color: #fff;
  background: $mainColor2;
}

/* choose new image*/

label.filebutton {
  width:40px;
  height:40px;
  overflow:hidden;
  position:relative;
  background-color:#ccc;
}

label span input {
  z-index: 999;
  line-height: 0;
  font-size: 50px;
  position: absolute;
  top: -2px;
  left: -700px;
  opacity: 0;
  filter: alpha(opacity = 0);
  -ms-filter: "alpha(opacity=0)";
  cursor: pointer;
  _cursor: hand;
  margin: 0;
  padding:0;
}

.form-control {
  background-color: $lightGreyColor;
}

/* My Appointments */
.table-header {
  width: 20%;
  text-align: center;
}

/* medical history */
.timeline:before {
  content: '';
  position: absolute;
  // left: 2%; //en
  width: 6px;
  top: 0;
  bottom: 0;
  background-color: #c5c5c5;
}

.timeline ul li::before {
  content: '';
  position: absolute;
  top: -6px;
  // left: 1.25%; //en
  width: 20px;
  height: 20px;
  background: $mainColor2;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgpa(233,33,99,0.2);
}

.timeline-en ul li::before {
  left: 1.25%;
}

.timeline-ar ul li::before {
  right: 1.25%;
}

.timeline-en::before {
  left: 2%; //en
}

.timeline-ar::before {
  right: 2%; //en
}

.time {
  top: -10px;
  /* left: -9px; */
  background-color: $mainColor;
}

.side-nav-ul li {
  cursor: pointer;
}

.dash {
  width: 40px;
  height: 10px;
}

.fixed-size-shipping {
  height: 110px;
  width: 110px;
}

.medicine-name {
  font-size: 1rem;
  color: $mainColor6;
  transition: all .4s ease-in-out;

  &:hover {
      color: $mainColor;
  }
}

.medicine-price {
  span {
      font-size: 0.8rem;
  }
}

.medicine-img {
  height: 220px;
  width: 100%;
}

.doc-review-img {
  width: 75px;
  height: 75px;
}

.border-review-end-right {
  border-right: 1px solid var(--bs-border-color);
}

.border-review-end-left {
  border-left: 1px solid var(--bs-border-color);
}
