<!-- <app-spinner *ngIf="isVisibleSpinner"></app-spinner> -->

<div class="animate" [dir]=" 'dir' | translate " [lang]="lang">
  <div *ngIf="is_login else nolog">
  <!----------------------------------------------------- ( side nav ) ---------------------------------------------------->
    <div class="row w-100">
      <div class="col-lg-2 py-3" [ngClass]="{'border-side-en': !rtlDir, 'border-side-ar': rtlDir}">
        <!-- <div>
            <div class="px-5 pt-3 pb-3 d-flex justify-content-center">
                <img class="w-75 rounded-circle" [src]="userPhoto" width="200" height="200"/>
            </div>
            <h2 class="fs-4 fw-bold text-center">{{patientInfo.name}}</h2>
            <div class="row justify-content-center pb-3">
                <div class="col-4 m-2 p-1 rounded bg-light-gray text-center">
                    <p class="text-nowrap mb-1">Lorem, ipsum.</p>
                    <p class="fw-bold fs-1">10</p>
                </div>
                <div class="col-4 m-2 p-1 rounded bg-light-gray text-center">
                    <p class="text-nowrap mb-1">Lorem, ipsum.</p>
                    <p class="fw-bold fs-1">10</p>
                </div>
            </div>
        </div> -->
        <ul class="list-unstyled w-100 side-nav-ul">
            <li class="m-2 rounded text-dark" routerLinkActive="side-active" routerLink="/my-profile/details">
                      <a class=" text-decoration-none fw-bold text-dark" ><i class="fa-solid fa-user m-2 p-2 rounded text-black bg-light-gray"></i>{{'patientProfile.sidenav1' | translate}}</a>
            </li>
            <li class="m-2 rounded text-dark"  routerLinkActive="side-active" routerLink="/my-profile/change-password">
                <a class="text-dark text-decoration-none fw-bold text-dark" ><i class="fa-solid fa-key m-2 p-2 rounded text-black bg-light-gray"></i>{{'patientProfile.sidenav2' | translate}}</a>
            </li>
            <li class="m-2 rounded text-dark"  routerLinkActive="side-active" routerLink="/my-profile/insurance">
                <a class="text-dark text-decoration-none fw-bold text-dark"><i class="fa-solid fa-shield m-2 p-2 rounded text-black bg-light-gray"></i>{{'patientProfile.sidenav3' | translate}}</a>
            </li>
            <li class="m-2 rounded text-dark"  routerLinkActive="side-active" routerLink="/my-profile/appointments">
                <a class="text-dark text-decoration-none fw-bold text-dark"><i class="fa-solid fa-calendar-check m-2 p-2 rounded text-black bg-light-gray"></i>{{'patientProfile.sidenav4' | translate}}</a>
            </li>
            <li class="m-2 rounded text-dark"  routerLinkActive="side-active"  routerLink="/my-profile/history">
              <a class="text-dark text-decoration-none fw-bold text-dark"><i class="fa-solid fa-clock-rotate-left m-2 p-2 rounded text-black bg-light-gray"></i>{{'patientProfile.sidenav5' | translate}}</a>
            </li>
            <li class="m-2 rounded text-dark"  routerLinkActive="side-active" routerLink="/my-profile/invoices">
              <a class="text-dark text-decoration-none fw-bold text-dark"><i class="fa-solid fa-money-bills m-2 p-2 rounded text-black bg-light-gray"></i>{{'patientProfile.sidenav6' | translate}}</a>
            </li>
            <!-- <li class="m-2 rounded text-dark" [ngClass]="{'side-active': curruntService== 'statements'}" (click)="getServive('statements')">
            <a class="text-dark text-decoration-none fw-bold text-dark" [ngClass]="{'text-white': curruntService== 'details'}"><i class="fa-solid fa-file-invoice m-2 p-2 rounded text-black bg-light-gray" [ngClass]="{'text-white bg-transparent': curruntService== 'statements'}"></i>{{'patientProfile.sidenav7' | translate}}</a>
            </li> -->
            <li class="m-2 rounded text-dark"  routerLinkActive="side-active"  routerLink="/my-profile/favorites">
              <a class="text-dark text-decoration-none fw-bold text-dark"><i class="fa-solid fa-heart m-2 p-2 rounded text-black bg-light-gray" ></i>{{'patientProfile.sidenav8' | translate}}</a>
            </li>
            <li class="m-2 rounded text-dark"  routerLinkActive="side-active" routerLink="/my-profile/orders">
                <a class="text-dark text-decoration-none fw-bold text-dark"><i class="fa-solid fa-tablets m-2 p-2 rounded text-black bg-light-gray"></i>{{'patientProfile.sidenav9' | translate}}</a>
            </li>
            <li class="m-2 rounded text-dark"  routerLinkActive="side-active" routerLink="/my-profile/reviews">
              <a class="text-dark text-decoration-none fw-bold text-dark"><i class="fa-solid fa-star m-2 p-2 rounded text-black bg-light-gray" ></i>{{'patientProfile.sidenav10' | translate}}</a>
            </li>
        </ul>
      </div>

      <div class="col-lg-10 bg-light-gray">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <ng-template #nolog>
      <div class=" doctors-empty text-center bg-white p-5 rounded mb-5">
        <div class="my-4">
          <i class="fa-solid fa-triangle-exclamation fs-1 text-danger"></i>
        </div>
        <div class="doctors-empty-content">
            <div class="my-3">
                <h2 class="fw-bold text-danger">{{"patientProfile.noLogin" | translate}}</h2>
              </div>
            <button type="button" class="btn btn-danger" routerLink="/home">{{"patientProfile.go2login" | translate}}</button>
        </div>
      </div>
  </ng-template>
</div>



<!-- Appointments Modal -->
<div class="modal fade" id="appointmentcolModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{myAppointmentModal.appointments[myAppointmentModal.id]?.doctor?.name}}</h1>
      </div>
      <div class="modal-body row">
        <div class="col-6">
          <label class="text-secondary">{{'patientProfile.tap4col2' | translate}}</label>
          <p class="fw-bold">{{myAppointmentModal.appointments[myAppointmentModal.id]?.date}}</p>
        </div>
        <div class="col-6">
          <label class="text-secondary">{{'patientProfile.tap4col3' | translate}}</label>
          <p class="fw-bold">{{myAppointmentModal.appointments[myAppointmentModal.id]?.time}}</p>
        </div>
        <div class="col-6">
          <label class="text-secondary">{{'patientProfile.tap4col4' | translate}}</label>
          <p class="fw-bold">{{myAppointmentModal.appointments[myAppointmentModal.id]?.price}}</p>
        </div>
        <div class="col-6">
          <label class="text-secondary">{{'patientProfile.tap4col5' | translate}}</label>
          <p class="fw-bold">
            <span *ngIf="myAppointmentModal.appointments[myAppointmentModal.id]?.status==0">{{'patientProfile.tap6status0' | translate}}</span>
            <span *ngIf="myAppointmentModal.appointments[myAppointmentModal.id]?.status==1">{{'patientProfile.tap6status1' | translate}}</span>
          </p>
        </div>
      </div>
      <div class="modal-footer" [ngClass]="{'d-flex justify-content-between': myAppointmentModal.appointments[myAppointmentModal.id]?.status==1}">
        <button class="btn btn-main border-0" *ngIf=" myAppointmentModal.appointments[myAppointmentModal.id]?.status==1 && myAppointmentModal.review  " [routerLink]="['/review', myAppointmentModal.appointments[myAppointmentModal.id].doctor.myAppointmentModal.id]" routerLinkActive="router-link-active" data-bs-dismiss="modal" (click)="getifUpdate(0)">{{'patientProfile.tap4col6' | translate}}</button>
        <button class="btn btn-main border-0" *ngIf="myAppointmentModal.appointments[myAppointmentModal.id]?.status==1 && myAppointmentModal.updateReview " [routerLink]="['/review', myAppointmentModal.appointments[myAppointmentModal.id].doctor.id ]" [queryParams]="{ id: myAppointmentModal.reviewId }" routerLinkActive="router-link-active" data-bs-dismiss="modal" (click)="getifUpdate(1)">update review</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- invoice Modal -->
<div class="modal fade" id="colModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="myInvoicesModal.invoices[myInvoicesModal.id]!=undefined">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{myInvoicesModal.invoices[myInvoicesModal.id].service}}</h1>
      </div>
      <div class="modal-body row">
        <div class="col-6">
          <label class="text-secondary">{{'patientProfile.tap6col2' | translate}}</label>
          <p class="fw-bold">{{myInvoicesModal.invoices[myInvoicesModal.id].invoice_date}}</p>
        </div>
        <div class="col-6">
          <label class="text-secondary">{{'patientProfile.tap6col3' | translate}}</label>
          <p class="fw-bold">{{myInvoicesModal.invoices[myInvoicesModal.id].doctor}}</p>
        </div>
        <div class="col-6">
          <label class="text-secondary">{{'patientProfile.tap6col4' | translate}}</label>
          <p class="fw-bold">{{myInvoicesModal.invoices[myInvoicesModal.id].total_with_tax}}</p>
        </div>
        <div class="col-6">
          <label class="text-secondary">{{'patientProfile.tap6col5' | translate}}</label>
          <p class="fw-bold">
            <span *ngIf="myInvoicesModal.invoices[myInvoicesModal.id].type==2">{{'patientProfile.tap6type2' | translate}}</span>
            <span *ngIf="myInvoicesModal.invoices[myInvoicesModal.id].type==1">{{'patientProfile.tap6type1' | translate}}</span>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- update Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form [formGroup]="updateProfile" (ngSubmit)="updateProfileSupmit()" >
      <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{'patientProfile.tap1modaltitle' | translate}}</h1>
        <!-- <button type="button" class="mx-auto btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body row">
        <p class="px-2">{{'patientProfile.tap1modalp' | translate}}</p>
        <div class="pb-2 col-md-6 px-2">
          <label>{{'patientProfile.tap1input1' | translate}}</label>
          <!-- username -->
          <input formControlName="name" type="text" class="form-control">
          <div class="mt-1" *ngIf="updateProfile.controls.name.touched && updateProfile.controls.name.dirty">
            <p class="text-danger" *ngIf="updateProfile.controls.name?.errors?.['required']">
              {{'errors.required' | translate}}
            </p>
            <p class="text-danger" *ngIf="updateProfile.controls.name?.errors?.['pattern']">
              {{'errors.usernamePattern' | translate}}
            </p>
          </div>
        </div>
        <div class="pb-2 col-md-6 px-2">
          <label>{{'patientProfile.tap1input3' | translate}}</label>
          <!-- phone -->
          <input formControlName="phone" type="tel" class="form-control" >
          <div class="mt-1" *ngIf="updateProfile.controls.phone.touched && updateProfile.controls.phone.dirty">
            <p class="text-danger" *ngIf="updateProfile.controls.phone.errors?.['required']">
              {{'errors.required' | translate}}
            </p>
          </div>
        </div>
        <div class="pb-2 col-md-6 px-2">
          <label>{{'patientProfile.tap1input7' | translate}}</label>
          <!-- address -->
          <input formControlName="address"  type="text" class="form-control">
          <div class="mt-1" *ngIf="updateProfile.controls.address.touched && updateProfile.controls.address.dirty">
            <p class="text-danger" *ngIf="updateProfile.controls.address?.errors?.['required']">
              {{'errors.required' | translate}}
            </p>
          </div>
        </div>
        <div class="pb-2 col-md-6 px-2">
          <label>{{'patientProfile.tap1input8' | translate}}</label>
          <!-- photo -->
          <input formControlName="photo" #photo (change)="onFileChange($event)" name="photo" type="file" class="form-control" >
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" value="Update" class="button btn btn-main" />
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </form>
  </div>
</div>

