@import '../../../../../colors.scss';
/* common */
.row {
  --bs-gutter-x:0;
}

.bg-light-gray {
  background-color: $lightGreyColor;
}

.side-active {
  background-color: $mainColor6;
  color: white;
  a {
    color: #fff !important;
    i {
      background-color: transparent !important;
      color: #fff !important;
    }
  }
}

.bg-icon {
  background:$mainColor2;
}
/* profile details */
.cam-icon-position {
  top: 80%;
  cursor: pointer;
}

.btn-main{
  color: #fff;
  background: $mainColor2;
}

/* choose new image*/

label.filebutton {
  width:40px;
  height:40px;
  overflow:hidden;
  position:relative;
  background-color:#ccc;
}

label span input {
  z-index: 999;
  line-height: 0;
  font-size: 50px;
  position: absolute;
  top: -2px;
  left: -700px;
  opacity: 0;
  filter: alpha(opacity = 0);
  -ms-filter: "alpha(opacity=0)";
  cursor: pointer;
  _cursor: hand;
  margin: 0;
  padding:0;
}

.form-control {
  background-color: $lightGreyColor;
}



.side-nav-ul li {
  cursor: pointer;
}

.dash {
  width: 40px;
  height: 10px;
}

.fixed-size-shipping {
  height: 110px;
  width: 110px;
}

.medicine-name {
  font-size: 1rem;
  color: $mainColor6;
  transition: all .4s ease-in-out;

  &:hover {
      color: $mainColor;
  }
}

.border-review-end-right {
  border-right: 1px solid var(--bs-border-color);
}

.border-review-end-left {
  border-left: 1px solid var(--bs-border-color);
}

.shadow {
  border-radius: 50px;
  // background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
  }

.border-side-en {
  border-right: 2px solid rgba(0, 0, 0,0.1);
}

.border-side-ar {
  border-left: 2px solid rgba(0, 0, 0,0.1);
}

ul { padding:0 }
