<!-- <app-spinner *ngIf="isVisibleSpinner"></app-spinner> -->

<div class="animate" [dir]=" 'dir' | translate " [lang]="lang">  <div *ngIf="is_login else nolog">
  <!----------------------------------------------------- ( side nav ) ---------------------------------------------------->
 <div class="row w-100">
  <div class="col-lg-2 py-3" [ngClass]="{'border-side-en': !rtlDir, 'border-side-ar': rtlDir}">
    <!-- <div>
        <div class="px-5 pt-3 pb-3 d-flex justify-content-center">
            <img class="w-75 rounded-circle" [src]="userPhoto" width="200" height="200"/>
        </div>
        <h2 class="fs-4 fw-bold text-center">{{patientInfo.name}}</h2>
        <div class="row justify-content-center pb-3">
            <div class="col-4 m-2 p-1 rounded bg-light-gray text-center">
                <p class="text-nowrap mb-1">Lorem, ipsum.</p>
                <p class="fw-bold fs-1">10</p>
            </div>
            <div class="col-4 m-2 p-1 rounded bg-light-gray text-center">
                <p class="text-nowrap mb-1">Lorem, ipsum.</p>
                <p class="fw-bold fs-1">10</p>
            </div>
        </div>
    </div> -->
    <ul class="list-unstyled w-100 side-nav-ul">
        <li class="m-2 rounded text-dark" [ngClass]="{'side-active': curruntService== 'details'}" (click)="getServive('details')">
                  <a class=" text-decoration-none fw-bold text-dark" [ngClass]="{'text-white': curruntService== 'details'}" ><i class="fa-solid fa-user m-2 p-2 rounded text-black bg-light-gray" [ngClass]="{'text-white bg-transparent': curruntService== 'details'}"></i>{{'patientProfile.sidenav1' | translate}}</a>
        </li>
        <li class="m-2 rounded text-dark" [ngClass]="{'side-active': curruntService== 'password'}" (click)="getServive('password')">
            <a class="text-dark text-decoration-none fw-bold text-dark" [ngClass]="{'text-white': curruntService== 'password'}"><i class="fa-solid fa-key m-2 p-2 rounded text-black bg-light-gray" [ngClass]="{'text-white bg-transparent': curruntService== 'password'}"></i>{{'patientProfile.sidenav2' | translate}}</a>
        </li>
        <li class="m-2 rounded text-dark" [ngClass]="{'side-active': curruntService== 'insurance'}" (click)="getServive('insurance')">
            <a class="text-dark text-decoration-none fw-bold text-dark" [ngClass]="{'text-white': curruntService== 'insurance'}" ><i class="fa-solid fa-shield m-2 p-2 rounded text-black bg-light-gray" [ngClass]="{'text-white bg-transparent': curruntService== 'insurance'}"></i>{{'patientProfile.sidenav3' | translate}}</a>
        </li>
        <li class="m-2 rounded text-dark" [ngClass]="{'side-active': curruntService== 'appointments'}" (click)="getServive('appointments')">
            <a class="text-dark text-decoration-none fw-bold text-dark" [ngClass]="{'text-white': curruntService== 'appointments'}" ><i class="fa-solid fa-calendar-check m-2 p-2 rounded text-black bg-light-gray" [ngClass]="{'text-white bg-transparent': curruntService== 'appointments'}"></i>{{'patientProfile.sidenav4' | translate}}</a>
        </li>
        <li class="m-2 rounded text-dark" [ngClass]="{'side-active': curruntService== 'history'}" (click)="getServive('history')">
          <a class="text-dark text-decoration-none fw-bold text-dark" [ngClass]="{'text-white': curruntService== 'history'}"><i class="fa-solid fa-clock-rotate-left m-2 p-2 rounded text-black bg-light-gray" [ngClass]="{'text-white bg-transparent': curruntService== 'history'}"></i>{{'patientProfile.sidenav5' | translate}}</a>
        </li>
        <li class="m-2 rounded text-dark" [ngClass]="{'side-active': curruntService== 'bills'}" (click)="getServive('bills')">
          <a class="text-dark text-decoration-none fw-bold text-dark" [ngClass]="{'text-white': curruntService== 'bills'}"><i class="fa-solid fa-money-bills m-2 p-2 rounded text-black bg-light-gray" [ngClass]="{'text-white bg-transparent': curruntService== 'bills'}"></i>{{'patientProfile.sidenav6' | translate}}</a>
        </li>
        <!-- <li class="m-2 rounded text-dark" [ngClass]="{'side-active': curruntService== 'statements'}" (click)="getServive('statements')">
        <a class="text-dark text-decoration-none fw-bold text-dark" [ngClass]="{'text-white': curruntService== 'details'}"><i class="fa-solid fa-file-invoice m-2 p-2 rounded text-black bg-light-gray" [ngClass]="{'text-white bg-transparent': curruntService== 'statements'}"></i>{{'patientProfile.sidenav7' | translate}}</a>
        </li> -->
        <li class="m-2 rounded text-dark" [ngClass]="{'side-active': curruntService== 'fav'}" (click)="getServive('fav')">
          <a class="text-dark text-decoration-none fw-bold text-dark" [ngClass]="{'text-white': curruntService== 'fav'}"><i class="fa-solid fa-heart m-2 p-2 rounded text-black bg-light-gray" [ngClass]="{'text-white bg-transparent': curruntService== 'fav'}"></i>{{'patientProfile.sidenav8' | translate}}</a>
        </li>
        <li class="m-2 rounded text-dark" [ngClass]="{'side-active': curruntService== 'orders'}" (click)="getServive('orders')">
            <a class="text-dark text-decoration-none fw-bold text-dark" [ngClass]="{'text-white': curruntService== 'orders'}"><i class="fa-solid fa-tablets m-2 p-2 rounded text-black bg-light-gray" [ngClass]="{'text-white bg-transparent': curruntService== 'orders'}"></i>{{'patientProfile.sidenav9' | translate}}</a>
        </li>
        <li class="m-2 rounded text-dark" [ngClass]="{'side-active': curruntService== 'review'}" (click)="getServive('review')">
          <a class="text-dark text-decoration-none fw-bold text-dark" [ngClass]="{'text-white': curruntService== 'review'}"><i class="fa-solid fa-star m-2 p-2 rounded text-black bg-light-gray" [ngClass]="{'text-white bg-transparent': curruntService== 'review'}"></i>{{'patientProfile.sidenav10' | translate}}</a>
        </li>
    </ul>
  </div>

<div class="col-lg-10 bg-light-gray">
<!-------------------------------------------- ( profile details ) ------------------------------------------------------>

<div class="m-4 p-3 rounded bg-white" *ngIf="curruntService == 'details'">
  <h2 class="fw-bold text-center mb-3">{{'patientProfile.sidenav1' | translate }}</h2>
  <div class="row">

    <!-- user image div -->
      <div class="col-md-4">

          <div class="position-relative px-5 pt-4 pb-3 d-flex justify-content-center">
            <img class="w-75 rounded-circle" [src]="userPhoto" width="200" height="180"/>
<!--
            <label class="filebutton position-absolute cam-icon-position text-black rounded-circle text-center">
                <i class="fa-solid fa-camera fs-5 bg-light-gray p-2 w-100 h-100"></i>
                <span><input type="file" id="myfile" name="myfile"></span>
            </label> -->
          </div>
          <div class=" d-flex justify-content-center">
            <!-- <input type="submit" value="Update" class="btn btn-main border-0 m-auto" [disabled]="updateProfile.invalid"/> -->
            <!-- <input value="Update" class="btn btn-main border-0 m-auto" data-bs-toggle="modal" data-bs-target="#exampleModal"/> -->
            <button class="btn btn-main border-0" data-bs-toggle="modal" data-bs-target="#exampleModal">Update</button>
          </div>
      </div>
      <!-- edit form div -->
      <div class="col-md-8">
            <div class="row w-100">

                      <div class="pb-2 col-md-6 px-2"><label>{{'patientProfile.tap1input2' | translate}}</label><div class="form-control ">{{patientInfo.email}}</div></div>

                      <div class="pb-2 col-md-6 px-2"><label>{{'patientProfile.tap1input4' | translate}}</label><div class="form-control ">{{patientInfo.date_of_birth}}</div></div>
                      <div class="pb-2 col-md-6 px-2">
                        <label>{{'patientProfile.tap1input5' | translate}}</label>
                        <div class="form-control ">{{patientInfo.blood_group}}</div>
                      </div>
                      <div class="pb-2 col-md-6 px-2">
                        <label>{{'patientProfile.tap1input6' | translate}}</label>
                        <div class="form-control ">{{patientInfo.gender}}</div>
                      </div>
                      <div class="pb-2 col-md-6 px-2">
                        <label>{{'patientProfile.tap1input1' | translate}}</label>
                        <!-- username -->
                        <div class="form-control ">{{patientInfo.name}}</div>
                        <!-- <input formControlName="name" type="text" class="form-control" [value]="patientInfo.name"> -->
                      </div>
                      <div class="pb-2 col-md-6 px-2">
                        <label>{{'patientProfile.tap1input3' | translate}}</label>
                        <!-- phone -->
                        <div class="form-control ">{{patientInfo.phone}}</div>
                        <!-- <input formControlName="phone" type="tel" class="form-control" [(ngModel)]="patientInfo.phone"> -->
                      </div>
                      <div class="pb-2 col-md-6 px-2">
                        <label>{{'patientProfile.tap1input7' | translate}}</label>
                        <!-- address -->
                        <div class="form-control ">{{patientInfo.address}}</div>
                        <!-- <input formControlName="address"  type="text" class="form-control" [(ngModel)]="patientInfo.address"> -->
                      </div>
                    </div>
                    <!-- <div class=" d-flex justify-content-end"> -->
                      <!-- <input type="submit" value="Update" class="btn btn-main border-0 m-auto" [disabled]="updateProfile.invalid"/> -->
                      <!-- <input value="Update" class="btn btn-main border-0 m-auto" data-bs-toggle="modal" data-bs-target="#exampleModal"/> -->
                      <!-- <button class="btn btn-main border-0" data-bs-toggle="modal" data-bs-target="#exampleModal">Update</button>
                    </div> -->

                  </div>

  </div>

</div>

<!----------------------------------------------------- ( change password ) -------------------------------------------->

          <div class="m-4 p-3 bg-white rounded" *ngIf="curruntService == 'password'">
              <h2 class="fw-bold text-center">{{'patientProfile.sidenav2' | translate}}</h2>
              <form [formGroup]="changePassword" (ngSubmit)="changePasswordFun()">
                  <div class="w-100">
                    <div class="pb-2 px-2">
                      <label>{{'patientProfile.tap2input1' | translate}}</label>
                      <input formControlName="old_password" type="password" class="form-control" id="test-input" />
                      <div class="mt-1" *ngIf="changePassword.controls.old_password.touched && changePassword.controls.old_password.dirty">
                        <p class="text-danger" *ngIf="changePassword.controls.old_password?.errors?.['required']">
                          {{'errors.required' | translate}}
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 pb-2 px-2">
                        <label>{{'patientProfile.tap2input2' | translate}}</label>
                        <input formControlName="password" type="password" [type]="showPass? 'text' : 'password'" class="form-control" id="test-input" />
                        <div class="mt-1" *ngIf="changePassword.controls.password.touched && changePassword.controls.password.dirty">
                          <p class="text-danger" *ngIf="changePassword.controls.password?.errors?.['required']">
                            {{'errors.required' | translate}}
                          </p>
                          <p class="text-danger" *ngIf="changePassword.controls.password.errors?.['pattern']">
                            {{'errors.passwordPattern' | translate}}
                          </p>
                        </div>
                      </div>
                      <div class="col-md-6 pb-2 px-2">
                        <label>{{'patientProfile.tap2input3' | translate}}</label>
                        <input formControlName="password_confirmation" type="password"  class="form-control" id="test-input" [type]="showPass? 'text' : 'password'" />
                        <div class="mt-1" *ngIf="changePassword.controls.password_confirmation.touched && changePassword.controls.password_confirmation.dirty">
                          <p class="text-danger" *ngIf="changePassword.controls.password_confirmation?.errors?.['required']">
                            {{'errors.required' | translate}}
                          </p>
                          <p class="text-danger" *ngIf="changePassword.controls.password_confirmation.value != changePassword.controls.password.value">
                            {{'errors.repassword' | translate}}
                          </p>
                        </div>
                      </div>
                    </div>
                        <div class="mx-2 pb-2">
                              <input formControlName ="showpasscont" class="form-check-input mx-1" type="checkbox" value="" id="check" (change)="showPassword()">
                              <label class="form-check-label" for="flexCheckDefault">
                                {{'patientProfile.tap2input4' | translate}}
                              </label>
                        </div>
                  </div>

                  <div class="d-flex justify-content-center">
                    <input type="submit" class="btn btn-main border-0" [disabled]="changePassword.invalid">
                  </div>
              </form>
          </div>
<!----------------------------------------------------- ( My insurance ) ------------------------------------------------>
          <div class="m-4 p-3 bg-white rounded" *ngIf="curruntService == 'insurance'">
              <h2 class="fw-bold text-center">{{'patientProfile.sidenav3' | translate}}</h2>
              <div class="py-3"><img src="../../../assets/images/Patient_Profile/Insurance.png"/></div>
              <p>{{'patientProfile.tap3h' | translate}}</p>
              <form [formGroup]="addInsuranceForm" (ngSubmit)="addInsuranceFun()">
                  <div class="row">
                    <div class="pb-2 col-md-6 px-2">
                      <label>{{'patientProfile.tap3input1' | translate}}</label>
                      <select formControlName="company_id" class="form-select bg-light-gray" aria-label="Default select example">
                        <option *ngFor="let item of allInsurance" [value]="item.id">{{item.name}}</option>
                      </select>
                    </div>
                    <div class="pb-2 col-md-6 px-2">
                      <label>{{'patientProfile.tap3input2' | translate}}</label>
                      <input formControlName="insurance_number" type="text" class="form-control" />
                    </div>
                    <div class="pb-2 col-md-6 px-2">
                      <label>{{'patientProfile.tap3input3' | translate}}</label>
                      <input formControlName="expiry_date" type="date" class="form-control" />
                    </div>
                  </div>
                  <div class="d-flex justify-content-center">
                    <input type="submit" class="btn btn-main border-0" [disabled]="addInsuranceForm.invalid">
                  </div >
              </form>
          </div>
<!----------------------------------------------------- ( My Appointments ) --------------------------------------------->
          <div class="m-4 p-3 bg-white rounded" *ngIf="curruntService == 'appointments'">
              <h2 class="fw-bold text-center">{{'patientProfile.sidenav4' | translate}}</h2>
              <table *ngIf="AppointmentsAPIres.success && allAppointment_notempty else noAppointments" class="w-100 text-center table table-striped">
                <thead class="text-white bg-icon">
                    <th class="table-header">{{'patientProfile.tap4col1' | translate}}</th>
                    <th class="table-header" [ngClass]="{'d-none': AppointmentCurruntColNum!=1}">
                      <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-left': !rtlDir, 'fa-chevron-right':rtlDir }" role="button" (click)="previousColAppointment()"></i>
                      {{'patientProfile.tap4col2' | translate}}
                      <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-right': !rtlDir, 'fa-chevron-left':rtlDir }" role="button" (click)="nextcolAppointment()"></i>
                    </th>
                    <th class="table-header" [ngClass]="{'d-none': AppointmentCurruntColNum!=2}">
                      <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-left': !rtlDir, 'fa-chevron-right':rtlDir }" role="button" (click)="previousColAppointment()"></i>
                      {{'patientProfile.tap4col3' | translate}}
                      <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-right': !rtlDir, 'fa-chevron-left':rtlDir }" role="button" (click)="nextcolAppointment()"></i>
                    </th>
                    <th class="table-header" [ngClass]="{'d-none': AppointmentCurruntColNum!=3}">
                      <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-left': !rtlDir, 'fa-chevron-right':rtlDir }" role="button" (click)="previousColAppointment()"></i>
                      {{'patientProfile.tap4col4' | translate}}
                      <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-right': !rtlDir, 'fa-chevron-left':rtlDir }" role="button" (click)="nextcolAppointment()"></i>
                    </th>
                    <th class="table-header" [ngClass]="{'d-none': AppointmentCurruntColNum!=4}">
                      <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-left': !rtlDir, 'fa-chevron-right':rtlDir }" role="button" (click)="previousColAppointment()"></i>
                      {{'patientProfile.tap4col5' | translate}}
                      <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-right': !rtlDir, 'fa-chevron-left':rtlDir }" role="button" (click)="nextcolAppointment()"></i>
                    </th>
                    <th class="table-header">
                      {{'patientProfile.tap4col7' | translate}}
                    </th>
                </thead>
                <tbody>
                  <tr *ngFor="let appointment of Appointments;let i = index ">
                    <td class="table-header">{{appointment.doctor.name}}</td>
                    <td class="table-header" [ngClass]="{'d-none': AppointmentCurruntColNum!=1}">{{appointment.date}}</td>
                    <td class="table-header" [ngClass]="{'d-none': AppointmentCurruntColNum!=2}">{{appointment.time}}</td>
                    <td class="table-header" [ngClass]="{'d-none': AppointmentCurruntColNum!=3}">{{appointment.price}} {{'SharedData.Currency' | translate}}</td>
                    <td class="table-header" [ngClass]="{'d-none': AppointmentCurruntColNum!=4}">
                      <span *ngIf="appointment.status==0">{{'patientProfile.tap6status0' | translate}}</span><span *ngIf="appointment.status==1">{{'patientProfile.tap6status1' | translate}}</span>
                    </td>
                    <td class="table-header fs-4"><i class="fa-solid fa-eye" role="button" (click)="appointmentGetColData(i,appointment.doctor.id, appointment.date)" data-bs-toggle="modal" data-bs-target="#appointmentcolModal"></i></td>
                  </tr>
                </tbody>
            </table>
            <ng-template #noAppointments>
              <!-- <div class="alert alert-danger text-center my-3" role="alert">
                <h3 class="my-2">{{'errors.no-appointments' | translate}}</h3>
              </div> -->
              <div class=" search-empty text-center bg-white p-5 rounded mb-5">
                <div class="my-4">
                  <i class="fa-solid fa-calendar-check search-icon"></i>
                </div>
                <div class="search-empty-content">
                    <div class="my-3">
                        <h2 class="fw-bold">{{'errors.no-appointments' | translate}}</h2>
                    </div>
                </div>
            </div>
            </ng-template>
            <!-- Modal -->
            <div class="modal fade" id="appointmentcolModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{Appointments[appointmentColDataIndex]?.doctor?.name}}</h1>
                  </div>
                  <div class="modal-body row">
                    <div class="col-6">
                      <label class="text-secondary">{{'patientProfile.tap4col2' | translate}}</label>
                      <p class="fw-bold">{{Appointments[appointmentColDataIndex]?.date}}</p>
                    </div>
                    <div class="col-6">
                      <label class="text-secondary">{{'patientProfile.tap4col3' | translate}}</label>
                      <p class="fw-bold">{{Appointments[appointmentColDataIndex]?.time}}</p>
                    </div>
                    <div class="col-6">
                      <label class="text-secondary">{{'patientProfile.tap4col4' | translate}}</label>
                      <p class="fw-bold">{{Appointments[appointmentColDataIndex]?.price}}</p>
                    </div>
                    <div class="col-6">
                      <label class="text-secondary">{{'patientProfile.tap4col5' | translate}}</label>
                      <p class="fw-bold">
                        <span *ngIf="Appointments[appointmentColDataIndex]?.status==0">{{'patientProfile.tap6status0' | translate}}</span>
                        <span *ngIf="Appointments[appointmentColDataIndex]?.status==1">{{'patientProfile.tap6status1' | translate}}</span>
                      </p>
                    </div>
                  </div>
                  <div class="modal-footer" [ngClass]="{'d-flex justify-content-between': Appointments[appointmentColDataIndex]?.status==1}">
                    <button class="btn btn-main border-0" *ngIf="Appointments[appointmentColDataIndex]?.status==1 && reviewBtn  " [routerLink]="['/review', Appointments[appointmentColDataIndex].doctor.id]" routerLinkActive="router-link-active" data-bs-dismiss="modal" (click)="getifUpdate(0)">{{'patientProfile.tap4col6' | translate}}</button>
                    <button class="btn btn-main border-0" *ngIf="Appointments[appointmentColDataIndex]?.status==1 && updateReviewBtn " [routerLink]="['/review', Appointments[appointmentColDataIndex].doctor.id ]" [queryParams]="{ id: reviewId }" routerLinkActive="router-link-active" data-bs-dismiss="modal" (click)="getifUpdate(1)">update review</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!----------------------------------------------------- ( Medical History )--------------------------------------------->
          <div class="m-4 p-3 bg-white rounded" *ngIf="curruntService == 'history'">
            <h2 class="fw-bold text-center">{{'patientProfile.sidenav5' | translate}}</h2>


            <div class="timeline timeline-ar my-5 position-relative" [ngClass]="{'timeline-ar': rtlDir,'timeline-en': !rtlDir }" *ngIf="diagnosisAPIres.success && allDiagnosis_notempty else nodiagnosis">
              <ul class="list-unstyled" >
                <li class="position-relative w-100 py-4 px-5" *ngFor="let item of allDiagnosis">
                  <div class="content p-3 border rounded bg-light-gray">
                    <h3 class="mb-3">{{'patientProfile.tap5dr' | translate}}{{item.doctor.name}}</h3>
                    <h4>{{'patientProfile.tap5h1' | translate}}</h4>
                    <p>
                      {{item.diagnosis}}
                    </p>
                    <h4>{{'patientProfile.tap5h2' | translate}}</h4>
                    <p>
                      {{item.medicine}}
                    </p>
                  </div>
                  <div class="time position-absolute py-1 px-3 rounded-pill text-center">
                    {{item.date}}
                  </div>
                </li>
              </ul>
            </div>
              <ng-template #nodiagnosis>
                <!-- <div class="alert alert-danger text-center my-3" role="alert">
                  <h3 class="my-2">{{'errors.no-Diagnosis' | translate}}</h3>
                </div> -->
                <div class=" search-empty text-center bg-white p-5 rounded mb-5">
                  <div class="my-4">
                    <i class="fa-solid fa-clock-rotate-left search-icon"></i>
                  </div>
                  <div class="search-empty-content">
                      <div class="my-3">
                          <h2 class="fw-bold">{{'errors.no-Diagnosis' | translate}}</h2>
                      </div>
                  </div>
              </div>
              </ng-template>

        </div>
<!--------------------------------------------------------- ( Bills ) -------------------------------------------------->
        <div class="m-4 p-3 bg-white rounded" *ngIf="curruntService == 'bills'">
          <h2 class="fw-bold text-center">{{'patientProfile.sidenav6' | translate}}</h2>
          <table *ngIf="invoicesAPIres.success && allInvoices_notempty else noInvoices" class="w-100 text-center table table-striped">
              <thead class="text-white bg-icon">
                  <th class="table-header">{{'patientProfile.tap6col2' | translate}}</th>
                  <th class="table-header" [ngClass]="{'d-none': curruntColNum!=1}">
                    <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-left': !rtlDir, 'fa-chevron-right':rtlDir }" role="button" (click)="previousCol()"></i>
                    {{'patientProfile.tap6col1' | translate}}
                    <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-right': !rtlDir, 'fa-chevron-left':rtlDir }" role="button" (click)="nextcol()"></i>
                  </th>
                  <th class="table-header" [ngClass]="{'d-none': curruntColNum!=2}">
                    <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-left': !rtlDir, 'fa-chevron-right':rtlDir }" role="button" (click)="previousCol()"></i>
                    {{'patientProfile.tap6col3' | translate}}
                    <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-right': !rtlDir, 'fa-chevron-left':rtlDir }" role="button" (click)="nextcol()"></i>
                  </th>
                  <th class="table-header" [ngClass]="{'d-none': curruntColNum!=3}">
                    <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-left': !rtlDir, 'fa-chevron-right':rtlDir }" role="button" (click)="previousCol()"></i>
                    {{'patientProfile.tap6col4' | translate}}
                    <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-right': !rtlDir, 'fa-chevron-left':rtlDir }" role="button" (click)="nextcol()"></i>
                  </th>
                  <th class="table-header" [ngClass]="{'d-none': curruntColNum!=4}">
                    <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-left': !rtlDir, 'fa-chevron-right':rtlDir }" role="button" (click)="previousCol()"></i>
                    {{'patientProfile.tap6col5' | translate}}
                    <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-right': !rtlDir, 'fa-chevron-left':rtlDir }" role="button" (click)="nextcol()"></i>
                  </th>
                  <th class="table-header">
                    {{'patientProfile.tap6col6' | translate}}
                  </th>
              </thead>
              <tbody>
                <tr *ngFor="let invoice of allInvoices;let i = index ">
                  <td class="table-header">{{invoice.invoice_date}}</td>
                  <td class="table-header" [ngClass]="{'d-none': curruntColNum!=1}">{{invoice.service}}</td>
                  <td class="table-header" [ngClass]="{'d-none': curruntColNum!=2}">{{invoice.doctor}}</td>
                  <td class="table-header" [ngClass]="{'d-none': curruntColNum!=3}">{{invoice.total_with_tax}}</td>
                  <td class="table-header" [ngClass]="{'d-none': curruntColNum!=4}">
                    <span *ngIf="invoice.type==2">{{'patientProfile.tap6type2' | translate}}</span><span *ngIf="invoice.type==1">{{'patientProfile.tap6type1' | translate}}</span>
                  </td>
                  <td class="table-header fs-4"><i class="fa-solid fa-eye" role="button" (click)="gitColData(i)" data-bs-toggle="modal" data-bs-target="#colModal"></i></td>
                </tr>
              </tbody>
          </table>
          <ng-template #noInvoices>
            <!-- <div class="alert alert-danger text-center my-3" role="alert">
              <h3 class="my-2">{{'errors.no-invoices' | translate}}</h3>
            </div> -->
            <div class=" search-empty text-center bg-white p-5 rounded mb-5">
              <div class="my-4">
                <i class="fa-solid fa-money-bills search-icon"></i>
              </div>
              <div class="search-empty-content">
                  <div class="my-3">
                      <h2 class="fw-bold">{{'errors.no-invoices' | translate}}</h2>
                  </div>
              </div>
          </div>
          </ng-template>
        </div>
        <!--------------------------------------------------------- ( Account Statement ) -------------------------------------------------->
        <!-- <div class="m-4 p-3 bg-white rounded" *ngIf="curruntService == 'statements'">
          <h2 class="fw-bold">{{'patientProfile.sidenav7' | translate}}</h2>
          <table class="w-100 text-center table table-striped">
              <tr>
                  <th class="table-header">{{'patientProfile.tap7col1' | translate}}</th>
                  <th class="table-header">{{'patientProfile.tap7col2' | translate}}</th>
                  <th class="table-header">{{'patientProfile.tap7col3' | translate}}</th>
                  <th class="table-header">{{'patientProfile.tap7col4' | translate}}</th>
                  <th class="table-header">{{'patientProfile.tap7col5' | translate}}</th>
              </tr>
          </table>
        </div> -->
        <!----------------------------------------------------- ( My Favorites ) --------------------------------------------->
        <div class="m-4 p-3 bg-white rounded" *ngIf="curruntService == 'fav'">
          <h2 class="fw-bold text-center">{{'patientProfile.sidenav8' | translate}}</h2>
            <div class="row bg-light-gray rounded box-s" *ngIf="favMedicinesAPIres.success && allFav_notempty else nofav">
              <!-- <h3 class="fw-bold text-center my-2"><i class="fa-solid fa-tablets fs-4"></i> {{'patientProfile.tap8medicine' | translate}}</h3> -->
              <app-medicine class="col-xl-4 col-sm-6 py-3 rounded p-2" *ngFor="let medicine of favMedicines" [medicine]="medicine" (emitChanges)="getMedicines()"></app-medicine>
            </div>
            <ng-template #nofav>
              <!-- <div class="alert alert-danger text-center my-3" role="alert">
                <h3 class="my-2">{{'errors.no-fav' | translate}}</h3>
              </div> -->
              <div class=" search-empty text-center bg-white p-5 rounded mb-5">
                <div class="my-4">
                  <i class="fa-solid fa-heart search-icon"></i>
                </div>
                <div class="search-empty-content">
                    <div class="my-3">
                        <h2 class="fw-bold">{{'errors.no-fav' | translate}}</h2>
                    </div>
                </div>
            </div>
            </ng-template>
        </div>
<!----------------------------------------------------- ( My orders ) --------------------------------------------->
        <div class="m-4 p-3 bg-white rounded" *ngIf="curruntService == 'orders'">
          <h2 class="fw-bold text-center">{{'patientProfile.sidenav9' | translate}}</h2>
          <div *ngIf="ordersAPIres?.success && allOrders_notempty else noorders">
            <div *ngFor="let order of orders" class="big-rounded border border-1 p-3 my-4 shadow">
              <div class="pb-2">
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-md-flex align-items-center my-2">
                    <!-- <h2 class="fw-bold text-secondary m-2">#{{order.id}} - {{order.total}}{{"SharedData.Currency" | translate}}</h2> -->
                    <span class="bg-icon text-white fw-bold px-2 py-1 rounded m-2 d-md-inline d-block" *ngIf="order.shipping_status==0"><i class="fa-solid fa-hourglass-half m-1"></i>{{'patientProfile.tap9shipping0' | translate}}</span>
                    <span class="bg-icon text-white fw-bold px-2 py-1 rounded m-2 d-md-inline d-block" *ngIf="order.shipping_status==2"><i class="fa-solid fa-motorcycle m-1"></i>{{'patientProfile.tap9shipping2' | translate}}</span>
                    <span class="bg-icon text-white fw-bold px-2 py-1 rounded m-2 d-md-inline d-block" *ngIf="order.shipping_status==1"><i class="fa-solid fa-circle-check m-1"></i>{{'patientProfile.tap9shipping1' | translate}}</span>
                    <span class="bg-icon text-white fw-bold px-2 py-1 rounded m-2 d-md-inline d-block" *ngIf="order.status!=1"><i class="fa-solid fa-wallet m-1"></i>{{'patientProfile.cash' | translate}}</span>
                    <span class="bg-icon text-white fw-bold px-2 py-1 rounded m-2 d-md-inline d-block" *ngIf="order.status==1"><i class="fa-solid fa-money-bill m-1"></i>{{'patientProfile.online' | translate}}</span>
                  </div>
                  <!-- <div role="button" (click)="getOrderData(order.id)" data-bs-toggle="modal" data-bs-target="#order-details">
                    <span class="fs-1 mx-3 text-secondary"><i class="fa-solid fa-circle-info"></i></span>
                  </div> -->
                </div>
                <div>
                  <div class="row fw-bold text-secondary">
                    <div class="col-lg-4 col-md-6 pb-3 fs-6">
                     <p class="fw-bold text-secondary mx-2">#{{order.id}} - {{order.total}}{{"SharedData.Currency" | translate}}</p>
                    </div>
                    <div class="col-lg-4 col-md-6 pb-3 fs-6">
                      <p class="mx-2">
                        <i class="fa-solid fa-calendar p-1"></i>{{order.created_at | date: 'dd MMM YYYY'}}
                      </p>
                    </div>
                    <div class="col-lg-4 col-md-6 pb-3 fs-6">
                      <p class="mx-2">
                        <i class="fa-solid fa-location-dot p-1"></i>{{order.address1}}, {{order.city}}
                      </p>
                    </div>
                    <div class="col-lg-4 col-md-6 pb-3 fs-6">
                      <p class="mx-2">
                        <i class="fa-solid fa-user p-1"></i>{{order.first_name}} {{order.last_name}}
                      </p>
                    </div>
                    <div class="col-lg-4 col-md-6 pb-3 fs-6">
                     <p class="mx-2">
                       <i class="fa-solid fa-mobile-screen p-1"></i>{{order.phone1}}
                      </p>
                    </div>
                    <div class="col-lg-4 col-md-6 pb-3 fs-6">
                     <p class="mx-2">
                       <i class="fa-solid fa-envelope p-1"></i>{{order.email}}
                     </p>
                    </div>
                    <div class="col-lg-4 col-md-6 pb-3 fs-6 px-2">
                      <button [routerLink]="['/order', order.id]" routerLinkActive="router-link-active"  class="border-0 btn bg-icon text-white fw-bold rounded-pill"><i class="fa-solid fa-motorcycle mx-2"></i>track order</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="d-flex justify-content-center my-4">
                <ul class="list-unstyled d-flex justify-content-center align-items-center fs-1 w-50">
                  <li class="fixed-size-shipping d-flex justify-content-center align-items-center border border-5 border-secondary rounded-circle bg-icon text-white"><i class="far fa-file-alt mx-2"></i></li>
                  <li class="dash border border-3 border-secondary bg-icon"></li>
                  <li class="fixed-size-shipping d-flex justify-content-center align-items-center border border-5 border-secondary rounded-circle text-secondary"
                  [ngClass]="{'bg-icon text-white': order.shipping_status==2 || order.shipping_status==1}"
                  ><i class="fa-solid fa-motorcycle"></i></li>
                  <li class="dash border border-3 border-secondary" [ngClass]="{'bg-icon text-white': order.shipping_status==2 || order.shipping_status==1}"></li>
                  <li class="fixed-size-shipping d-flex justify-content-center align-items-center border border-5 border-secondary rounded-circle text-secondary"
                  [ngClass]="{'bg-icon text-white': order.shipping_status==1}"
                  ><i class="fas fa-check-circle mx-2" ></i></li>
                </ul>
              </div> -->
            </div>
          </div>
          <ng-template #noorders>
            <!-- <div class="alert alert-danger text-center my-3" role="alert">
              <h3 class="my-2">{{'errors.no-orders' | translate}}</h3>
            </div> -->
            <div class=" search-empty text-center bg-white p-5 rounded mb-5">
              <div class="my-4">
                <i class="fa-solid fa-tablets search-icon"></i>
              </div>
              <div class="search-empty-content">
                  <div class="my-3">
                      <h2 class="fw-bold">{{'errors.no-orders' | translate}}</h2>
                  </div>
              </div>
          </div>
          </ng-template>

        </div>

<!----------------------------------------------------- ( my reviews ) --------------------------------------------->
<div class="m-4 p-3 bg-white rounded" *ngIf="curruntService == 'review'">
          <h2 class="fw-bold text-center">{{'patientProfile.sidenav10' | translate}}</h2>
          <div class="row" *ngIf="PatientReviewsAPIres.success && allReviews_notempty else noreviews">
            <div class="col-md-6 p-2" *ngFor="let review of allPatientReviews">
              <div class="border rounded py-2">
                <div class="d-flex">
                  <div class="mx-3">
                   <div class="rounded-circle doc-review-img overflow-hidden">
                     <img [src]="review.doctor.photo ||  defaultImg" alt="" class="w-100 h-100 default-img">
                   </div>
                  </div>
                  <div class="px-2">
                    <p class="m-0 fs-5">{{review.doctor.name}}</p>
                    <p class="m-0">
                      <span><i class="fa-solid fa-star" [ngClass]="{'text-warning': review.rating>=1}"></i></span>
                      <span><i class="fa-solid fa-star" [ngClass]="{'text-warning': review.rating>=2}"></i></span>
                      <span><i class="fa-solid fa-star" [ngClass]="{'text-warning': review.rating>=3}"></i></span>
                      <span><i class="fa-solid fa-star" [ngClass]="{'text-warning': review.rating>=4}"></i></span>
                      <span><i class="fa-solid fa-star" [ngClass]="{'text-warning': review.rating>=5}"></i></span>
                    </p>
                    <p class="m-0">{{review.updated_at}}</p>
                  </div>
                </div>
                <div class="px-2 d-flex align-items-center my-2">
                  <p class="fs-3">{{review.comment}}</p>
                </div>
                <div class="d-flex justify-content-center">
                  <button class="btn btn-main border-0" routerLink="/review/{{review.doctor.id}}">Update Review</button>
                </div>
              </div>
            </div>
          </div>
          <ng-template #noreviews>
            <!-- <div class="alert alert-danger text-center my-3" role="alert">
              <h3 class="my-2">{{'errors.no-reviews' | translate}}</h3>
            </div> -->
            <div class=" search-empty text-center bg-white p-5 rounded mb-5">
              <div class="my-4">
                <i class="fa-solid fa-star search-icon"></i>
              </div>
              <div class="search-empty-content">
                  <div class="my-3">
                    <h2 class="fw-bold">{{'errors.no-reviews' | translate}}</h2>
                  </div>
              </div>
          </div>
          </ng-template>
        </div>


       </div>
     </div>
    </div>
    <ng-template #nolog>

      <div class=" doctors-empty text-center bg-white p-5 rounded mb-5">
        <div class="my-4">
          <i class="fa-solid fa-triangle-exclamation fs-1 text-danger"></i>
        </div>
        <div class="doctors-empty-content">
            <div class="my-3">
                <h2 class="fw-bold text-danger">{{"patientProfile.noLogin" | translate}}</h2>
              </div>
            <button type="button" class="btn btn-danger" routerLink="/home">{{"patientProfile.go2login" | translate}}</button>
        </div>
      </div>

    </ng-template>
</div>

                  <!-- update Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <form [formGroup]="updateProfile" (ngSubmit)="updateProfileSupmit()" >
                        <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">{{'patientProfile.tap1modaltitle' | translate}}</h1>
                          <!-- <button type="button" class="mx-auto btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                        </div>
                        <div class="modal-body row">
                          <p class="px-2">{{'patientProfile.tap1modalp' | translate}}</p>
                          <div class="pb-2 col-md-6 px-2">
                            <label>{{'patientProfile.tap1input1' | translate}}</label>
                            <!-- username -->
                            <input formControlName="name" type="text" class="form-control">
                            <div class="mt-1" *ngIf="updateProfile.controls.name.touched && updateProfile.controls.name.dirty">
                              <p class="text-danger" *ngIf="updateProfile.controls.name?.errors?.['required']">
                                {{'errors.required' | translate}}
                              </p>
                              <p class="text-danger" *ngIf="updateProfile.controls.name?.errors?.['pattern']">
                                {{'errors.usernamePattern' | translate}}
                              </p>
                            </div>
                          </div>
                          <div class="pb-2 col-md-6 px-2">
                            <label>{{'patientProfile.tap1input3' | translate}}</label>
                            <!-- phone -->
                            <input formControlName="phone" type="tel" class="form-control" >
                            <div class="mt-1" *ngIf="updateProfile.controls.phone.touched && updateProfile.controls.phone.dirty">
                              <p class="text-danger" *ngIf="updateProfile.controls.phone.errors?.['required']">
                                {{'errors.required' | translate}}
                              </p>
                            </div>
                          </div>
                          <div class="pb-2 col-md-6 px-2">
                            <label>{{'patientProfile.tap1input7' | translate}}</label>
                            <!-- address -->
                            <input formControlName="address"  type="text" class="form-control">
                            <div class="mt-1" *ngIf="updateProfile.controls.address.touched && updateProfile.controls.address.dirty">
                              <p class="text-danger" *ngIf="updateProfile.controls.address?.errors?.['required']">
                                {{'errors.required' | translate}}
                              </p>
                            </div>
                          </div>
                          <div class="pb-2 col-md-6 px-2">
                            <label>{{'patientProfile.tap1input8' | translate}}</label>
                            <!-- photo -->
                            <input formControlName="photo" #photo (change)="onFileChange($event)" name="photo" type="file" class="form-control" >
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <input type="submit" value="Update" class="button btn btn-main" />
                          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                      </div>
                    </form>
                    </div>
                  </div>
