<!-- <app-spinner *ngIf="isVisibleSpinner"></app-spinner> -->

<div class="animate" [dir]=" 'dir' | translate " [lang]="lang">
  <div *ngIf="is_login else nolog">
  <!----------------------------------------------------- ( side nav ) ---------------------------------------------------->
    <div class="row w-100">
      <div class="col-lg-2 py-3" [ngClass]="{'border-side-en': !rtlDir, 'border-side-ar': rtlDir}">
        <!-- <div>
            <div class="px-5 pt-3 pb-3 d-flex justify-content-center">
                <img class="w-75 rounded-circle" [src]="userPhoto" width="200" height="200"/>
            </div>
            <h2 class="fs-4 fw-bold text-center">{{patientInfo.name}}</h2>
            <div class="row justify-content-center pb-3">
                <div class="col-4 m-2 p-1 rounded bg-light-gray text-center">
                    <p class="text-nowrap mb-1">Lorem, ipsum.</p>
                    <p class="fw-bold fs-1">10</p>
                </div>
                <div class="col-4 m-2 p-1 rounded bg-light-gray text-center">
                    <p class="text-nowrap mb-1">Lorem, ipsum.</p>
                    <p class="fw-bold fs-1">10</p>
                </div>
            </div>
        </div> -->
        <ul class="list-unstyled w-100 side-nav-ul">
            <li class="m-2 rounded text-dark" routerLinkActive="side-active" routerLink="/my-profile/details">
                      <a class=" text-decoration-none fw-bold text-dark" ><i class="fa-solid fa-user m-2 p-2 rounded text-black bg-light-gray"></i>{{'patientProfile.sidenav1' | translate}}</a>
            </li>
            <li class="m-2 rounded text-dark"  routerLinkActive="side-active" routerLink="/my-profile/change-password">
                <a class="text-dark text-decoration-none fw-bold text-dark" ><i class="fa-solid fa-key m-2 p-2 rounded text-black bg-light-gray"></i>{{'patientProfile.sidenav2' | translate}}</a>
            </li>
            <li class="m-2 rounded text-dark"  routerLinkActive="side-active" routerLink="/my-profile/insurance">
                <a class="text-dark text-decoration-none fw-bold text-dark"><i class="fa-solid fa-shield m-2 p-2 rounded text-black bg-light-gray"></i>{{'patientProfile.sidenav3' | translate}}</a>
            </li>
            <li class="m-2 rounded text-dark"  routerLinkActive="side-active" routerLink="/my-profile/appointments">
                <a class="text-dark text-decoration-none fw-bold text-dark"><i class="fa-solid fa-calendar-check m-2 p-2 rounded text-black bg-light-gray"></i>{{'patientProfile.sidenav4' | translate}}</a>
            </li>
            <li class="m-2 rounded text-dark"  routerLinkActive="side-active"  routerLink="/my-profile/history">
              <a class="text-dark text-decoration-none fw-bold text-dark"><i class="fa-solid fa-clock-rotate-left m-2 p-2 rounded text-black bg-light-gray"></i>{{'patientProfile.sidenav5' | translate}}</a>
            </li>
            <li class="m-2 rounded text-dark"  routerLinkActive="side-active" routerLink="/my-profile/invoices">
              <a class="text-dark text-decoration-none fw-bold text-dark"><i class="fa-solid fa-money-bills m-2 p-2 rounded text-black bg-light-gray"></i>{{'patientProfile.sidenav6' | translate}}</a>
            </li>
            <!-- <li class="m-2 rounded text-dark" [ngClass]="{'side-active': curruntService== 'statements'}" (click)="getServive('statements')">
            <a class="text-dark text-decoration-none fw-bold text-dark" [ngClass]="{'text-white': curruntService== 'details'}"><i class="fa-solid fa-file-invoice m-2 p-2 rounded text-black bg-light-gray" [ngClass]="{'text-white bg-transparent': curruntService== 'statements'}"></i>{{'patientProfile.sidenav7' | translate}}</a>
            </li> -->
            <li class="m-2 rounded text-dark"  routerLinkActive="side-active"  routerLink="/my-profile/favorites">
              <a class="text-dark text-decoration-none fw-bold text-dark"><i class="fa-solid fa-heart m-2 p-2 rounded text-black bg-light-gray" ></i>{{'patientProfile.sidenav8' | translate}}</a>
            </li>
            <li class="m-2 rounded text-dark"  routerLinkActive="side-active" routerLink="/my-profile/orders">
                <a class="text-dark text-decoration-none fw-bold text-dark"><i class="fa-solid fa-tablets m-2 p-2 rounded text-black bg-light-gray"></i>{{'patientProfile.sidenav9' | translate}}</a>
            </li>
            <li class="m-2 rounded text-dark"  routerLinkActive="side-active" routerLink="/my-profile/reviews">
              <a class="text-dark text-decoration-none fw-bold text-dark"><i class="fa-solid fa-star m-2 p-2 rounded text-black bg-light-gray" ></i>{{'patientProfile.sidenav10' | translate}}</a>
            </li>
        </ul>
      </div>

      <div class="col-lg-10 bg-light-gray">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <ng-template #nolog>
      <div class=" doctors-empty text-center bg-white p-5 rounded mb-5">
        <div class="my-4">
          <i class="fa-solid fa-triangle-exclamation fs-1 text-danger"></i>
        </div>
        <div class="doctors-empty-content">
            <div class="my-3">
                <h2 class="fw-bold text-danger">{{"patientProfile.noLogin" | translate}}</h2>
              </div>
            <button type="button" class="btn btn-danger" routerLink="/home">{{"patientProfile.go2login" | translate}}</button>
        </div>
      </div>
  </ng-template>
</div>



