<div [dir]=" 'dir' | translate " [lang]="lang">

  <div class="border big-rounded container my-4 p-0 animate">
    <div class="border-bottom ">
      <h1 class="text-center text-main fst-italic">Order #{{orderDetails[0].id}} Details</h1>
    </div>
    <div class="m-3 border rounded row py-4">
      <div class="col-lg-3">
        <p class="text-secondary fw-bold"><i class="fa-solid fa-calendar px-1"></i>ORDER DATE</p>
        <p>{{orderDetails[0].created_at | date: 'dd MMM YYYY'}}</p>
      </div>
      <div class="col-lg-3">
        <p class="text-secondary fw-bold"><i class="fa-solid fa-money-bill-wave px-1"></i>TOTAL PRICE</p>
        <p>{{orderDetails[0].total}}</p>
      </div>
      <div class="col-lg-3">
        <p class="text-secondary fw-bold"><i class="fa-solid fa-truck-fast px-1"></i>SHIPPING STATUS</p>
        <p *ngIf="orderDetails[0].shipping_status==0">{{'patientProfile.tap9shipping0' | translate}}</p>
        <p *ngIf="orderDetails[0].shipping_status==2">{{'patientProfile.tap9shipping2' | translate}}</p>
        <p *ngIf="orderDetails[0].shipping_status==1">{{'patientProfile.tap9shipping1' | translate}}</p>
      </div>
      <div class="col-lg-3">
        <p class="text-secondary fw-bold"><i class="fa-solid fa-pen-to-square px-1"></i>STATUS UPDATED AT</p>
        <p>{{orderDetails[0].updated_at | date: 'dd MMM YYYY'}}</p>
      </div>
    </div>
    <div class="mb-5 mt-5 mx-3 track">
      <div>
        <div class="track-bar position-relative bg-secondary" [ngClass]="{'bg-icon': orderDetails[0].shipping_status==0 || orderDetails[0].shipping_status==2 || orderDetails[0].shipping_status==1}">
          <span class="bg-secondary text-white rounded-circle d-flex justify-content-center align-items-center position-absolute" [ngClass]="{'bg-icon': orderDetails[0].shipping_status==0  || orderDetails[0].shipping_status==2 || orderDetails[0].shipping_status==1}">
            <i class="fa-solid fa-user"></i>
            <p class="text-dark position-absolute text-nowrap">{{'patientProfile.tap9shipping0' | translate}}</p>
          </span>
        </div>
      </div>
      <div>
        <div class="track-bar position-relative bg-secondary" [ngClass]="{'bg-icon': orderDetails[0].shipping_status==2 || orderDetails[0].shipping_status==1}">
          <span class="bg-secondary text-white rounded-circle d-flex justify-content-center align-items-center position-absolute" [ngClass]="{'bg-icon': orderDetails[0].shipping_status==2 || orderDetails[0].shipping_status==1}">
            <i class="fa-solid fa-motorcycle" [ngClass]="{'fa-flip-horizontal': rtlDir}"></i>
            <p class="text-dark position-absolute text-nowrap">{{'patientProfile.tap9shipping2' | translate}}</p>
          </span>
        </div>
      </div>
      <div>
        <div class="track-bar position-relative bg-secondary" [ngClass]="{'bg-icon': orderDetails[0].shipping_status==1}">
          <span class="bg-secondary text-white rounded-circle d-flex justify-content-center align-items-center position-absolute" [ngClass]="{'bg-icon': orderDetails[0].shipping_status==1}">
            <i class="fa-solid fa-gift"></i>
            <p class="text-dark position-absolute text-nowrap">{{'patientProfile.tap9shipping1' | translate}}</p>
          </span>
        </div>
      </div>
    </div>
    <div class="py-4 border-top mx-3">
      <div class="row container m-auto px-5">
        <div class="col-md-3 p-2" *ngFor="let medicine of orderDetails[0].user_medicine_items">
          <div class="bg-white rounded pb-1 shadow" [routerLink]="['/pharmacy/medicineDetails' , medicine.id]">
            <div class="medicine-img">
              <img class="rounded w-100 h-100 default-img" [src]="medicine.photo || defaultImg" alt="">
            </div>
            <div class="">
              <div class="px-1">
                <div class="py-2">
                  <span class="bg-icon text-white fw-bold px-2 py-1 rounded mx-2"><i class="fa-solid fa-prescription-bottle m-1"></i> {{medicine.qty}} {{"SharedData.item" | translate}}</span>
                </div>
                <div>
                  <span class="mt-2 mb-0 medicine-name"><i class="fa-solid fa-pills mx-2"></i>{{medicine.medicine_name}}</span>
                </div>

                <h5 class="medicine-price mt-1 mb-3 text-danger mx-1 fw-bold">{{medicine.price}} {{"SharedData.Currency" | translate}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
