<div class="animate" [dir]=" 'dir' | translate " [lang]="lang">
  <section class=" position-relative justify-content-center align-content-center" #firstSection>
    <!-- <div class="roadmap d-flex  align-items-center justify-content-center">
      <div class=" mx-5 p-3 text-center ">
        <h1 class=" fw-bolder mb-3 text-center header title" [class.arabic-font]="rtlDir">{{'navbar.ContactUs' | translate}}</h1>
        <img class="img-fluid lines-img" src="../../../assets/images/roadmap/lines.png" alt="">
        <div class="mt-2">
          <a routerLink="/home" class="fw-bolder text-success text-decoration-none fs-5">{{'RoadMap.MainTitle' |
            translate}} <i class="fa-solid mx-2 fs-6" [ngClass]="rtlDir? 'fa-angles-left' : 'fa-angles-right'"></i>
          </a>
          <span class=" mx-2 fw-bolder text-capitalize">{{'navbar.ContactUs' | translate}}</span>
        </div>
      </div>
    </div> -->

    <app-roadmap [roadMapLinks]="roadMapLinks"></app-roadmap>

  </section>

<!-- about us section -->
  <section class="container py-5" id="about">
    <h1 class="fw-bold text-center">{{'footer.findUs1' | translate}}</h1>
    <div class="container">
      <div class="text-secondary text-center">
        <p>{{'contactus.aboutus1' | translate}}</p>
        <p>
          {{'contactus.aboutus2' | translate}}
        </p>

      </div>
      <!-- <div class="col-md-6">
        <img src="../../../assets/images/contact-us/Online Doctor-amico.svg" alt="">
      </div> -->
    </div>
  </section>
<!-- contact us -->
  <section class="bg-light container-fluid" id="contact">
    <h2 class="fw-bold fs-1 text-center pt-4">{{'navbar.ContactUs' | translate}}</h2>
    <p class="text-center fs-5">{{'contactus.contactusp' | translate}}</p>
      <ul class="list-unstyled d-flex justify-content-center fs-4">
        <li class="p-3"><i class="fa-solid fa-envelope color-gmail"></i></li>
        <li class="p-3"><i class="fa-brands fa-facebook-f color-facebook"></i></li>
        <li class="p-3"><i class="fa-brands fa-instagram color-instagram"></i></li>
        <li class="p-3"><i class="fa-brands fa-twitter color-twitter"></i></li>
        <li class="p-3"><i class="fa-brands fa-linkedin-in color-linked"></i></li>
        <li class="p-3"><i class="fa-brands fa-youtube color-youtupe"></i></li>
      </ul>
    <div class="row">
      <div class="col-md-6 d-none d-md-block">
        <img src="../../../assets/images/contact-us/get-in-touch-animate.svg" alt="">
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="w-100">

          <form [formGroup]="contactUsForm" class="w-75 m-auto" (ngSubmit)="contactUs()">
            <p class="text-center">{{'contactus.contactus-formp' | translate}}</p>

            <div class="form-floating mb-3" [ngClass]="{'form-floating-en': !rtlDir}">
              <input formControlName="email" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">{{'contactus.contactus-input1' | translate}}</label>
              <div class="mt-1" *ngIf="contactUsForm.controls.email.touched && contactUsForm.controls.email.dirty">
                <p class="text-danger" *ngIf="contactUsForm.controls.email?.errors?.['required']">
                  {{'errors.required' | translate}}
                </p>
                <p class="text-danger" *ngIf="contactUsForm.controls.email?.errors?.['email']">
                  {{'registerPage.error4' | translate}}
                </p>
              </div>
            </div>
            <div class="form-floating mb-3" [ngClass]="{'form-floating-en': !rtlDir}">
              <input formControlName="phone" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">{{'contactus.contactus-input2' | translate}}</label>
              <div class="mt-1" *ngIf="contactUsForm.controls.phone.touched && contactUsForm.controls.phone.dirty">
                <p class="text-danger" *ngIf="contactUsForm.controls.phone?.errors?.['required']">
                  {{'errors.required' | translate}}
                </p>
                <p class="text-danger" *ngIf="contactUsForm.controls.phone?.errors?.['pattern']">
                  {{'errors.phonePattern2' | translate}}
                </p>
              </div>
            </div>
            <div class="form-floating mb-3" [ngClass]="{'form-floating-en': !rtlDir}">
              <input formControlName="name" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">{{'contactus.contactus-input3' | translate}}</label>
              <div class="mt-1" *ngIf="contactUsForm.controls.name.touched && contactUsForm.controls.name.dirty">
                <p class="text-danger" *ngIf="contactUsForm.controls.name?.errors?.['required']">
                  {{'errors.required' | translate}}
                </p>
              </div>
            </div>
            <div class="form-floating" [ngClass]="{'form-floating-en': !rtlDir, 'form-floating-ar':rtlDir}">
              <textarea formControlName="description" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
              <label for="floatingTextarea">{{'contactus.contactus-input4' | translate}}</label>
              <div class="mt-1" *ngIf="contactUsForm.controls.description.touched && contactUsForm.controls.description.dirty">
                <p class="text-danger" *ngIf="contactUsForm.controls.description?.errors?.['required']">
                  {{'errors.required' | translate}}
                </p>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <input type="submit" class="btn btn-main border-0 m-2" [disabled]="contactUsForm.invalid"/>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 d-md-none">
        <img src="../../../assets/images/contact-us/get-in-touch-animate.svg" alt="">
      </div>
    </div>
  </section>
</div>
