<app-spinner *ngIf="isVisibleSpinner"></app-spinner>

<div class="appointment-component" [dir]=" 'dir' | translate " [lang]="lang">
  <!-- =============================================================================================================== -->
  <!--  =======================================================( landing )======================================================= -->

  <section class=" position-relative justify-content-center align-content-center">
    <div class="landing d-flex  align-items-center">
      <div class=" ms-5 docbooking ">
        <h1 class=" fw-bolder mb-3" [class.arabic-font]="rtlDir">{{'appointmentPage.Doctor'| translate}}{{doctor.name}}
          -<br>{{'appointmentPage.Booking'| translate}} </h1>
        <a href="/home" class="fw-bolder text-success text-decoration-none fs-5">{{'appointmentPage.Home'| translate}}
          <i class="fa-solid  ms-2 fs-6" [ngClass]="rtlDir? 'fa-angles-left' : 'fa-angles-right'"></i></a>
        <span class=" ms-2 fw-bolder">{{'appointmentPage.Doctor'| translate}}{{doctor.name}} -
          {{'appointmentPage.Booking'| translate}}</span>
      </div>
    </div>
  </section>
  <!--  =======================================================( Doctor Info )=======================================================  -->

  <section class=" pt-5">
    <div class="container">
      <div class="card docinfo mb-3">
        <div class="row g-0">
          <div class="col-lg-3 col-md-5 col-11 text-center pt-3 position-relative image mb-3 ms-3 ms-sm-0 ">
            <img [src]="doctor.photo || defaultDoctorImg" class="img-fluid rounded-4 px-sm-2 w-100 h-100 default-img" alt="...">
          </div>
          <div class="row justify-content-between col-lg-9 col-md-7">
            <div class="col-lg-6">
              <div class="card-body">
                <h6 class="card-title text-success">{{doctor.section.name}}</h6>
                <h4 class=" fs-5">{{'appointmentPage.Doctor'| translate}} {{doctor.name}} <i
                    class="fa-solid fa-circle-check fs-6"></i></h4>
                <div class="rate text-warning fs-6 text-opacity-50 mb-2">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
                <span><i class="fa-solid fa-signs-post me-1"></i> Dhanmondi</span>
                <p><i class="fa-solid fa-phone me-1"></i> 654488787</p>
                <p class="card-text"><small class=" border p-1 rounded ">{{doctor.specialization}}</small>
                </p>
              </div>
            </div>
            <div class="col-lg-4 mt-lg-3 offset-lg-1">
              <div class="card-body">
                <h6 class="card-title text-success mb-4"><i
                    class="fa-solid fa-wallet ms-1"></i>{{'appointmentPage.Fees'|
                  translate}}: {{doctor.price}} $
                </h6>
                <div class="mb-4 w-100 fs-4 d-flex">
                  <div class=" d-flex align-items-center rounded justify-content-center border icon ">
                    <i class=" fa-brands fa-facebook "></i>
                  </div>
                  <div class=" d-flex align-items-center rounded justify-content-center border icon ms-2">
                    <i class=" fa-brands fa-instagram "></i>
                  </div>
                </div>
                <p class="card-text">
                  <small class=" active border p-1 rounded text-light">{{'appointmentPage.appointmentAvailable'|
                    translate}}</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  =======================================================( Nav to booking and Overview )=======================================================  -->

  <section>
    <div class="container border rounded-3 mb-3 ">
      <ul class="nav nav-pills my-3 d-flex justify-content-around align-items-center border-bottom" id="pills-tab"
        role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link mb-1 " id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
            type="button" role="tab" aria-controls="pills-home" aria-selected="true">{{'appointmentPage.Overview'|
            translate}}</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link active mb-1" id="pills-profile-tab" data-bs-toggle="pill"
            data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
            aria-selected="false">{{'appointmentPage.Booking'| translate}}</button>
        </li>
      </ul>
      <!-- ============================== ( Overview about Doctor ) =================================== -->
      <div class="tab-content container" id="pills-tabContent">
        <div class="tab-pane fade  " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <div class="Specializations">
            <h4 class="">{{'appointmentPage.Specialist'| translate}}</h4>
            <p><i class="fa-solid {{direction === 'ltr' ? 'fa-right-long' : 'fa-left-long'}} fs6 me-3"></i>{{doctor.specialization}}</p>
          </div>
          <div class="Education mb-5 ">
            <h4 class="">{{'appointmentPage.Education'| translate}}</h4>
            <div class="d-flex">
              <div class="shape me-4 " [dir]="direction">
                <i class="fa-solid fa-circle" [ngClass]="direction === 'rtl' ? 'my-class' : ''" ></i>
                <div class="line align-items-center"></div>
              </div>
              <div class="Educationinfo">
                <p>{{doctor.education}}</p>
              </div>
            </div>
          </div>
          <div class="Work_Experience mb-5">
            <h4 class="">{{'appointmentPage.Work&Experience'| translate}}</h4>
            <div class="d-flex">
              <div class="shape me-4">
                <i class="fa-solid fa-circle" [ngClass]="direction === 'rtl' ? 'my-class' : ''" ></i>
                <div class="line"></div>
              </div>
              <div class="Educationinfo">
                <p>{{doctor.experience}}</p>
              </div>
            </div>
          </div>

        </div>
        <!-- ============================== ( Booking the Doctor ) =================================== -->
        <div class="tab-pane fade active show" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <h4>{{'appointmentPage.Schedule'| translate}}</h4>
          <div class="status d-flex">
            <div class="available">
              <i class="fa-solid fa-stop opacity-25"></i>
              <span class="ms-1">{{'appointmentPage.Available'| translate}}</span>
            </div>
            <div class="booked ms-4">
              <i class="fa-solid fa-stop bookedicon"></i>
              <span class="ms-1">{{'appointmentPage.booked'| translate}}</span>
            </div>
            <div class="selected ">
              <i class="fa-solid fa-stop "></i>
              <span class="ms-1">{{'appointmentPage.selected'| translate}}</span>
            </div>
          </div>
          <div class="border rounded-3 my-3 Date">
            <div class="Date my-3 mx-4">
              <div class="row d-flex justify-content-between align-items-center border-bottom">
                <h4 class="col-lg-9 col-sm-6">{{'appointmentPage.Choose_Your_Date_Time'| translate}}</h4>
                <div class=" col-lg-3 col-sm-6">

                  <select class="form-select text-light w-auto mb-2 " aria-label="Default select example"
                    (change)="onDaySelect($event)" [(ngModel)]="selectedDay">
                    <option value=null selected> {{'appointmentPage.selectedDay'| translate}}</option>
                    <option selected *ngFor="let appointment of doctor.appointments;" [value]="appointment.name">
                      {{appointment.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="line h-25 w-25"></div>
            <div class="container">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mt-5 me-2" id="Time">

                <a href="javascript:void(0)" (click)="toggleActiveClass(i)"
                  *ngFor="let interval of intervals ; let i= index"
                  [class.active_link]="interval === selectedtime" 
                  [class.display_none]="timeBookList.includes(interval)"
                  (click)="onTimeSelect(interval)"
                  class="col-4 col-lg-1 time d-flex justify-content-center align-items-center text-decoration-none border mb-2">{{interval}}
                </a>
                <!-- <a href="javascript:void(0)" 
                  *ngFor="let intervalBook of timeBookList ; let i= index" disabled
                  class="col-4 col-lg-1 time d-flex justify-content-center align-items-center text-decoration-none border mb-2 display_none">{{intervalBook}}
                </a> -->
              </div>

            </div>
          </div>
          <!-- ============================== ( Appointment Form ) =================================== -->
          <div class="row container mb-4 appointmentForm">
            <h3 class=" text-center">{{'appointmentPage.appointmentForm'| translate}}</h3>
            <form class="row g-3" [formGroup]="patientAppointmentForm">
              <div class="col-md-6 input-field">
                <input type="text" placeholder="{{'appointmentPage.patientname'| translate}}" required
                  class="form-control" id="NameBooking" formControlName="patientName">
              </div>
              <div class="col-md-6 input-field">
                <input type="number" placeholder="{{'appointmentPage.patientage'| translate}}" required
                  class="form-control" id="AgeBooking_form" formControlName="patientAge" [dir]="direction">
              </div>
              <div class="d-flex">
                <div *ngIf="patientName?.touched && patientName?.dirty" class="firstnameError d-flex">
                  <p *ngIf="patientName?.errors?.['required'] " class="text-danger ">{{'appointmentPage.error'|
                    translate}}
                  </p>
                  <p *ngIf="patientName?.errors?.['minlength'] " class="text-danger ">{{'appointmentPage.error3'|
                    translate}}
                  </p>
                </div>
                <div *ngIf="patientAge?.touched && patientAge?.dirty" class="firstnameError col-md-6 col-lg-12">
                  <p *ngIf="patientName?.errors?.['required'] " class="text-danger">{{'appointmentPage.error'|
                    translate}}
                  </p>
                </div>
              </div>
              <div class="col-12 input-field">
                <input type="email" class="form-control" placeholder="{{'appointmentPage.patientemail'| translate}}"
                  required id="EmailBooking" formControlName="patientemail" [dir]="direction">
              </div>
              <div *ngIf="patientemail?.invalid && patientemail?.touched && patientemail?.dirty">
                <p id="EmailRegisterError" class="text-danger " *ngIf="patientemail?.errors?.['pattern']">
                  {{'appointmentPage.error4'| translate}}
                </p>
                <p *ngIf="patientemail?.errors?.['required'] " class="text-danger">{{'appointmentPage.error'|
                  translate}}
                </p>
              </div>
              <div class="col-12 input-field">
                <input type="text" class="form-control" id="PhoneBooking"
                  placeholder="{{'appointmentPage.patientphone'| translate}}" formControlName="phoneNumberPatient">
              </div>
              <div *ngIf="phoneNumberPatient?.invalid && phoneNumberPatient?.touched && phoneNumberPatient?.dirty">
                <p id="PhonenumberRegisterError" class="text-danger " *ngIf="phoneNumberPatient?.errors?.['pattern']">
                  {{'appointmentPage.error5'| translate}}
                </p>
                <p *ngIf="phoneNumberPatient?.errors?.['required'] " class="text-danger">{{'registerPage.error'|
                  translate}}</p>
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" [disabled]="patientAppointmentForm.invalid" (click)="submit()"
                  class="btn btn-primary rounded-pill text-uppercase my-2" id="submitBtn">
                  {{'appointmentPage.payCach'| translate}}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- =============================================================================================================== -->
</div>