@import "../../../styles.scss";

.bgcolor {
    background:$mainColor2;
  }
  
  .footer-link-hover:hover {
    text-decoration: underline!important;
    cursor: pointer;
  }
  
  .w-fit {
    width: fit-content;
  }
  
  .big-rounded {
    border-radius: 1.5rem!important;
  }
  
  .h-fit {
    height: fit-content;
  }

  .terms-description {
    white-space: pre-line;
  }