<div class="home-component" [dir]=" 'dir' | translate ">

  <footer  class="footer pt-5 pb-5 text-white-50 bgcolor">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="info">
              <div class="d-flex justify-content-center">
                <img src="../../../assets/images/GP1.png" alt="" class="mb-4 img-fluid footer-logo" /> <!--MediBooki_Black2.png-->
              </div>
              <ul class="w-50 list-unstyled fs-3 text-white m-auto ">
                <div class="w-75 m-auto ">
                  <!-- m-lg-auto ms-md-0 -->
                  <li class="w-100"><a href="#" class=" text-white"><img src="../../../assets/images/navbar-footer/google-play-badge.png"
                        class="w-100" /></a></li>
                  <li class="w-100"><a href="#" class=" text-white"><img src="../../../assets/images/navbar-footer/app-store-badge.png"
                        class="w-100" /></a></li>
                </div>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="links text-light">
              <h5 class="text-light pt-sm-4 pt-md-0">{{'footer.SearchBy' | translate}}</h5>
              <ul class="list-unstyled">
                <li><a class="text-decoration-none text-white footer-link-hover" routerLink="/specializations">{{'footer.SearchBy1' | translate}}</a></li>
                <li><a class="text-decoration-none text-white footer-link-hover" routerLink="/my-profile/insurance">{{'footer.SearchBy2' | translate}}</a></li>
                <li><a class="text-decoration-none text-white footer-link-hover" routerLink="/doctors">{{'footer.SearchBy3' | translate}}</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="links text-light">
              <h5 class="text-light pt-md-4 pt-lg-0">{{'footer.needHelp' | translate}}</h5>
              <ul class="list-unstyled">
                <li><a class="text-decoration-none text-white footer-link-hover" routerLink="/contactus" fragment="contact">{{'footer.needHelp1' | translate}}</a></li>
                <li><a class="text-decoration-none text-white footer-link-hover" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable">{{'footer.needHelp2' | translate}}</a></li>
                <!-- <li><a class="text-decoration-none text-white footer-link-hover" href="#">{{'footer.needHe`lp3' | translate}}</a></li> -->
                <!-- <li><a class="text-decoration-none text-white footer-link-hover" href="#">{{'footer.needHelp4' | translate}}</a></li> -->
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="payments text-light">
              <h5 class="text-light pt-md-4 pt-lg-0">{{'footer.findUs' | translate}}</h5>
              <ul class="list-unstyled">
                <li><a class="text-decoration-none text-white footer-link-hover" routerLink="/contactus" fragment="about">{{'footer.findUs1' | translate}}</a></li>
                <!-- <li><a class="text-decoration-none text-white footer-link-hover" href="#">{{'footer.findUs2' | translate}}</a></li> -->
                <li><a class="text-decoration-none text-white footer-link-hover" routerLink="/articles">{{'footer.findUs3' | translate}}</a></li>
                <li class="d-flex justify-content-start">
                  <ul class="list-unstyled fs-3 text-white d-flex justify-content-start">
                  <div class="d-flex justify-content-center justify-content-md-start">
                    <li class="pe-2"><a href="#" class="text-white footer-link-hover fs-5"><i
                        class="fa-brands fa-facebook-f"></i></a></li>
                    <li class="px-2"><a href="#" class="text-white footer-link-hover fs-5"><i
                        class="fa-brands fa-instagram"></i></a></li>
                    <li class="ps-2"><a href="#" class="text-white footer-link-hover fs-5"><i
                        class="fa-brands fa-twitter"></i></a></li>
                  </div>
                  </ul>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </footer>

</div>
<!-- Terms and Conditions Modal -->
<div class="modal fade mx-3" id="exampleModalScrollable" tabindex="-1" aria-labelledby="exampleModalScrollableTitle"
aria-hidden="true" [dir]=" 'dir' | translate " [lang]="lang">
<div class="modal-dialog modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header" [ngClass]="rtlDir?'modal-header-arabic':'modal-header-english'">
      <h5 class="modal-title" id="exampleModalScrollableTitle">{{'SharedData.TermsConditions' | translate}}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="terms-conditions-item my-3" *ngFor="let termsCondition of termsConditions">
          <h3 class="mb-2 text-decoration-underline fw-bold">{{termsCondition.title}}:</h3>
          <p class="text-muted terms-description">{{termsCondition.description}}</p>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{'SharedData.CloseBtn' | translate}}</button>
    </div>
  </div>
</div>
</div>
