@import "../../../styles.scss";

.bgcolor {
    background:$mainColor2;
  }
  
  .footer-link-hover:hover {
    text-decoration: underline!important;
    cursor: pointer;
  }
  
  .w-fit {
    width: fit-content;
  }
  
  .big-rounded {
    border-radius: 1.5rem!important;
  }
  
  .h-fit {
    height: fit-content;
  }

  .terms-description {
    white-space: pre-line;
  }



  .modal-header-english {
    .btn-close {
      margin-left: auto !important;
      margin-right: 0 !important;
    }
  }
  
  .modal-header-arabic {
    .btn-close {
      margin-left: 0 !important;
      margin-right: auto !important;
    }
  }