<div class="m-4 p-3 bg-white rounded animate">
  <h2 class="fw-bold text-center">{{'patientProfile.sidenav4' | translate}}</h2>
  <table *ngIf="allAppointment_notempty else noAppointments" class="w-100 text-center table table-striped">
    <thead class="text-white bg-icon">
        <th class="table-header">{{'patientProfile.tap4col1' | translate}}</th>
        <th class="table-header" [ngClass]="{'d-none': AppointmentCurruntColNum!=1}">
          <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-left': !rtlDir, 'fa-chevron-right':rtlDir }" role="button" (click)="previousColAppointment()"></i>
          {{'patientProfile.tap4col2' | translate}}
          <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-right': !rtlDir, 'fa-chevron-left':rtlDir }" role="button" (click)="nextcolAppointment()"></i>
        </th>
        <th class="table-header" [ngClass]="{'d-none': AppointmentCurruntColNum!=2}">
          <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-left': !rtlDir, 'fa-chevron-right':rtlDir }" role="button" (click)="previousColAppointment()"></i>
          {{'patientProfile.tap4col3' | translate}}
          <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-right': !rtlDir, 'fa-chevron-left':rtlDir }" role="button" (click)="nextcolAppointment()"></i>
        </th>
        <th class="table-header" [ngClass]="{'d-none': AppointmentCurruntColNum!=3}">
          <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-left': !rtlDir, 'fa-chevron-right':rtlDir }" role="button" (click)="previousColAppointment()"></i>
          {{'patientProfile.tap4col4' | translate}}
          <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-right': !rtlDir, 'fa-chevron-left':rtlDir }" role="button" (click)="nextcolAppointment()"></i>
        </th>
        <th class="table-header" [ngClass]="{'d-none': AppointmentCurruntColNum!=4}">
          <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-left': !rtlDir, 'fa-chevron-right':rtlDir }" role="button" (click)="previousColAppointment()"></i>
          {{'patientProfile.tap4col5' | translate}}
          <i class="fa-solid d-inline" [ngClass]="{'fa-chevron-right': !rtlDir, 'fa-chevron-left':rtlDir }" role="button" (click)="nextcolAppointment()"></i>
        </th>
        <th class="table-header">
          {{'patientProfile.tap4col7' | translate}}
        </th>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of Appointments;let i = index ">
        <td class="table-header">{{appointment.doctor.name}}</td>
        <td class="table-header" [ngClass]="{'d-none': AppointmentCurruntColNum!=1}">{{appointment.date}}</td>
        <td class="table-header" [ngClass]="{'d-none': AppointmentCurruntColNum!=2}">{{appointment.time}}</td>
        <td class="table-header" [ngClass]="{'d-none': AppointmentCurruntColNum!=3}">{{appointment.price}} {{'SharedData.Currency' | translate}}</td>
        <td class="table-header" [ngClass]="{'d-none': AppointmentCurruntColNum!=4}">
          <span *ngIf="appointment.status==0">{{'patientProfile.tap6status0' | translate}}</span><span *ngIf="appointment.status==1">{{'patientProfile.tap6status1' | translate}}</span>
        </td>
        <td class="table-header fs-4"><i class="fa-solid fa-eye" role="button" (click)="appointmentGetColData(i,appointment.doctor.id, appointment.date)" data-bs-toggle="modal" data-bs-target="#appointmentcolModal"></i></td>
      </tr>
      <ng-container *ngIf="Appointments.length == 0">
        <tr *ngFor="let item of [0,0,0]">
          <td colspan="6">
              <ngx-skeleton-loader appearance="line" [theme]="{height: '35px', background: '#dbd9d9', marginBottom: '-6px'}"></ngx-skeleton-loader>
          </td>
        </tr>
      </ng-container>
    </tbody>
</table>
<ng-template #noAppointments>
  <!-- <div class="alert alert-danger text-center my-3" role="alert">
    <h3 class="my-2">{{'errors.no-appointments' | translate}}</h3>
  </div> -->
  <div class=" search-empty text-center bg-white p-5 rounded mb-5">
    <div class="my-4">
      <i class="fa-solid fa-calendar-check search-icon"></i>
    </div>
    <div class="search-empty-content">
        <div class="my-3">
            <h2 class="fw-bold">{{'errors.no-appointments' | translate}}</h2>
        </div>
    </div>
</div>
</ng-template>

</div>
