@import '../../../../../colors.scss';
/* common */
.row {
  --bs-gutter-x:0;
}

.bg-light-gray {
  background-color: $lightGreyColor;
}

.side-active {
  background-color: $mainColor6;
  color: white;
}

.bg-icon {
  background:$mainColor2;
}
/* profile details */
.cam-icon-position {
  top: 80%;
  cursor: pointer;
}

.btn-main{
  color: #fff;
  background: $mainColor2;
}
