@import '../../../../../colors.scss';


.faq-english::ng-deep {
    .accordion-item {
        ::after {
            margin-left: auto !important;
            margin-right: 0 !important;
        }
    }
}

.faq-arabic::ng-deep {
    .accordion-item {
        ::after {
            margin-right: auto !important;
            margin-left: 0 !important;
        }
    }
}

.checkout-section {
    background-image: url('../../../../../assets/images/Mask\ Group\ 4.png');
    // background-size: 100% 100%;
}


// .ggg {
//     width: 100%;
//     height: 100%;
//     background-image: url('../../../../../assets/images/5141098-new.png');
//     background-size: 100% 100%;
//     // background-attachment: fixed;
// }


.faq-img-container {
    height: 420px;
    position: sticky;
    top: 50px;
}


// .faq-bg-1 {
//     background-image: url(../../../../../assets/images/faq/pexels-cottonbro-studio-7578808.jpg);
//     background-size: cover;
// }

// .faq-bg-2 {
//     background-image: url(../../../../../assets/images/faq/pexels-leeloo-thefirst-5428832.jpg);
//     background-size: cover;
// }