
<div class="faq-component animate" [dir]=" 'dir' | translate "  [lang]="lang">

    <!--  =======================================================( landing )======================================================= -->

    <section class="position-relative justify-content-center align-content-center" #firstSection>
        <!-- <div class="roadmap d-flex  align-items-center justify-content-center">
            <div class=" mx-5 p-3 text-center ">
                <h1 class=" fw-bolder mb-3 text-center header title" [class.arabic-font]="rtlDir">{{rtlDir?'الأسألة الشائعة':'FAQ'}}</h1>
                <img class="img-fluid lines-img" src="../../../assets/images/roadmap/lines.png" alt="">
                <div class="mt-2">
                    <a routerLink="/home" class="fw-bolder text-success text-decoration-none fs-5">
                        {{'RoadMap.MainTitle' | translate}} 
                        <i class="fa-solid mx-2 fs-6" [ngClass]="rtlDir? 'fa-angles-left' : 'fa-angles-right'"></i>
                    </a>
                <span class=" mx-2 fw-bolder text-capitalize">{{rtlDir?'الأسألة الشائعة':'FAQ'}}</span>
                </div>
            </div>
        </div> -->
        <app-roadmap [roadMapLinks]="roadMapLinks"></app-roadmap>
    </section>    
    
    <!-- =============================================================================================================== -->


    <section class="checkout-section py-5">

        
        <div class="container">
    
            <div class="title text-center">
                <h1 [class.arabic-font]="rtlDir" class="fw-bold">{{'FAQ.title' | translate}}</h1>
                <p class="text-muted text-center">{{'FAQ.description' | translate}}</p>
            </div>
    
    
            <div class="accordion" [ngClass]="rtlDir? 'faq-arabic' : 'faq-english'" id="accordionExample">
                <div class="row d-flex justify-content-center position-relative">
                    <div class="col-md-3 d-flex justify-content-center faq-img-container faq-bg-1">
                        <!-- <div class="ggg">

                        </div> -->
                        <!-- <img class="img-fluid" src="../../../../../assets/images/faq/5141102-new.png" alt=""> -->
                    </div>
                    <div class="col-md-6">
                        <app-single-faq  *ngFor="let faq of faqs" [faq]="faq"></app-single-faq>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center faq-img-container faq-bg-2">
                        <!-- <div class="ggg">

                        </div> -->
                        <!-- <img class="img-fluid" src="../../../../../assets/images/faq/5141098-new.png" alt=""> -->
                    </div>
                </div>
                
            </div>
        </div>
    </section>

</div>

