  <!-- =============================================================================================================== -->

  <!-- Loading Screen -->

  <div id="loading-screen" class="w-100 vh-100 position-fixed d-flex justify-content-center align-items-center">
    <div class="spinner">
      <div class="cube1"></div>
      <div class="loading-logo text-center"><img class="img-fluid" src="../../../assets/images/GP4.png" alt=""></div>
      <div class="cube2"></div>
    </div>
  </div>

  <!-- =============================================================================================================== -->
