// Colors Variables
// $mainColor:#34B0DE;
// $mainColor2:linear-gradient(180deg, rgba(36,105,120,1) 0%, rgba(71,179,203,1) 100%);
// $mainColor3:linear-gradient(120deg, rgba(12, 249, 229, 0.7), rgba(90, 132, 235, 0.7));
// $mainColor4:rgb(13, 260, 300);
// $mainColor5:rgba(90, 132, 235, 1);
// $mainColor6:#42A9C0;
// $lightGreyColor:#EEF0F2;
// $lightGrey2Color:#b9b9b9;
// $whiteColor:white;
// $text: rgba(36,105,120,1);

// #2AA5DE
// #067AC2
$mainColor:rgb(52, 142, 199);
$mainColor2:linear-gradient(180deg, rgba(13,134,207,1) 0%, rgb(118, 181, 230)100%);
$mainColor3:linear-gradient(120deg, rgba(12, 249, 229, 0.7), rgba(90, 132, 235, 0.7));
$mainColor4:rgb(13, 260, 300);
$mainColor5:rgba(90, 132, 235, 1);
$mainColor6:#42A9C0;
$lightGreyColor:#EEF0F2;
$lightGrey2Color:#b9b9b9;
$whiteColor:white;
$text: rgba(13,134,207,1);