/* =======================================================( Global Styles )======================================================= */

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Roboto+Condensed:wght@700&family=Source+Sans+Pro:wght@400;700&family=Tajawal&display=swap');

@import './colors.scss';


// global styles
body {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  outline: none !important;
  text-decoration: none !important;
}

.title {
  margin-bottom: 3rem;
  font-family: 'Roboto Condensed', sans-serif;

  h2 {
    font-size: 3rem;
  }
}

.big-rounded {
  border-radius: 1.5rem !important;
}

.head-title {
  font-weight: 900;
}

.arabic-font {
  font-family: 'Cairo', sans-serif;
}

.default-img {
  background-color: #E0E2E2;
}

.search-icon {
  font-size: 100px;
  color: $mainColor6;
}

.search-empty-content {
  p {
      font-size: 1rem;
      margin-top: 5px !important;
      margin-bottom: 5px !important;
  }
}

/* =======================================================( Cart Spinner )======================================================= */


// cart spinner
.cart-spinner {
  width: 30px;
  height: 30px;
  // margin: 10px auto;
  background-color: #2A7687;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}



/* =======================================================( Media Query )======================================================= */

@media (width <=768px) {
  .title {
    h2 {
      font-size: 2rem;
    }
  }
}
