@import "../../../styles.scss";


.bg-fixed-nav {
    background: $mainColor2;
}

.navbar-brand img {
    width: 200px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: $mainColor;
}

.text-main5 {
    color: $mainColor5;
}

.contact-us-rounded-en {
    border-bottom-left-radius: 1.25rem !important;
    border-top-left-radius: 1.25rem !important;
}

.contact-us-rounded-ar {
  border-bottom-right-radius: 1.25rem !important;
  border-top-right-radius: 1.25rem !important;
}

.dropdown-toggle:hover + .dropdown-menu {
    display: block;
}

.dropdown-menu:hover {
    display: block;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: $mainColor5;
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,1);
}

.navbar-nav.rounded {
    border-radius: 1.5rem!important;
}

.contact-us {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 2px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 3px 1px;
}

.fixed-nav {
    transition: all 1s;
}

.cart-num {
    top: -8px;
    left: 12px;
    font-size: 10px;
    width: 20px;
    height: 20px;
    background-color: #ff8c00;
}

.active-link{
    color: $mainColor!important;
    font-weight: bolder;
}

.link-hover::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    background: $mainColor2;
    // animation: animate 5s linear infinite;
    transition: 1.5s;

}
.link-hover:hover::before{
    right: 0%;
    // animation: animate 3s linear infinite;
}

.nav-item {
    position: relative;
    overflow: hidden;
}

@keyframes animate {
    0% {
        right: 0;
    }

    50% {
        right: 100%;
    }

    0% {
        right: 0;
    }
}

nav {
  padding-top: 48px;
}

.z-index-high {
  z-index: 99;
}

.dropdown-toggle::after {
  display:none;
}

.dropdown-item:hover {
  background-color: #f4f5fa;
  color: #000;
}














.view-cart-btn {
  background-color: #24aeb1;
border-color: #24aeb1;
&:hover {
  background-color: #1e9092;
  border-color: #1e9092;
}
}

.checkout-btn {
  background-color: #eb3a7b;
border-color: #eb3a7b;
  &:hover {
    background-color: #cd336c;
    border-color: #cd336c;
  }
}




.cart-medicine-img {
  cursor: pointer;
  img {
    width: 40px;
    height: 40px;
  }
}

.cart-price {
  font-size: 1.5rem;
}
.cart-items {
  i {
    cursor: pointer;
    // font-size: 1rem;
  }
  min-width: 300px;

  border-top: 2px solid rgb(91, 91, 91);
}


.cart-items-en {
  right: 15%;
}

.cart-items-ar {
  left: 15%;
}

.cart-medicine-qty {
  i {
    font-size: .7rem;
  }
}

p {
  &.cart-medicine-name {
    cursor: pointer;
    transition: all .4s ease;
    &:hover {
      color: $mainColor;
    }
  }
}
.empty.cart-items-en::before {
  right: var(--right, 44%);
}

.cart-items-ar::before {
  right: var(--right, 44%) !important;
}

.empty.cart-items-ar::before {
  right: var(--right, 44%) !important;
}

// .cart-items-ar::before, .cart-items-en::before{
//   position: absolute;
//   content: "";
//   width: 0;
//   height: 0;
//   top: -12px;
//   right: var(--right,44%);
//   border-left-width: 6px;
//   border-left-color: transparent;
//   border-right-width: 6px;
//   border-right-color: transparent;
//   border-top-color: rgb(91, 91, 91) !important;
//   border-bottom-color: rgb(91, 91, 91) !important;
//   border-bottom-width: 6px;
//   border-top-width: 0;
//   border-style: solid;
//   transform: translateX(-50%) translateY(100%);
//   transition: all .35s;
// }

// .cart-icon {
//   position: relative;

//   &::after {
//     display: none;
//     position: absolute;
//     content: "";
//     width: 0px;
//     height: 0px;
//     bottom: -1px;
//     left: 55%;
//     border-left-width: 6px;
//     border-left-color: transparent;
//     border-right-width: 6px;
//     border-right-color: transparent;
//     border-top-color: rgb(91, 91, 91) !important;
//     border-bottom-color: rgb(91, 91, 91) !important;
//     border-bottom-width: 6px;
//     border-top-width: 0;
//     border-style: solid;
//     transform: translateX(-50%) translateY(100%);
//     transition: all .35s;
//   }
// }

.cart-btn-icon {
  &:hover {
    .cart-icon {
      .cart-arrow {
        display: block !important;
      }
    }
  }
}

.remove-icon-english {
  margin-right: 0.5rem;
}

.remove-icon-arabic {
  margin-left: 0.5rem;
}


// .cart-items:hover + .cart-btn-icon i.cart-icon {
//   color: #24aeb1;
// }
// .cart-items:hover ~ .cart-btn-icon .cart-icon {
//   color: red;
// }

.cart-items:hover + .cart-btn-icon .cart-icon {
  color: red;
}



.cart-arrow {
  display: none;
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  bottom: -1px;
  left: 55%;
  border-left-width: 6px;
  border-left-color: transparent;
  border-right-width: 6px;
  border-right-color: transparent;
  border-top-color: rgb(91, 91, 91) !important;
  border-bottom-color: rgb(91, 91, 91) !important;
  border-bottom-width: 6px;
  border-top-width: 0;
  border-style: solid;
  transform: translateX(-50%) translateY(100%);
  transition: all .35s;
}

.lang-dropdown {
  transform: translateX(-25%);
}

.tanant-dropdown {
  transform: translateX(50%);
}

.user-dropdown {
  transform: translateX(-40%);
}

.lang-dropdown-ar {
  transform: translateX(25%);
}

.tanant-dropdown-ar {
  transform: translateX(-50%);
}

.user-dropdown-ar {
  transform: translateX(40%);
}

.dropdown-toggle {
  padding-bottom: 5px;
}

.dropdown-menu {
  margin-top: -3px;
}



// @media (width <768px) {
//   .cart-items-ar::before, .cart-items-en::before {
//     display: none;
//   }
// }
