<div class="navbar-component" [dir]=" 'dir' | translate " [lang]="lang">
  <div class="bg-fixed-nav fixed-nav start-0 end-0 position-fixed z-index-high" #navbar>
    <div class="container py-2 text-white d-flex fixed-nav-container">
      <div [ngClass]="rtlDir?'ms-auto':'me-auto'">
        <div class="d-inline" *ngIf="!is_login">
          <!-- <span class="d-md-inline d-none" >
            <a class="text-decoration-none text-white fw-bold" routerLink="/auth/Login">{{'navbar.Login'
              | translate}}</a>
            <span class="mx-1">|</span>
            <a class="text-decoration-none text-white fw-bold" routerLink="/auth/Register">{{'navbar.Register' |
              translate}}</a>
          </span> -->
          <span class="d-inline">
            <a class="text-decoration-none text-white fw-bold" routerLink="/auth/Login"><i class="fa-solid fa-right-to-bracket mx-2 d-none d-sm-inline"></i>{{'navbar.Login'
              | translate}}</a> 
              <span class="px-3 d-inline d-sm-none">|</span>
          </span>
        </div>
        <div class="d-inline" *ngIf="is_login">
          <span>
            <a class="text-decoration-none text-white fw-bold rounded-circle dropdown-toggle" role="button"><img class="rounded-circle" [src]="userPhoto" width="30px" height="30px" alt="User image"></a>
            <ul class="dropdown-menu animate__animated animate__fadeIn" [ngClass]="{'user-dropdown': !rtlDir, 'user-dropdown-ar': rtlDir}">
              <li><a class="dropdown-item text-center fw-bold" routerLink="/my-profile"><i class="fa-solid fa-user px-2"></i>{{'navbar.my-profile'
                | translate}}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="text-decoration-none text-dark fw-bold dropdown-item text-center" style="cursor: pointer;" (click)="logout()" ><i class="fa-solid fa-right-from-bracket px-2"></i>{{'navbar.logout'
                | translate}}</a></li>
            </ul>
              <!-- <span class="mx-1">|</span>
              <a class="text-decoration-none text-white fw-bold" style="cursor: pointer;" (click)="logout()" >{{'navbar.logout'
                | translate}}</a> -->
          </span>
        </div>
        <span class="px-1 d-none d-md-inline">|</span>
        <span class="d-none d-md-inline">
          <a class="text-white" href="{{contacts?.facebook}}"><i class=" px-2 fa-brands fa-facebook-f"></i></a>
          <a class="text-white" href="{{contacts?.instagram}}"><i class=" px-2 fa-brands fa-instagram"></i></a>
          <a class="text-white" href="{{contacts?.twitter}}"><i class="px-2 fa-brands fa-twitter"></i></a>
        </span>
      </div>
      <div [ngClass]="rtlDir?'me-auto':'ms-auto'">
        <span>
          <!-- <select name="" id="" (change)="translate($event)">
            <option value="en">English</option>
            <option value="ar">Arabic</option>
          </select> -->
          <!-- <a class="text-decoration-none text-white fw-bold px-2" href="#">العربية<i
              class="ps-2 fa-solid fa-globe"></i></a> -->
          <!-- [ngClass]="rtlDir?'d-block' : 'd-none'" -->
          <div class="dropdown d-inline ">
            <div class="d-inline dropdown-toggle">
              <div class="d-inline" [ngClass]="!rtlDir?'d-none' : 'd-inline'">
                <button  value="ar"
                  class="bg-transparent border-0 text-white fw-bold px-2">العربية<i
                    class="px-2 fa-solid fa-globe"></i></button>
              </div>
              <!-- [ngClass]="rtlDir?'d-none' : 'd-block'" -->
              <div class="d-inline" [ngClass]="!rtlDir?'d-inline' : 'd-none'">
                <button  value="en"
                  class="bg-transparent border-0 text-white fw-bold px-2">English<i class="px-2 fa-solid fa-globe"></i></button>
              </div>
            </div>
            <ul class="dropdown-menu text-center animate__animated animate__fadeIn" [ngClass]="{'lang-dropdown': !rtlDir, 'lang-dropdown-ar': rtlDir}">
              <div class="dropdown-item" (click)="translate('ar')">
                <button value="ar"
                  class="bg-transparent border-0 text-dark fw-bold px-2">العربية</button>
              </div>
              <!-- [ngClass]="rtlDir?'d-none' : 'd-block'" -->
              <li><hr class="dropdown-divider"></li>
              <div class="dropdown-item" (click)="translate('en')">
                <button value="en"
                  class="bg-transparent border-0 text-dark fw-bold px-2">English</button>
              </div>
              <!-- <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </div>
          <!-- <div class="d-inline">
            <button [ngClass]="rtlDir?'d-none' : 'd-inline'" value="ar" (click)="translate('ar')"
              class="bg-transparent border-0 text-dark fw-bold px-2">العربية<i
                class="ps-2 fa-solid fa-globe"></i></button>
          </div> -->
          <!-- [ngClass]="rtlDir?'d-none' : 'd-block'" -->
          <!-- <div class="d-inline">
            <button [ngClass]="rtlDir?'d-inline' : 'd-none'" value="en" (click)="translate('en')"
              class="bg-transparent border-0 text-dark fw-bold px-2">EN<i class="ps-2 fa-solid fa-globe"></i></button>
          </div> -->
          <span >|</span>
          <div class="dropdown d-inline">
            <a class="text-decoration-none text-white fw-bold px-2 dropdown-toggle" *ngIf="testCountry == 'https://benaahadees.com/mediBookiDashbord/public/api'">
              <i class="fa-solid fa-caret-down"></i>
              <span class="mx-1">EGY</span>
              <img class="rounded-circle mb-1" src="../../../assets/images/navbar-footer/egypt.png" width="20px"
                height="20px" alt="Country image">
            </a>
            <ng-container *ngFor="let tenant of allTenants">
              <a class="text-decoration-none text-white fw-bold px-2 dropdown-toggle" *ngIf=" testCountry == 'https://'+tenant.domain+'/mediBookiDashbord/public/api'">
                <i class="fa-solid fa-caret-down"></i>
                <span class="mx-1">{{tenant.name | uppercase}}</span>
                <img class="rounded-circle mb-1" [src]="tenant.logo" width="20px"
                  height="20px" alt="Country image">
              </a>
            </ng-container>
            <!-- <a class="text-decoration-none text-white fw-bold px-2 dropdown-toggle">
              <i class="fa-solid fa-caret-down"></i>
              <span class="mx-1">{{'navbar.oman' | translate}}</span>
              <img class="rounded-circle mb-1" src="../../../assets/images/navbar-footer/egypt.png" width="20px"
                height="20px">
            </a> -->
                <ul class="dropdown-menu text-center animate__animated animate__fadeIn" [ngClass]="{'tanant-dropdown': !rtlDir, 'tanant-dropdown-ar': rtlDir}">
                  <li (click)="getCountry('benaahadees.com')"><a class="dropdown-item" href="">EGYPT</a></li>
                  <li *ngFor="let tenant of allTenants" (click)="getCountry(tenant.domain)"><a class="dropdown-item" href="">{{tenant.name | uppercase }}</a></li>
                  <!-- <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                </ul>
          </div>

              <span [ngClass]="{'d-none': !is_login}">|</span>
              <div class="d-inline mx-2 " *ngIf="is_login">
                  <button routerLink="/cart" class="bg-transparent border-0 text-white fw-bold px-2 dropdown-toggle cart-btn-icon">
                    <i class="fa-solid fa-cart-shopping position-relative cart-icon">
                      <span class="cart-num text-white rounded-circle position-absolute text-center d-flex justify-content-center align-items-center ">{{cartQty}}</span>
                      <div class="cart-arrow animate" [ngClass]="isVisibleCartArrow?'d-block':'d-none'"></div>
                    </i>
                  </button>
                  <div class="dropdown-menu cart-items animate__animated animate__fadeIn" (mouseenter)="displayCartArrow(true)" (mouseleave)="displayCartArrow(false)" [ngClass]="{'cart-items-en': !rtlDir,'cart-items-ar': rtlDir,'empty': cartQty==0}">
                    <div *ngIf="cartQty>0">
                      <p class="px-3 text-secondary" [ngClass]="rtlDir?'text-end':'text-start'">{{'CartPage.TableTitle4' | translate}}: <span class="cart-price">${{medicinesPurchased.total}}</span></p>
                      <div class="d-flex justify-content-between align-items-center border-top border-bottom px-3 py-1" *ngFor="let medicine of medicinesPurchased.user_cart_items">
                        <div class="d-flex">
                          <div [routerLink]="['/pharmacy/medicineDetails' , medicine.id]" class="rounded mx-2 cart-medicine-img">
                            <img class="rounded" [src]="medicine.photo" alt="Medicine image">
                          </div>
                          <div class="px-3">
                            <p [routerLink]="['/pharmacy/medicineDetails' , medicine.id]" class="m-0 fw-bold cart-medicine-name" [ngClass]="rtlDir?'text-end':'text-start'">{{medicine.medicine_name}}</p>
                            <p class="m-0 cart-medicine-qty" [ngClass]="rtlDir?'text-end':'text-start'"><span class="text-secondary" [ngClass]="rtlDir?'text-end':'text-start'"><span>{{medicine.qty}}</span> <i class="fa-solid fa-xmark mx-1"></i> </span> <span class="text-danger">{{medicine.price}}{{'SharedData.Currency' | translate}}</span></p>
                          </div>
                        </div>


                        <div>
                          <i  (click)="removeCart(medicine.id)" class="fa-solid fa-xmark" *ngIf="selectedDeleteMedicine!=medicine.id" [ngClass]="rtlDir? 'remove-icon-arabic' : 'remove-icon-english'"></i>
                          <div class="cart-spinner" *ngIf="isVisibleDeleteSpinner && selectedDeleteMedicine==medicine.id"></div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-around py-2 px-1">
                        <button routerLink="/cart" type="button" class="btn rounded-pill text-white text-uppercase px-4 py-2 view-cart-btn">{{'navbar.viewCartBtn' | translate}}</button>
                        <button routerLink="/cart/checkout" type="button" class="btn rounded-pill text-white text-uppercase px-4 py-2 checkout-btn">{{'navbar.checkoutBtn' | translate}}</button>
                      </div>
                    </div>
                    <div class="p-5 text-center" *ngIf="cartQty==0">
                      <i class="fa-solid fa-xmark fs-1 text-danger"></i>
                      <p>{{'CartPage.EmptyCart.Title' | translate}}</p>
                    </div>
                  </div>


          </div>

        </span>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/home"><img src="../../../assets/images/MediBooki_Colors.png" alt="Logo image" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link link-hover justify-content-center d-flex" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/home" [routerLinkActive]="['active-link']">{{'navbar.navlink1' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-hover justify-content-center d-flex" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" [routerLink]="['/articles']" [routerLinkActive]="['active-link']">{{'navbar.navlink2' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-hover justify-content-center d-flex" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/specializations" [routerLinkActive]="['active-link']">{{'navbar.navlink3' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-hover justify-content-center d-flex" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/pharmacy" [routerLinkActive]="['active-link']">{{'navbar.navlink4' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-hover justify-content-center d-flex" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/joinus" [routerLinkActive]="['active-link']">{{'navbar.navlink5' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-hover justify-content-center d-flex" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/doctors"
              [routerLinkActive]="['active-link']">{{'navbar.navlink6' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-hover justify-content-center d-flex" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/faq" [routerLinkActive]="['active-link']">{{'navbar.navlink7' | translate}}</a>
          </li>
          <li class="nav-item text-center d-md-none">
              <a class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/auth/Login">{{'navbar.Login'
                | translate}}</a>
          </li>
          <li class="nav-item text-center d-md-none">
              <a class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/auth/Register">{{'navbar.Register' |
                translate}}</a>
          </li>
          <li class="nav-item text-center d-md-none">
            <span><i class=" px-2 fa-brands fa-facebook-f"></i><i class=" px-2 fa-brands fa-instagram"></i><i
              class="px-2 fa-brands fa-twitter"></i></span>
          </li>
        </ul>
        <span [ngClass]="rtlDir?'contact-us-rounded-ar' : 'contact-us-rounded-en'"
          class="contact-us bg-fixed-nav p-2 d-none d-lg-block"><a routerLink="/contactus"
            class="text-white fw-bold text-decoration-none"><i
              class="text-main5 bg-white p-1 me-1 rounded-circle fa-solid fa-phone"></i>{{'navbar.ContactUs' |
            translate}}</a></span>
      </div>
    </div>
  </nav>
</div>
