<app-spinner *ngIf="isVisibleSpinner"></app-spinner>
<div class="specialize-component animate" [dir]=" 'dir' | translate " [lang]="lang">
  <section class="wrapper">
      <!-- Sign-In-Sign-up section starts -->
    <div class="container main d-flex justify-content-center align-items-center min-vh-100">
      <div class="row login my-5">
        <div class="col-md-6 right d-flex justify-content-center align-items-center position-relative">
          <div class="input-box w-100">
            <form  [formGroup]="resetPasswordForm">
              <header class=" fw-bolder text-center fs-1 text-secondary my-5">{{ 'forgetPassword.reset' | translate }}</header>
              <!-- ////////////////////////////////////user name/////////////////////////////// -->
              <div class="row">
                <!-- ///////////////////////////////password//////////////////////////////////// -->
                <div class="input-field d-flex flex-column position-relative px-3 ">
                    <input type="{{ showPassword ? 'text' : 'password' }}" class="input w-100 bg-transparent mb-4" id="PasswordRegister" required autocomplete="off" formControlName="resetPassword">
                    
                    <label for="PasswordRegister" class=" position-absolute"><i class="fas fa-lock  px-2 fs-6"></i>{{ 'registerPage.password' | translate }}</label>
                    <i class="fa-solid {{showPassword ? 'fa-eye' : 'fa-eye-slash' }} text-center p-3 fs-6 position-absolute end-0" (click)="togglePassword()"></i>
                    <div *ngIf="resetPasswordForm.controls['resetPassword']?.invalid && resetPasswordForm.controls['resetPassword']?.touched && resetPasswordForm.controls['resetPassword']?.dirty">
                        <p id="PasswordRegisterError" class="text-danger" *ngIf="resetPasswordForm.controls['resetPassword']?.errors?.['pattern']">
                          {{'registerPage.error7'| translate}}
                        </p>
                        <p *ngIf="resetPasswordForm.controls['resetPassword']?.errors?.['required'] " class="text-danger">{{'registerPage.error'| translate}}</p>
                    </div>
                </div>
                <!-- ///////////////////////////////////confirmPassword//////////////////////////////// -->
                <div class="input-field d-flex flex-column position-relative px-3 ">
                    <input type="{{ showConfirmPassword ? 'text' : 'password' }}"  class="input w-100 bg-transparent mb-4" id="confirmPasswordRegister" required autocomplete="off" formControlName="resetConfirmPassword">
                    
                    <label for="confirmPasswordRegister" class=" position-absolute size"><i class="fas fa-lock px-2 fs-6"></i>{{ 'registerPage.confirmPassword' | translate }}</label>
                    <i class="fa-solid {{ showConfirmPassword? 'fa-eye' : 'fa-eye-slash' }} text-center p-3 fs-6 position-absolute end-0" (click)="toggleConfirmPassword()"></i>
                    <div *ngIf="resetPasswordForm.controls['resetConfirmPassword']?.touched && resetPasswordForm.controls['resetConfirmPassword']?.dirty">
                        <p id="PasswordRegisterError" class="text-danger"
                          *ngIf="password !== confirmPassword">
                          {{'registerPage.error6'| translate}}
                        </p>
                        <p *ngIf="resetPasswordForm.controls['resetConfirmPassword']?.errors?.['required'] " class="text-danger">{{'registerPage.error'| translate}}
                        </p>

                    </div>
                </div>

              <!-- /////////////////////////////////////////////////////////////////// -->
              <div class="row mb-3">
                  
                  <div class="input-field d-flex  position-relative justify-content-center align-items-center px-3">
                    <input type="submit" class="submit w-50 border-circle text-center " value="{{ 'forgetPassword.reset' | translate }}"  [disabled]="resetPasswordForm.invalid" (click)="forgetPassword()" id="submitBtn">
                    <!-- <a href="#" class=" text-decoration-none text-success forgotPassword fs-6 fw-bolder">Forgot password?</a> -->
                    
                  </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 side-image " [ngClass]="{'d-none': isSmallScreen}">
        <!-------Image-------->
        <!-- <img src="images/white.png" alt=""> -->
        <div class="text position-absolute top-50 " >
          <h2 class=" fw-bolder text-light">{{ 'loginPage.New here' | translate }}</h2>
          <span class="fst-italic text-info fs-5  fw-bolder">{{ 'loginPage.title_Patient' | translate }}</span>
          <i class=" fw-bolder fs-6 "><a routerLink="/Register" class="text-light w-50 text-decoration-none  mx-2 fs-6 fw-bolder">{{ 'loginPage.register' | translate }}</a></i>
        </div>
        <div class="layer"></div>
      </div>

    </div>
  </div>
</section>

</div>


